@import "colours";

.map-container {
  ul.nav {
    li.category {
      background-color: #585858;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      img {
        width: 20%;
        float: left;
        padding: 0 8px 0px 4px;

        &.icon {
          display: inline;
        }

        &.icon-selected {
          display: none;
        }
      }

      h3 {
        color: $white;
        cursor: pointer;
        font-size: 16px;
      }

      &.selected {
        background-color: $yellow;

        h3 {
          color: $black;
        }

        img {
          &.icon {
            display: none;
          }

          &.icon-selected {
            display: inline;
          }
        }
      }
    }

    ul {
      clear: both;
      color: $black;
      display: none;
      background-color: $white;
      border-left: solid 22px #E2E4E5;

      > li {
        padding: 8px;
        display: block;
        cursor: pointer;
        font-size: 16px;
        padding-left: 34px;
        border-top: solid 1px #E2E4E5;
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-position: 4px center;
        background-image: url(../../images/icon-radio-off.png);

        &.selected {
          text-decoration: underline;
          background-color: rgba(255, 207, 116, 0.4);
          background-image: url(../../images/icon-radio-on.png);
        }
      }
    }
  }

  &.detailed {
    ul.nav ul {
      display: block;
    }
  }
}
