@import "colours";

.map-container {
  ul.nav {
    li.category {
      background-color: #000;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      img {
        width: 20%;
        float: left;
        padding: 0 8px 0px 4px;
      }

      h2 {
        color: $white;
        cursor: pointer;
        font-size: 16px;
        padding-top: 4px;
      }
    }

    ul {
      clear: both;
      color: $black;
      background-color: $white;
      border-left: solid 22px #E2E4E5;

      > li {
        padding: 8px;
        display: none;
        cursor: pointer;
        font-size: 16px;
        padding-left: 34px;
        border-top: solid 1px #E2E4E5;
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-position: 4px center;
        background-image: url(../../images/icon-radio-off.png);

        &.selected {
          text-decoration: underline;
          background-color: #ffbf47;
          background-image: url(../../images/icon-radio-on.png);
          &:focus {
            outline: none;
          }
        }

        &:first-child {
          display: block;
        }
      }
    }
  }

  &.detailed {
    ul.nav ul > li {
      display: block;
    }
  }

  .map-switch {
    a:focus {
      outline: none;
      background: none;
    }
  }
}
