@import "colours";
@import "typography";
@import "css3";
@import "_nav";

h1.heading-xlarge {
  margin-bottom: 0;
}

h2.heading-medium {
  margin-top: 0.5em;
}

.map-container {
  @include media(mobile) {
    height: auto;
  }

  margin-top: 24px;
}

.legend {
  color: $white;
  padding: 14px;
  background-color: #4a4a4a;

  ul {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;

    li {
      margin-left: 15px;
      display: inline-block;
    }

    li::before {
      float: left;
      width: 20px;
      height: 20px;
      content: '';
      margin-right: 4px;
    }

    li.round::before {
      border-radius: 50%;
    }

    li.purple::before {
      background-color: #3D4489;
    }

    li.dark-blue::before {
      background-color: #6699CD;
    }

    li.blue::before {
      background-color: #A2CFFF;
    }

    li.light-blue::before {
      background-color: #C4E1FF;
    }

    li.green::before {
      background-color: #00FF21;
    }

    li.red::before {
      background-color: #CE0000;
    }

    li.white::before {
      background-color: #FFF;
    }

    li.arrow::before {
      content: '\2199';
    }
  }
}

.feature-popup {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}

.feature-popup:after, .feature-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.feature-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.feature-popup:before {
  border-top-color: #CCC;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.feature-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.feature-popup-closer:after {
  content: "✖";
}
