@import "colours";
@import "typography";
@import "css3";
@import "./nav";
@import "./overlay";

#map-page {
  h1.heading-xlarge {
    margin-bottom: 0;
  }

  .map {
    height: 700px;

    @include media(tablet) {
      border: solid $yellow;
      border-width: 2px 2px 2px 10px;
    }
  }

  .map-container {
    margin: 24px 0;
    background-color: #E2E4E5;

    @include media(mobile) {
      height: auto;
    }

    @include media(tablet) {
      padding: 15px;
    }

    .lhs {
      width: 215px;
      float: left;
      @include media(mobile) {
        display: none;
      }
    }

    .rhs {
      position: relative;

      @include media(tablet) {
        margin-left: 215px;
      }

      @include media(tablet) {
        padding-left: 0;
      }

      @include media(tablet) {
        .controls {
          position: absolute;
          top: 2px;
          right: 2px;
          width: 100px;
          bottom: 2px;
          text-align: center;
        }
      }

      .controls {
        padding: 14px;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.9);

        .heading-small {
          font-size: medium;
        }

        .legend {
          .subtitle {
            font-size: 14px;
          }

          ul {
            font-size: 14px;
            display: inline-block;

            li::before {
              width: 50px;
              height: 50px;
              content: '';
              display: inline-block;
            }

            li.round::before {
              border-radius: 50%;
            }

            li.purple::before {
              background-color: #3D4489;
            }

            li.dark-blue::before {
              background-color: #6699CD;
            }

            li.blue::before {
              background-color: #A2CFFF;
            }

            li.light-blue::before {
              background-color: #C4E1FF;
            }

            li.green::before {
              background-color: #00FF21;
            }

            li.red::before {
              background-color: #CE0000;
            }

            li.white::before {
              background-color: #FFF;
              border: solid 2px #b9b9b9;
            }

            li.arrow::before {
              content: '\003C';
              font-size: x-large;
              -webkit-transform: rotate(30deg);
              -moz-transform: rotate(30deg);
              -o-transform: rotate(30deg);
              -ms-transform: rotate(30deg);
              transform: rotate(30deg);

              @include media(mobile) {
                line-height: 20px;
              }
              @include media(tablet) {
                line-height: 65px;
              }
            }

            @include media(tablet) {
              li {
                margin-bottom: 10px;
              }
            }

            @include media(mobile) {
              li {
                margin-right: 10px;
                display: inline-block;

                &::before {
                  width: 20px;
                  height: 20px;
                  vertical-align: middle;
                }

                div {
                  display: inline;
                  margin-left: 3px;
                  vertical-align: middle;
                }
              }
            }
          }

          @include media(mobile) {
            strong {
              margin-right: 10px;
            }
          }
        }

        @include media(tablet) {
          .print {
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
          }
        }
      }

      @include media(tablet) {
        .ol-full-screen, .ol-attribution {
          right: 135px;
        }
      }
    }

    .map-switch {
      font-size: 16px;
      margin-bottom: 10px;

      a {
        color: $black;
        cursor: pointer;
      }

      img {
        width: 60px;
        vertical-align: middle;

        &.detailed {
          display: none;
        }
      }
    }

    &.detailed {
      .map-switch {
        img.basic {
          display: none;
        }
        img.detailed {
          display: inline;
        }
      }
    }
  }

  .map:-webkit-full-screen {
    .ol-full-screen, .ol-attribution {
      right: 0.25em;
    }
  }

  .map:-moz-full-screen {
    height: 100%;
    width: 100%;
  }

  .map:-webkit-full-screen {
    height: 100%;
    width: 100%;
  }

  .map:-ms-fullscreen {
    height: 100%;
    width: 100%;
  }

  .map:fullscreen {
    height: 100%;
    width: 100%;
  }

  .ol-rotate {
    top: 3em;
  }

  .eu-directive {
    color: $secondary-text-colour;
  }
}
