@import "colours";
@import "typography";
@import "css3";

h1.heading-xlarge {
  margin-bottom: 30px;
}

.postcode-display {
  display: inline-block;
  margin: 0 10px 20px 0;
  text-transform: uppercase;
}

.button {
  @include media(mobile) {
    width: 100%;
  }
}
