<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper vlow card-padding-left">
    <h2 class="govuk-summary-card__title card-title__font-size">Other flood risks</h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="/ground-water">
          More about groundwater and reservoirs
      </a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Groundwater
        </dt>
        <dd class="govuk-summary-list__value">
          {% if isGroundwaterArea %}
          Flooding is possible when groundwater levels are high.
          {% else %}
          Flooding from groundwater is unlikely in this area.
          {% endif %}
          <br><br>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Reservoirs
        </dt>
        <dd class="govuk-summary-list__value">
          {% if reservoirRisk %}
          There is a risk of flooding from reservoirs in this area.
          {% else %}
          Flooding from reservoirs is unlikely in this area.
          {% endif %}
        </dd>
      </div>
  </div>
