<div class="govuk-summary-card govuk-!-margin-top-3" id="surface-water">
  <div class="govuk-summary-card__title-wrapper vlow card-padding-left">
    <h2 class="govuk-summary-card__title card-title__font-size">Surface water</h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="/surface-water">
          More about your surface water flood risk
      </a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width: 100%;">
          Yearly chance of flooding
              <div class="risk-label-group govuk-!-margin-bottom-3">
                {% if surfaceWaterRisk === "Very Low" %}
                <strong class="govuk-tag govuk-tag--Very-Low label-mod label-border">
                  Very low<span class="govuk-visually-hidden"> within a scale of very low, low, medium and high.</span>
                </strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
                  Very low
                </strong>
                {% endif %}

                {% if surfaceWaterRisk === "Low" %}
                <strong class="govuk-tag govuk-tag--Low label-mod label-border">
                  Low<span class="govuk-visually-hidden"> within a scale of very low, low, medium and high.</span>
                </strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
                  Low
                </strong>
                {% endif %}

                {% if surfaceWaterRisk === "Medium" %}
                <strong class="govuk-tag govuk-tag--Medium label-mod label-border">
                  Medium<span class="govuk-visually-hidden"> within a scale of very low, low, medium and high.</span>
                </strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
                  Medium
                </strong>
                {% endif %}

                {% if surfaceWaterRisk === "High" %}
                <strong class="govuk-tag govuk-tag--High label-mod label-border">
                  High<span class="govuk-visually-hidden"> within a scale of very low, low, medium and high.</span>
                </strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
                  High
                </strong>
                {% endif %}
              </div>
          </dt>
      </div>
    
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What surface water is
          <p class="govuk-body govuk-!-margin-top-2">Surface water flooding is sometimes known as flash flooding. It happens when rainwater cannot drain away through normal drainage systems.
          </p>
          <details class="govuk-details govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Why surface water flooding is a problem
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">Surface water flooding is a problem because:</p>
              <ul class="govuk-list--bullet">
                <li>it often happens in places you don't expect, like up hills</li>
                <li>it's hard to predict, as heavy rain sometimes only affects a small part of an area</li>
                <li>where there's lots of tarmac and concrete the water has nowhere to go</li>
              </ul>
            </div>
          </details>
          </dt>
       </div>
      
      
      </div>
</div>
