<div id="defra-map-controls">

  <!-- Exit button -->
  <button class="defra-map__exit" id="exit-map" data-backlink="{{ backLink }}">
    <svg id="exit-btn" aria-hidden="true" focusable="false" viewBox="0 0 20 20">
      <use xlink:href="{{ assetPath }}/images/exit-arrow.svg#exit-icon"/>
    </svg>
    <span id="exit-text">Exit map</span>
  </button>

  <!-- Advanced options button -->
  <button class="defra-map__advanced" id="advanced-key-button">
    <!-- I have left the below SVG in as it is dymnamic -->
    <svg id="advanced-btn" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
      <path id="advanced-button-image"
        d="m3.485 15.126-.971 1.748 9 5a1 1 0 0 0 .971 0l9-5-.971-1.748L12 19.856ZM20 8V6h2V4h-2V2h-2v2h-2v2h2v2zM2.513 12.833l9.022 5.04a.995.995 0 0 0 .973.001l8.978-5a1 1 0 0 0-.002-1.749l-9.022-5a1 1 0 0 0-.968-.001l-8.978 4.96a1 1 0 0 0-.003 1.749z">
      </path>
    </svg>
    <span id="advanced-button-text">Show advanced options</span>
  </button>

  <!-- map controls bottom -->
  <div class="defra-map-controls-bottom">

    <!-- open map on mobile -->
    <button class="defra-map__open-key hide" focusable="true" id="open-key">
      <div class="button-content">
        <svg id="open-btn" viewBox="0 0 2 2" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
          <use xlink:href="{{ assetPath }}/images/open-key.svg#open-icon"/>
        </svg>
      <span class="govuk-visually-hidden">open</span><span class="open-button-text">Key</span>
    </div>
    </button>

    <img id="os-logo" class="defra-map-os-logo" alt="Ordnance Survey logo" 
      src="{{ assetPath }}/images/os-logo-maps.svg">

    <div class="defra-map-info__container hide" id="copyright-info-container-top">
      <div id="infoContent" class="defra-map-info__content">
        <div id="infoDescription" >
          <p id="copyright-text"><a class="govuk-link"
            href="https://check-long-term-flood-risk.service.gov.uk/os-terms" previewlistener="true">Contains OS
            data</a><span id="copyright-text-span"> © Crown copyright and database rights {{year}}</span>
          </p>
        </div>
      </div>
    </div>

    <div class="scenarios">

    <!-- Depth scenarios -->
    <div class="defra-map-scenarios horizontal-overflow scenario-float-right v6-width-fix-depth hide"
      id="scenario-container-depth">

      <div class="scenario-arrows left-scenario-arrow hide">
        <svg class="arrow-svg">
          <use xlink:href="{{ assetPath }}/images/left-chevron.svg#arrow"/>
        </svg>
      </div>

      <div class="scenario-arrows right-scenario-arrow">
        <svg class="arrow-svg">
          <use xlink:href="{{ assetPath }}/images/right-chevron.svg#arrow"/>
        </svg>
      </div>

      <div class="defra-map-scenarios-v3_container" id="scenarios-controls-depth">
        <div class="govuk-radios govuk-radios--small hide" id="scenario-selection-depth" data-module="govuk-radios">
          <div id="high-risk-depth" class="govuk-radios__item selected-scenario">
            <input class="risk-radio govuk-radios__input govuk-radios__inputs scenario-radio-button" id="risk-radio-high-depth"
              name="scenarios-depth" type="radio" value="{{maps.categories[1].maps[1].ref}}" checked="">
            <label class="govuk-label govuk-radios__label" for="risk-radio-high-depth">
              <strong class="scenario-heading">High</strong>
              <span class="risk-context-v3">3.3% chance each year</span>
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="risk-radio govuk-radios__input govuk-radios__inputs scenario-radio-button" id="risk-radio-medium-depth"
              name="scenarios-depth" type="radio" value="{{maps.categories[1].maps[3].ref}}">
            <label class="govuk-label govuk-radios__label" for="risk-radio-medium-depth">
              <strong class="scenario-heading">Medium</strong>
              <span class="risk-context-v3">1% chance each year</span>
            </label>
          </div>
          <div id="low-risk-depth" class="govuk-radios__item" id="low-depth-label">
            <input class="risk-radio govuk-radios__input govuk-radios__inputs scenario-radio-button" id="risk-radio-low-depth"
              name="scenarios-depth" type="radio" value="{{maps.categories[1].maps[5].ref}}">
            <label class="govuk-label govuk-radios__label" for="risk-radio-low-depth">
              <strong class="scenario-heading">Low</strong>
              <span class="risk-context-v3">0.1% chance each year</span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- Velocity scenarios -->
    <div class="defra-map-scenarios horizontal-overflow scenario-float-right v6-width-fix hide"
      id="scenario-container-velocity">

      <div class="scenario-arrows left-scenario-arrow hide">
        <svg class="arrow-svg">
          <use xlink:href="{{ assetPath }}/images/left-chevron.svg#arrow"/>
        </svg>
      </div>

      <div class="scenario-arrows right-scenario-arrow">
        <svg class="arrow-svg">
          <use xlink:href="{{ assetPath }}/images/right-chevron.svg#arrow"/>
        </svg>
      </div>
      
      <div class="defra-map-scenarios-v3_container" id="scenarios-controls-velocity">
        <div class="govuk-radios govuk-radios--small hide" id="scenario-selection-velocity" data-module="govuk-radios">

          <div class="govuk-radios__item selected-scenario">
            <input class="risk-radio govuk-radios__input govuk-radios__inputs scenario-radio-button" id="risk-radio-high-velocity"
              name="scenarios-velocity" type="radio"
              value="{{maps.categories[1].maps[2].ref}}" checked="">
            <label class="govuk-label govuk-radios__label" for="risk-radio-high-velocity">
              <strong class="scenario-heading">High</strong>
              <span class="risk-context-v3">3.3% chance each year</span>
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="risk-radio govuk-radios__input govuk-radios__inputs scenario-radio-button" id="risk-radio-medium-velocity"
              name="scenarios-velocity" type="radio"
              value="{{maps.categories[1].maps[4].ref}}">
            <label class="govuk-label govuk-radios__label" for="risk-radio-medium-velocity">
              <strong class="scenario-heading">Medium</strong>
              <span class="risk-context-v3">1% chance each year</span>
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="risk-radio govuk-radios__input govuk-radios__inputs scenario-radio-button" id="risk-radio-low-velocity"
              name="scenarios-velocity" type="radio"
              value="{{maps.categories[1].maps[6].ref}}">
            <label class="govuk-label govuk-radios__label" for="risk-radio-low-velocity">
              <strong class="scenario-heading">Low</strong>
              <span class="risk-context-v3">0.1% chance each year</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="defra-map-info__container" id="copyright-info-container-bottom">
      <div id="infoContent" class="defra-map-info__content">
        <div id="infoDescription" >
          <p id="copyright-text"><a class="govuk-link"
            href="https://check-long-term-flood-risk.service.gov.uk/os-terms" previewlistener="true">Contains OS
            data</a><span id="copyright-text-span"> © Crown copyright and database rights {{year}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>