<p class="govuk-body">
  This information is suitable for identifying:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>which parts of streets or parcels of land are at risk, or have the most risk</li>
  <li>the extent, depth and approximate velocity of flooding</li>
</ul>

<p class="govuk-body">
  It's very likely to be reliable for identifying the risk to:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>local areas of land</li>
  <li>individual properties - though not whether they will flood internally</li>
</ul>