@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tmshys');
  src:  url('../fonts/icomoon.eot?tmshys#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tmshys') format('truetype'),
    url('../fonts/icomoon.woff?tmshys') format('woff'),
    url('../fonts/icomoon.svg?tmshys#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fa-"], [class*=" fa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .fa-search:before {
  content: "\e900";
}
.fa-expand:before {
  content: "\e902";
}
.fa-compress:before {
  content: "\e903";
}
.fa-airplane:before {
  content: "\e901";
}
.fa-road:before {
  content: "\e904";
}
.fa-earth:before {
  content: "\e905";
} */
.fa-envelop:before {
  content: "\e945";
}
.fa-facebook:before {
  content: "\ea90";
}
.fa-twitter:before {
  content: "\ea96";
}
/* .fa-close:before {
  content: "\e906";
}
.fa-filter:before {
  content: "\e907";
} */
