.at-risk {
  .column-quarter {
    img {
      max-width: 100%;
      max-height: 140px;
      vertical-align: middle;
      @include media(tablet) {
        float: right;
      }
    }
  }

  ol {
    counter-reset: section;
    list-style-type: none;
    padding-left: 0;

    @include media(mobile) {
      padding-left: 50px;
    }

    >li {
      position: relative;
      &::before {
        counter-increment: section;
        content: counter(section);
        font-size: 3em;
        position: absolute;
        left: -45px;
        font-weight: bold;
        top: -6px;
      }
    }
  }
}