@import "colours";
@import "typography";
@import "css3";

#risk-page {
  .risk {
    header {
      padding: 10px;

      address {
        font-style: normal;
      }

      img {
        float: right;
        height: 100px;
        max-width: 50%;
      }
    }

    &.at-risk header {
      background-color: #FFBF47;

      address {
        color: #000;
        font-style: normal;
      }
    }

    &.low-risk {
      header {
      background-color: #28A197;

        address {
          color: #fff;
          font-style: normal;
        }
      }
      article {
        padding: 20px 20px 30px 20px;
      }
      .list-bullet {
        margin-left: 15px;
      }
    }

    article {
      padding: 10px;
      border: solid 5px #000;

      .heading-large {
        margin-top: 0.75em;
      }

      .heading-medium {
        margin-top: 0.75em;
      }

      .column-quarter {
        img {
          max-width: 100%;
          max-height: 140px;
          vertical-align: middle;
          float: right;
        }
      }

      .column-three-quarters {
        .panel {
          margin-bottom: 45px;
        }
        ol {
          .panel {
            padding-top: 0px;
            padding-bottom: 0px;
          }
        }

      }

      ol {
        counter-reset: section;
        list-style-type: none;
        padding-left: 0;

        @include media(mobile) {
          padding-left: 50px;
        }

        >li {
          position: relative;
          &::before {
            counter-increment: section;
            content: counter(section);
            font-size: 3em;
            position: absolute;
            left: -45px;
            font-weight: bold;
            top: -6px;
          }
        }
      }
    }



    #risk-detail {
      .column-quarter {
        img {
          width: 90px;
          @include media(tablet) {
            float: right;
          }
        }
      }
    }
  }
}

.js-enabled {
  #risk-detail {
    display: none;
  }
}

.risk.detail {
  #risk-summary {
    display: none;
  }
  #risk-detail {
    display: block;
  }
}
