
<details class="govuk-details govuk-!-margin-bottom-6 govuk-!-margin-top-2" data-module="govuk-details">
  <summary class="govuk-details__summary" aria-label="Open dropdown for further information on the flood ratings.">
    <span class="govuk-details__summary-text">
      What the flood risk ratings mean
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">'High' means more than 3.3% chance of a flood each year.</p>

    <p class="govuk-body">'Medium' means between 1% and 3.3% chance of a flood each year.</p>

    <p class="govuk-body">'Low' means between 0.1% and 1% chance of a flood each year.</p>

    <p class="govuk-body">'Very low' means less than 0.1% chance of a flood each year.</p>
  </div>
</details>
