<div class="govuk-summary-card govuk-!-margin-top-3 surface-water">
  <div class="govuk-summary-card__title-wrapper {{ surfaceWaterClassName }}">
    <h2 class="govuk-summary-card__title">Surface water<span class="chance-content risk">{{ surfaceWaterTitle }} of flooding</span></h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How likely a flood is
        </dt>
        <dd class="govuk-summary-list__value risk-description">
          {% if surfaceWaterTextName %}
        {% include surfaceWaterTextName %}
        {% endif %}
          <br><br>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary" data-journey-click="ltfri:risk:surface-water-details">
              <span class="govuk-details__summary-text">
                What makes an area more likely to flood from surface water
              </span>
            </summary>
            <div class="govuk-details__text">
              <p> Surface water flooding is sometimes known as flash flooding. It happens when rainwater cannot drain
                away through normal drainage systems.</p>
              <p> It can:</p>
              <ul class="govuk-list--bullet">
                <li>be difficult to predict as it depends on how much it rains and where</li>
                <li>happen up hills and away from rivers</li>
                <li>be worse in areas which have harder surfaces, like concrete</li>
              </ul>
            </div>
          </details>

        </dd>

      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          See your flood risk on a map
        </dt>
        <dd class="govuk-summary-list__value">
          <a class="govuk-link" href="/map?easting={{easting}}&northing={{northing}}&map=SurfaceWater" data-journey-click="ltfri:risk:surface-water-details">
            View the map to see information on:
          </a>
          <ul class="govuk-list--bullet">
            <li>where any flood water might spread to (extent of flooding)</li>
            <li>how deep any flood water could be (depth of flooding)</li>
            <li>the speed and direction of any flood water (velocity)</li>
          </ul>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Manage your flood risk
        </dt>
        <dd class="govuk-summary-list__value">
          <!-- An area can still be at risk of flooding even if it has not flooded in the past. -->
          <!-- <br><br> -->
          An area can still be at risk of flooding even if it has not flooded in the past.
          <br><br>
          You should:
          <ul class="govuk-list--bullet">
            <li>find out what you can do to <a class="govuk-link" href="https://www.gov.uk/prepare-for-flooding" data-journey-click="ltfri:risk:surface-water-details">protect you and your property</a>
            </li>
            <li>Lead local flood authorities (LLFAs) are responsible for managing the flood risk from surface water. They may hold more detailed information.
              <br />
              <br />
              Your LLFA is {{leadLocalFloodAuthority}} council

              <!-- LLFA Comments -->
              {% if hasLlfaComments %}
              They have the following information about surface water flooding:
              <ul class="govuk-list govuk-list--bullet">
                {% for comment in llfaComments %}
                <li>{{ comment }}</li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
          </ul>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What this information covers
        </dt>
        <dd class="govuk-summary-list__value">
          This information tells you the highest chance of flooding on the land 15 metres around a property.

          It is not specific to a property.
          <br><br>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary" data-journey-click="ltfri:risk:surface-water-details">
              <span class="govuk-details__summary-text">
                What you can use this information for
              </span>
            </summary>
            <div class="govuk-details__text">
              The information is an estimate based on the best data we have available. It is suitable for identifying:
              <ul class="govuk-list--bullet">
                <li>which parts of towns or streets are at risk, or have the most risk</li>
                <li>the approximate extent and depth of flooding</li>
              </ul>
              <p>
                It's likely to be reliable for a local area but not for identifying individual properties at risk.</p>
            </div>
          </details>
        </dd>
      </div>
    </dl>
  </div>
</div>