<main class="text">
  <header>
    <h1 class="heading-xlarge">Sorry, part of this service is unavailable</h1>
  </header>
  <p class="lede">
    Some of the information we need to find out your flood risk is currently unavailable. Please try again later.
  </p>
  <p>
    An alternative is to find your location using the <a href="{{{mountPath}}}map">long term flood risk map for England and Wales.</a>
  </p>
  <p>
    Information about all current flood warnings is available on the 24&#45;hour Floodline. Please call 0345 988 1188.
  </p>
</main>
