<main class="text" id="england-only-page">
    <nav class="nojs-hide">
      <a href="javascript:window.history.go(-1)" class="link-back">Back</a>
    </nav>
    <h1 class="heading-xlarge">This service is for postcodes in England only</h1>

    {{#if isWales}}
      <p>The postcode you entered is in Wales.</p>
      <p>Find <a href="https://naturalresources.wales/evidence-and-data/maps/long-term-flood-risk/?lang=en">flood information for Wales.</a></p>
    {{else if isScotland}}
      <p>The postcode you entered is in Scotland.</p>
      <p>Find <a href="https://www.sepa.org.uk/environment/water/flooding/flood-maps/">flood information for Scotland.</a></p>
    {{else if isNorthernIreland}}
      <p>The postcode you entered is in Northern Ireland.</p>
      <p>Find <a href="https://www.nidirect.gov.uk/articles/check-the-risk-of-flooding-in-your-area">flood information for  Northern Ireland.</a></p>
    {{else}}
      <p>Find <a href="https://naturalresources.wales/evidence-and-data/maps/long-term-flood-risk/?lang=en">flood information for Wales.</a>
      <p>Find <a href="https://www.sepa.org.uk/environment/water/flooding/flood-maps/">flood information for Scotland.</a></p>
      <p>Find <a href="https://www.nidirect.gov.uk/articles/check-the-risk-of-flooding-in-your-area">flood information for Northern Ireland.</a></p>
    {{/if}}
  </main>