<link rel="stylesheet" type="text/css" href="{{{assetPath}}}stylesheets/home/index.css">
<main id="home-page">
  {{> common/mission}}
  <p>
    Enter an postcode to see long term flood risk information for a specific area
  </p>
  <div class="grid-row">
    <div class="column-half">
      <form method="get" action="/search">
        <div class="form-group">
          <label class="form-label" for="postcode">Postcode</label>
          <input class="form-control" name="postcode" id="postcode" type="text" title="A valid postcode in England is required" pattern="[A-Z]{1,2}[0-9][0-9A-Z]?\s?[0-9][A-Z]{2}" required autocomplete="off">
          {{#if hasErrorMessage}}
            <div class="error-message">{{errorMessage}}</div>
          {{/if}}
        </div>
        <div class="form-group">
          <button class="button" type="submit" title="Find address">Find address</button>
        </div>
      </form>
    </div>
  </div>
  <details>
    <summary><span class="summary">I don't know the postcode</span></summary>
    <div class="panel-indent">
      <p>
        Find a postcode using the <a href="http://www.royalmail.com/find-a-postcode" target="_blank">Royal Mail postcode lookup service</a>
      </p>
    </div>
  </details>
  <br>
  <section class="secondary-links">
    <div class="grid-row">
      <div class="column-third">
        <a class="media" href="{{{floodWarningsUrl}}}">
          <img class="img" src="{{{assetPath}}}images/ball-home.png" alt="National flood information service">
          <span class="content">National flood information service</span>
        </a>
      </div>
      <div class="column-third">
        <a class="media" href="{{{floodWarningsUrl}}}/river-and-sea-levels">
          <img class="img" src="{{{assetPath}}}images/ball-river-sea-level.png" alt="View the latest river and sea levels near you">
          <span class="content">View the latest river and sea levels near you</span>
        </a>
      </div>
      <div class="column-third">
        <a class="media" href="{{{floodWarningsUrl}}}/map">
          <img class="img" src="{{{assetPath}}}images/ball-map.png" alt="View the current national flood situation">
          <span class="content">View the current national flood situation</span>
        </a>
      </div>
    </div>
  </section>
</main>
<script src="{{{assetPath}}}javascripts/home.js"></script>
