<link rel="stylesheet" type="text/css" href="{{{assetPath}}}stylesheets/ol.css">
<link rel="stylesheet" type="text/css" href="{{{assetPath}}}stylesheets/map/index.css">
<main id="map-page">
  <h1 class="heading-xlarge">Learn more about this area's flood risk</h1>
  <p class="lede">
    Select the information you want to see
  </p>
  <div class="map-container">
    <div class="map-switch hidden-mobile">
      <a>
      Basic&nbsp;
      <img src="{{{assetPath}}}images/icon-detailed-off.png" alt="basic" class="basic">
      <img src="{{{assetPath}}}images/icon-detailed-on.png" alt="detailed" class="detailed">
      &nbsp;Detailed
      </a>
    </div>
    <div class="visible-mobile">
      {{> map/selector maps}}
    </div>
    <div class="grid-row">
      <div class="column-quarter hidden-mobile">
        {{> map/nav maps}}
      </div>
      <div class="column-three-quarters">
        <div id="map" class="map"></div>
        <aside class="controls">
          <h3 class="heading-small">Flood risk:</h3>
          <div class="legend"></div>
        </aside>
      </div>
    </div>
  </div>
  <p><a href="/risk?address={{address}}">View the flood risk information for the location you originally searched for</a></p>
  <p><a href="/">View the flood risk information for another location</a></p>
  <p><a href="{{{floodWarningsUrl}}}">Go to the national flood information service</a></p>
  {{> common/floodline}}
  <p class="eu-directive">
    This information meets the requirements of the EU Flood Directive
  </p>
  <div class="feature"></div>
  <div id="feature-popup" class="feature-popup">
    <a href="#"class="feature-popup-closer"></a>
    <div class="feature-popup-content"></div>
  </div>
</main>
<script src="{{{assetPath}}}javascripts/map.js"></script>
