<link rel="stylesheet" type="text/css" href="{{{assetPath}}}stylesheets/ol.css">
<link rel="stylesheet" type="text/css" href="{{{assetPath}}}stylesheets/map/index.css">
<main id="map-page" class="{{#if local}}local{{/if}}">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        {{#if local}}Learn more about this area's flood risk{{else}}Learn more about flood risk{{/if}}
      </h1>
      <div class="nojs-hide ie-hide">
        <p class="hidden-mobile">
          Select the type of flood risk information you're interested in. The map will then update.
        </p>
        <p>
          You can <a href="{{{mountPath}}}risk-types" data-journey-click="ltfri:map:risk-types">learn more about the ways we describe flood risk</a>. 
          Alternatively select a legend item or feature from the map for an explanation of that flood risk. 
        </p>
        <p>
          'Detailed view' shows more technical information.
        </p>
        <p class="visible-mobile">
          From the list below, select the information you're interested in. The map view will then update.
        </p>
      </div>
    </div>
  </div>
  <div class="map-container nojs-hide ie-hide">
    <div class="map-controls clearfix">
      <div class="map-switch hidden-mobile">
        <a href="#" class="toggle-view">
        Basic view&nbsp;
        <img src="{{{assetPath}}}images/icon-detailed-off.png" alt="basic" class="basic">
        <img src="{{{assetPath}}}images/icon-detailed-on.png" alt="detailed" class="detailed">
        &nbsp;Detailed view
        </a>
      </div>
      <div class="map-search">
        <form class="clearfix" autocomplete="off">
          <label class="form-label" for="txtSearch">Location</label>
          <div class="map-search-input">
            <input id="txtSearch" name="location" title="Enter a place or postcode in England" placeholder="Enter a place or postcode in England" type="text">
          </div>
          <button id="mapSearch" title="Search Location" class="button">
            <i class="fa fa-search" title="Search Location"></i>
          </button>
        </form>
        <div id="error-message"></div>
      </div>
    </div>
    <div class="visible-mobile">
      {{> map/selector}}
    </div>
    <div class="clearfix">
      <div class="lhs">
        {{> map/nav}}
      </div>
      <div class="rhs">
        <div id="progress"></div>

        <div class="enter-fullscreen toggle-fullscreen ol-full-screen ol-control">
          <button class="ol-full-screen-false" type="button" title="Full screen"><span>Full screen</span> <i class="fa fa-expand"></i></button>
        </div>
        <div class="exit-fullscreen toggle-fullscreen ol-full-screen ol-control">
          <button class="ol-full-screen-true" type="button" title="Exit full screen"><span>Exit full screen</span> <i class="fa fa-compress"></i></button>
        </div>
        <div id="map" class="map"></div>
        <aside class="controls">
          <div class="legend"></div>
        </aside>
        <div id="map-overlay">
          <div class="map-overlay-container">
            <a class="map-overlay-close"></a>
            <div class="map-overlay-content"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nojs-show">
    <p><strong>You&#39;re missing out. A map should be visible here.</strong></p>
    <p>Javascript must be enabled.</p>
  </div>
  <div class="ie-show">
    <p><strong>You&#39;re missing out. A map should be visible here.</strong></p>
    <p><a href="https://www.gov.uk/help/browsers" rel="external">Upgrade your browser to see and use all the features of this service.</a></p>
  </div>
  <div class="grid-row"> 
    <div class="column-two-thirds">
      <details>
        <summary aria-expanded="false" role="button">
          <span class="summary">Accuracy of surface water flood risk information</span>
        </summary>
        <div class="panel panel-border-narrow" aria-hidden="true">
          <p>
            Flooding from surface water is difficult to predict as rainfall location and volume are difficult to forecast.
            In addition, local features can greatly affect the chance and severity of flooding.
            Because of this, we report the highest risk within 20m of a specific location, such as an individual property.
            This means reports for neighbouring properties may show different levels of risk.
          </p>
        </div>
      </details>  
      {{#if address}}<p><a href="{{{mountPath}}}risk?address={{address}}" data-id="risk-address">View the flood risk information for the location you originally searched for</a></p>{{/if}}
      <p><a href="{{{mountPath}}}">View the flood risk information for another location</a></p>
      <p><a href="{{{floodWarningsUrl}}}">Go to the national flood information service</a></p>
      {{> common/floodline}}
      <datetime class="date" datetime="{{date}}">{{formatDate date 'DD MMMM YYYY'}}</datetime>
      <br>
      <p class="eu-directive">
        This information meets the requirements of the EU Floods Directive 2007/60/EC
      </p>
    </div>
  </div>
</main>
<script src="{{{assetPath}}}javascripts/map.js"></script>
<script>
  $(function() {
    new LTFRI.MapPage.mapPage({
      mountPath: '{{mountPath}}'
    })
  })
</script>
