  <link rel="stylesheet" type="text/css" href="{{{assetPath}}}stylesheets/ol.css">
  <link rel="stylesheet" type="text/css" href="{{{assetPath}}}stylesheets/map/index.css">
  <h1 class="heading-xlarge">Select the maps you want to see</h1>
  <p class="lede">
    Use these maps to learn more about the specific types of flood risk.<br>
    Select using the panels on the left.
  </p>
  <div class="map-container">
    <div class="visible-mobile">
      {{> map/selector maps}}
    </div>
    <div class="grid-row">
      <div class="column-quarter hidden-mobile">
        {{> map/nav maps}}
      </div>
      <div class="column-three-quarters">
        <div id="map" class="map"></div>
        <aside class="controls">
          <div class="print hidden-mobile">
            <button>Print</button>
          </div>
          <h3 class="heading-small">Flood risk:</h3>
          <div class="legend"></div>
        </aside>
      </div>
    </div>
    <div class="map-switch hidden-mobile">
      <a>
      Basic&nbsp;
      <img src="{{{assetPath}}}images/icon-advanced-off.png" alt="basic" class="basic">
      <img src="{{{assetPath}}}images/icon-advanced-on.png" alt="advanced" class="advanced">
      &nbsp;Advanced
      </a>
    </div>
  </div>
  <p><a href="/">View flood risk information for another location</a></p>
  <p><a href="/">Go back to flood risk guidance for this address</a></p>
  <p><a href="{{{floodWarningsUrl}}}">Go to the national flood information service</a></p>
  {{> common/floodline}}
  <div class="feature"></div>
  <div id="feature-popup" class="feature-popup">
    <a href="#"class="feature-popup-closer"></a>
    <div class="feature-popup-content"></div>
  </div>
  <script src="{{{assetPath}}}javascripts/map.js"></script>
