<link rel="stylesheet" type="text/css" href="{{{assetPath}}}stylesheets/risk/index.css">
<main id="risk-page" data-test-info="{{status}}">
  <section class="risk {{className}}">
    <header>
      {{#if isAtRisk}}
        <img class="visible-mobile" src="{{assetPath}}images/at-risk-icon.png" alt="At risk of flooding">
      {{/if}}
      <address>
        {{#each lines}}
          {{this}}<br>
        {{/each}}
      </address>
    </header>
    <article>
      {{#if isRisk}}
        {{> 'risk/at-risk'}}
      {{else}}
        {{> 'risk/low-risk'}}
      {{/if}}
    </article>
  </section>
  <br>
  {{> 'risk/secondary-links'}}
</main>
