<main id="risk-types-page">
  <div class="column-two-thirds">
    <div class="grid-row">
      <h1 class="heading-xlarge">Learn more about the ways we describe flood risk</h1>
      {{> risk-types/rivers-seas}}
      {{> risk-types/surface-water}}
      <h2 class="heading-medium">Flood risk from groundwater</h2>
      <p>In some locations, high groundwater levels can cause flooding and disruption in the local area.</p>
      <h2 class="heading-medium">Flood risk from reservoirs</h2>
      <p>
        If a location is at risk, flooding from reservoirs is extremely unlikely. There has been no loss of life in the UK
        from reservoir flooding since 1925.
      </p>
      <p>
        An area is considered at risk if peoples' lives could be threatened by an uncontrolled release of water from a reservoir.
        You can <a href="{{{mountPath}}}map?map=Reservoirs">see a map of the potential extent of flooding</a> if this happened.
      </p>
      <h2 class="heading-medium">Planning a development</h2>
      <p>
        This information is not suitable for use in land-use planning. If you’re planning a development, you must use the
        <a
          href="https://flood-map-for-planning.service.gov.uk">Risk of Flooding for Land-Use Planning (Rivers and Sea) for England</a> or 
          <a href="https://naturalresources.wales/evidence-and-data/maps/long-term-flood-risk/?lang=en">Development Advisory Map for Wales.</a>
          This is information based on flooding without defences.
      </p>
    </div>
  </div>
</main>
