<link rel="stylesheet" type="text/css" href="{{{assetPath}}}stylesheets/risk/index.css">
<main id="risk-page" data-test-info="{{testInfoJSON}}">
  <section class="risk {{className}}">
    <header>
      {{#if isAtRisk}}
        <img class="visible-mobile" src="{{{assetPath}}}images/at-risk-icon.png" alt="At risk of flooding">
      {{/if}}
      <address>
        {{#each lines}}
          {{this}}<br>
        {{/each}}
      </address>
    </header>
    <article>
      {{#if isRisk}}
        {{> 'risk/at-risk'}}
        <div class="print">
          {{> 'risk/at-risk-detail'}}
        </div>
      {{else}}
        {{> 'risk/low-risk'}}
        <div class="print">
          {{> 'risk/low-risk-detail'}}
        </div>
      {{/if}}
    </article>
  </section>
  <div class="no-print">
    <br>
    {{> 'risk/secondary-links'}}
  </div>
</main>
