<link rel="stylesheet" type="text/css" href="{{{assetPath}}}stylesheets/risk-detail/index.css">
<main id="risk-detail-page" data-test-info="{{testInfoJSON}}">
  <section class="risk {{className}}">
    <header>
      {{#if isAtRisk}}
        <img class="visible-mobile" src="{{{assetPath}}}images/at-risk-icon.png" alt="At risk of flooding">
      {{/if}}
      <address>
        {{#each lines}}
          {{this}}<br>
        {{/each}}
      </address>
    </header>
    <article>
      {{#if isRisk}}
        {{> 'risk/at-risk-detail'}}
      {{else}}
        {{> 'risk/low-risk-detail'}}
      {{/if}}
    </article>
  </section>
  <br>
  <p>&#169; Crown copyright and database rights {{year}} <a href='http://www.ordnancesurvey.co.uk'>OS</a> 100024198. Use of this addressing  data is subject to the <a href="{{{mountPath}}}os-terms">terms and conditions</a>.</p>
  {{> 'risk/secondary-links'}}
</main>
