<link rel="stylesheet" type="text/css" href="{{{assetPath}}}stylesheets/search/index.css">
<main id="search-page">
  <div id="banner"></div>
  {{> common/mission}}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="get" action="{{{mountPath}}}risk">
        <div class="form-group">
          <span class="form-label">Postcode</span>
          <h4 class="heading-small postcode-display">{{postcode}}</h4><a href="{{{mountPath}}}">Change</a>
          <label class="form-label" for="address">Choose your address from this list</label>
          <select id="address" name="address" required>
            {{#if multipleAddressesFound}}
              <option value="">Please choose</option>
            {{/if}}
            {{#each addresses}}
              <option value="{{this.uprn}}">{{this.address}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group">
          <button class="button" type="submit" title="Continue">Continue</button>
        </div>
      </form>
    </div>
  </div>
  <p>&#169; Crown copyright and database rights {{year}} <a href='http://www.ordnancesurvey.co.uk'>OS</a> 100024198. Use of this addressing  data is subject to the <a href="{{{mountPath}}}os-terms">terms and conditions</a>.</p>
  <details>
    <summary aria-expanded="false" role="button"><span class="summary">The address I want isn’t here</span></summary>
    <div class="panel panel-border-narrow" aria-hidden="true">
      The address you’re looking for may not be listed if it’s part of a newly-built development.
      <br>
      <br>
      Choose another address nearby to see a flood risk map of the general area or <a href="{{{mountPath}}}">start your search again.</a>
    </div>
  </details>
  <br>
  {{> common/floodline}}
  <br>
  <br>
  <section class="secondary-links">
    <div class="grid-row">
      <div class="column-third">
        <a class="media" href="{{{floodWarningsUrl}}}">
          <img class="img" src="{{{assetPath}}}images/ball-home.png" alt="National flood information service">
          <span class="content">National flood information service</span>
        </a>
      </div>
      <div class="column-third">
        <a class="media" href="{{{floodWarningsUrl}}}/river-and-sea-levels">
          <img class="img" src="{{{assetPath}}}images/ball-river-sea-level.png" alt="View the latest river and sea levels near you">
          <span class="content">View the latest river and sea levels near you</span>
        </a>
      </div>
      <div class="column-third">
        <a class="media" href="{{{floodWarningsUrl}}}/map">
          <img class="img" src="{{{assetPath}}}images/ball-map.png" alt="View the current national flood situation">
          <span class="content">View the current national flood situation</span>
        </a>
      </div>
    </div>
  </section>
</main>
<script src="{{{assetPath}}}javascripts/search.js"></script>
<script>
  $(function () {
    (new LTFRI.SearchPage({
      postcode: '{{postcode}}'
    }))
  })
</script>
