<link rel="stylesheet" type="text/css" href="{{{assetPath}}}stylesheets/search/index.css">
<main id="search-page">
  <div class="grid-row">
    <div class="column-two-thirds">
      <div id="banner"></div>
      <form method="post" autocomplete="off">
        <h1 class="heading-large">{{#if singleAddress}}Confirm{{else}}Choose{{/if}} address</h1>
        <input type="hidden" name="addresses" value="{{addressesJSON}}">
        <div {{#if errors}}class="form-group form-group-error"{{/if}}>
          {{#if errors}}
            <span class="error-message error-message-group">{{errors.uprn}}</span>  
          {{/if}}
          <div class="form-group">
            {{#if singleAddress}}
              <div class="multiple-choice">
                <input id="property" type="checkbox" name="uprn" value="{{singleAddress.uprn}}">
                <label for="property">{{singleAddress.address}}, {{singleAddress.country}}</label>
              </div>
            {{else}}
              <p class="bold-small">{{numAddressesFound}} addresses found for '{{premises}}' and '{{postcode}}'</p>
              {{#each addresses}}
                <div class="multiple-choice">
                  <input id="property-{{uprn}}" type="radio" name="uprn" value="{{uprn}}">
                  <label for="property-{{uprn}}">{{address}}, {{country}}</label>
                </div>          
              {{/each}}
            {{/if}}
          </div>
        </div>
        <div class="form-group">
          <button class="button" type="submit" title="Continue">Continue</button>
        </div>
      </form>
      <details>
        <summary aria-expanded="false" role="button"><span class="summary">The address is not listed</span></summary>
        <div class="panel panel-border-narrow" aria-hidden="true">
          <p>You can:</p>
          <ul class="list list-bullet">
            <li><a href="http://www.royalmail.com/find-a-postcode" target="_blank">check the postcode at Royal Mail</a></li>
            <li><a href="{{{mountPath}}}map">see a map showing areas at risk of flooding</a></li>
            <li><a href="{{{mountPath}}}">start your search again</a></li>
          </ul>
          <p>The address may not be listed if it’s part of a new development.</p>
        </div>
      </details>
    </div>
  </div>
</main>
<script src="{{{assetPath}}}javascripts/search.js"></script>
<script>
  $(function () {
    (new LTFRI.SearchPage({
      postcode: '{{postcode}}'
    }))
  })
</script>
