@import "colours";
@import "typography";
@import "css3";

#home-page {
  h1.heading-xlarge {
    margin-bottom: 30px;
  }

  .button {
    @include media(mobile) {
      width: 100%;
    }
  }

  input#postcode {
    margin-top: 10px;
  }

}
