<div id="risk-summary">
  <div class="grid-row">
    <div class="column-quarter">
      <img class="hidden-mobile" src="{{assetPath}}images/at-risk-icon.png" alt="At risk of flooding">
    </div>
    <div class="column-three-quarters">
      <div class="panel panel-border-wide hidden-mobile">
        <h1 class="heading-large">This address is in a flood risk area</h1>
        <h1 class="heading-medium">Be prepared: things you should do</h1>
      </div>
      <div class="visible-mobile">
        <h1 class="heading-large">This address is in a flood risk area</h1>
        <h1 class="heading-medium">Be prepared: things you should do</h1>
      </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-quarter">
      &nbsp;
    </div>
    <div class="column-three-quarters">
      <ol class="list list-number">
        <li>
          <div class="panel panel-border-wide">
            {{#if isAtRisk}}
              <h3 class="heading-small"><a href="https://www.gov.uk/sign-up-for-flood-warnings">Sign up for flood warnings</a></h3>
              <span>This service is free. You can get warnings by phone, email or text message.</span>
            {{else}}
              <h3 class="heading-small">Monitor news and weather forecasts</h3>
              <span>Use radio, television and social media to keep up to date with flood events and weather conditions in your area</span>
            {{/if}}
          </div>
        </li>
        <li>
          <div class="panel panel-border-wide">
            <h3 class="heading-small"><a href="https://www.gov.uk/prepare-for-a-flood/make-a-flood-plan">Learn about flood planning</a></h3>
            <span>Know how you'll respond to a flood if:</span>
            <ul class="list list-bullet">
              <li>your home is at risk, for example how to get sandbags</li>
              <li>you're responsible for a school, hospital, care home or other community group</li>
              <li>you run a local business</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="panel panel-border-wide">
            <h3 class="heading-small"><a href="https://www.gov.uk/prepare-for-a-flood/improve-your-propertys-flood-protection">Protect your property</a></h3>
            <p>Get organised now and improve your property's flood resilience.</p>
            <p>Being at risk of flooding can affect your <a href="https://www.gov.uk/prepare-for-a-flood/get-insurance">insurance</a>. Check if your buildings and contents policies cover flood risk.</p>
            <p>This location is in a flood risk area covered by the <a href="https://www.gov.uk/government/publications/provision-of-flood-insurance-revised-statement-of-principles">Statement of Principles</a> agreed by the government and the Association of British Insurers (ABI).</p>
          </div>
        </li>
        <li>
          <div class="panel panel-border-wide">
            <h3 class="heading-small"><a href="https://www.gov.uk/prepare-for-a-flood/get-help-during-a-flood">Know what to do during a flood</a> or <a href="https://www.gov.uk/prepare-for-a-flood/get-help-after-a-flood">get help after a flood</a></h3>
            <ul class="list list-bullet">
              <li>Flooding can affect transport networks and disrupt your travel plans</li>
              <li>Flooding can impact your gas, electricity and water supplies</li>
              <li>Even if flooding hasn't affected you directly, check on friends, family and the wider community</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="panel panel-border-wide">
            <p>
              This address is in a flood risk area.<br>
            </p>
            <p>
              The flood risk from rivers or the sea is {{riverAndSeaRisk}} <a href="/map?easting={{easting}}&northing={{northing}}&address={{address}}&map=RiversOrSea">See map</a>
            </p>
            <p>
              The flood risk from surface water is {{surfaceWaterRisk}} <a href="/map?easting={{easting}}&northing={{northing}}&address={{address}}&map=SurfaceWater">See map</a>
            </p>
            {{#if reservoirRisk}}
              <p>
                There's a risk of flooding in this area from reservoirs <a href="/map?easting={{easting}}&northing={{northing}}&address={{address}}&map=Reservoirs">See map</a>
              </p>
            {{/if}}
            <p>
              <a href="/risk-detail?address={{address}}">View detailed flood risk information for this area</a>
            </p>
          </div>
          {{> common/floodline}}
          <br>
          <p>
            <a href="/">View the flood risk information for another location</a>
          </p>
          <datetime class="date" datetime="{{date}}">{{formatDate date 'DD MMMM YYYY'}}</datetime>
        </li>
      </ol>
    </div>
  </div>
</div>
