<div class="at-risk-detail">
  <div class="grid-row">
    <div class="column-quarter">
      &nbsp;
    </div>
    <div class="column-three-quarters">
      <div class="panel panel-border-wide">
        <h1 class="heading-large">Detailed flood risk information for this area</h1>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-quarter">
      <img src="{{{assetPath}}}images/icon-rivers-sea-inverse.png" alt="Rivers and sea icon">
    </div>
    <div class="column-three-quarters">
      <div id="river-and-sea-panel" class="panel panel-border-wide">
        <!-- Rivers and the sea -->
        <h2 class="heading-medium">The flood risk from rivers or the sea is {{riverAndSeaRisk}}</h2>
        <h3 class="heading-small">What this means</h3>
        <p>
          {{#if riverAndSeaRiskIsHigh}}
            High risk means that each year this area has a chance of flooding of greater than 3.3%.
          {{else if riverAndSeaRiskIsMedium}}
            Medium risk means that each year this area has a chance of flooding of between 1% and 3.3%.
          {{else if riverAndSeaRiskIsLow}}
            Low risk means that each year this area has a chance of flooding of between 0.1% and 1%.
          {{else if riverAndSeaRiskIsVeryLow}}
            Very low risk means that each year this area has a chance of flooding of less than 0.1%.
          {{/if}}
          This takes into account the effect of any flood defences in the area.
          These defences reduce, but do not completely stop the chance of flooding as they can be overtopped, or fail.
        </p>

        <h3 class="heading-small">How to use this information</h3>
        <p>
          You can use this information to <a href="{{{mountPath}}}map?easting={{easting}}&northing={{northing}}&address={{address}}&map=RiversOrSea">see which areas are more likely to flood first,
          deepest, or most often.</a>
        </p>

        {{#if riverAndSeaSuitability}}
          <p>
            {{riverAndSeaSuitability}}
          </p>
        {{/if}}

        <h3 class="heading-small">Planning a development</h3>
        <p>
          This information is not suitable for use in land-use planning.
          If you’re planning a development, you must use the <a href="https://flood-map-for-planning.service.gov.uk">Risk of Flooding for Land-Use Planning (Rivers and Sea)
          for England</a> or <a href="https://naturalresources.wales/evidence-and-data/maps/long-term-flood-risk/?lang=en">Development Advisory Map for Wales.</a>
          This is information based on flooding without defences.
        </p>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-quarter">
      <img src="{{{assetPath}}}images/icon-surface-water-inverse.png" alt="Surface water icon">
    </div>
    <div class="column-three-quarters">
      <div id="surface-water-panel" class="panel panel-border-wide">
        <!-- Surface water -->
        <h2 class="heading-medium">The flood risk from surface water is {{surfaceWaterRisk}}</h2>
        <h3 class="heading-small">What this means</h3>
        <p>
          {{#if surfaceWaterRiskIsHigh}}
            High risk means that each year this area has a chance of flooding of greater than 3.3%.
          {{else if surfaceWaterRiskIsMedium}}
            Medium risk means that each year this area has a chance of flooding of between 1% and 3.3%.
          {{else if surfaceWaterRiskIsLow}}
            Low risk means that each year this area has a chance of flooding of between 0.1% and 1%.
          {{else if surfaceWaterRiskIsVeryLow}}
            Very low risk means that each year this area has a chance of flooding of less than 0.1%.
          {{/if}}
          Flooding from surface water is difficult to predict as rainfall location and volume are difficult to forecast. 
          In addition, local features can greatly affect the chance and severity of flooding. 
          Because of this, we report the highest risk within 20m of a specific location, such as an individual property. 
          This means reports for neighbouring properties may show different levels of risk.
        </p>

        <h3 class="heading-small">How to use this information</h3>
        <p>
          You can use this information to <a href="{{{mountPath}}}map?easting={{easting}}&northing={{northing}}&address={{address}}&map=SurfaceWater">see the approximate areas that would flood,
          and which parts would be shallower or deeper.</a>
        </p>

        {{#if surfaceWaterSuitability}}
          <p>
            {{surfaceWaterSuitability}}
          </p>
        {{/if}}
      </div>
    </div>
  </div>

  {{#if isGroundwaterArea}}
    <div class="grid-row">
      <div class="column-quarter">
        <img src="{{{assetPath}}}images/icon-ground-water-inverse.png" alt="Groundwater icon">
      </div>
      <div class="column-three-quarters">
        <div id="groundwater-panel" class="panel panel-border-wide">
          <!-- Groundwater -->
          <h2 class="heading-medium">High groundwater levels may cause flooding</h2>
          <p>
            Flooding and disruption is possible in the local area when groundwater levels are high.
          </p>
        </div>
      </div>
    </div>
  {{/if}}

  {{#if reservoirRisk}}
    <div class="grid-row">
      <div class="column-quarter">
        <img src="{{{assetPath}}}images/icon-reservoir-inverse.png" alt="Reservoir icon">
      </div>
      <div class="column-three-quarters">
        <div id="reservoir-panel" class="panel panel-border-wide">
          <!-- Reservoirs -->
          <h2 class="heading-medium">There's a risk of flooding in this area from reservoirs</h2>
          <h3 class="heading-small">What this means</h3>
          <p>
            While there is a risk in this area, flooding from reservoirs is extremely unlikely. There has been no loss of life in the UK from reservoir flooding since 1925.
          </p>
          <p>
            An area is considered at risk if peoples' lives could be threatened by an uncontrolled release of water from a reservoir. You can <a href="{{{mountPath}}}map?easting={{easting}}&northing={{northing}}&address={{address}}&map=Reservoirs">see a map of the potential extent of flooding</a> if this happened.
          </p>

          <h3 class="heading-small">Reservoirs that could affect this area</h3>
          {{#each reservoirs}}
            <p>
              <strong class="bold-small">{{name}}</strong> (grid reference {{location}})<br>
              Owner: {{owner}}<br>
              Lead Local Flood Authority: {{authority}}<br>
              Risk designation: {{riskDesignation}}<br>
              Comments: {{comments}}<br>
            </p>
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}

  <div class="grid-row">
    <div class="column-quarter">
      &nbsp;
    </div>
    <div id="additional-information" class="column-three-quarters">
      <h3 class="heading-medium">Additional information</h3>
      <h3 class="heading-small">Lead Local Flood Authority</h3>
      <p>
        {{leadLocalFloodAuthority}}
      </p>
      <p>
        {{extraInfo}}
      </p>
      <div class="no-print">
        <p>
          <a href="{{{mountPath}}}">View the flood risk information for another location</a>
        </p>
        <p>
          <a href="{{{mountPath}}}risk?address={{address}}">Back to flood risk summary</a>
        </p>
      </div>
      <datetime class="date" datetime="{{date}}"><span class="print">Created</span> {{formatDate date 'DD MMMM YYYY'}}</datetime>
      <div class="print-link pull-right no-print nojs-hide">
        <a rel="nofollow" href="javascript:window.print()" data-journey-click="ltfri:summary:print">Print</a>
      </div>
    </div>
  </div>
</div>