<div class="panel panel-border-narrow">
    <p>
        All information, particularly the likelihood of surface water flooding, is a general indicator of an area’s
        flood risk.
        As such it is not suitable for identifying whether an individual property will flood.
        This service uses computer models to assess an area’s long term flood risk from rivers, the sea, surface water
        and some groundwater.
        It does not include flood risk from sources such as blocked drains and burst pipes.
    </p>
</div>