{{#if surfaceWaterRiskIsHigh }}
    <p>
        High risk means that each year this area has a chance of flooding of greater than 3.3%. Flooding from surface water
        is difficult to predict as rainfall location and volume are difficult to forecast. In addition, local features can
        greatly affect the chance and severity of flooding.
    </p>
    <p>
        Surface water flood risk information is not suitable for identifying whether an individual property will flood. It
        gives an indication of the broad areas likely to be affected but is imprecise due to national assumptions made about
        rainfall, surface water run-off, topography and the stormwater drainage network.
    </p>
    <p>
        Because of this, we report the highest risk within 20m of a specific location, such as an individual property. This
        means reports for neighbouring properties may show different levels of risk.
    </p>
{{else if surfaceWaterRiskIsMedium }}
    <p>
        Medium risk means that each year this area has a chance of flooding of between 1% and 3.3%. Flooding from surface
        water is difficult to predict as rainfall location and volume are difficult to forecast. In addition, local features
        can greatly affect the chance and severity of flooding.
    </p>
    <p>
        Surface water flood risk information is not suitable for identifying whether an individual property will flood. It
        gives an indication of the broad areas likely to be affected but is imprecise due to national assumptions made about
        rainfall, surface water run-off, topography and the stormwater drainage network.
    </p>
        Because of this, we report the highest risk within 20m of a specific location, such as an individual property. This means reports for neighbouring properties may show different levels of risk.
    </p>
{{else if surfaceWaterRiskIsLow }}
    <p>
        Low risk means that each year this area has a chance of flooding of between 0.1% and 1%. Flooding from surface water
        is difficult to predict as rainfall location and volume are difficult to forecast. In addition, local features can
        greatly affect the chance and severity of flooding.
    </p>
    <p>
        Surface water flood risk information is not suitable for identifying whether an individual property will flood. It
        gives an indication of the broad areas likely to be affected but is imprecise due to national assumptions made about
        rainfall, surface water run-off, topography and the stormwater drainage network.
    </p>
    <p>
        Because of this, we report the highest risk within 20m of a specific location, such as an individual property. This
        means reports for neighbouring properties may show different levels of risk.
    </p>
{{else if surfaceWaterRiskIsVeryLow }}
    <p>
        Very low risk means that each year this area has a chance of flooding of less than 0.1%. Flooding from surface water
        is difficult to predict as rainfall location and volume are difficult to forecast. In addition, local features can
        greatly affect the chance and severity of flooding.</p>
    <p>
        Surface water flood risk information is not suitable for identifying whether an individual property will flood. It
        gives an indication of the broad areas likely to be affected but is imprecise due to national assumptions made about
        rainfall, surface water run-off, topography and the stormwater drainage network.
    </p>
    <p>
        Because of this, we report the highest risk within 20m of a specific location, such as an individual property. This
        means reports for neighbouring properties may show different levels of risk.
    </p>
{{/if}}
