{% extends 'layout.html' %}

{% block content %}
<div id="429-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">You have requested a postcode too many times</h1>

      <p class="govuk-body">
        You have reached the limit of postcode search requests. Please try again later.
      </p>
      <p class="govuk-body">
        The limit is in place as a security measure for the data used on the service.
      </p>

      <p class="govuk-heading-s">
        What to do next
      </p>

      <p class="govuk-body">
        Once the limit has been reset, you will be able to continue using the service as you were, prior to reaching the
        limit.
      </p>
    </div>
  </div>
</div>
{% endblock %}