{% extends 'layout.html' %}
{% set pageTitle = "Sorry, there is a problem with the service" %}

{% block content %}
<div id="500-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">Try again later.</p>
      <p class="govuk-body">Findout if there's flooding in your area, flood warnings, and river, sea,
        groundwater, and rainfall levels on <a href="https://check-for-flooding.service.gov.uk/" class="govuk-link">Check for flooding</a>
      </p>
      <p class="govuk-body">You can call Floodline for advice about flooding and to check your long-term risk:</p>
      <ul style="list-style-type:disc; margin: auto;font-family: 'GDS Transport', arial, sans-serif;font-size: 1.1670rem;line-height: 1.31579;font-weight: 400;">
        <li>Telephone: 0345 988 1188</li>
        <li>Textphone: 0345 602 6340</li>
        <li>24 hour service</li>
        <li><a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
