{% extends 'layout.html' %}

{% block content %}
<div id="500-address-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sorry, JavaScript is required to use this service</h1>
      <p class="govuk-body">Please enable JavaScript in your browser in order to successfully use this service</p>
      <p class="govuk-body">Information about all current flood warnings is available on the 24&#45;hour Floodline. Please call 0345 988 1188.</p>
    </div>
  </div>
</div>
{% endblock %}