{% extends 'layout.html' %}

{% block content %}
<div id="500-address-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sorry, Google reCaptcha has prevented you from using this service</h1>
      <p class="govuk-body">We use Google reCaptcha to monitor service usage. Please try again later.</p>
      <p class="govuk-body">Information about all current flood warnings is available on the 24&#45;hour Floodline. Please call 0345 988 1188.</p>
    </div>
  </div>
</div>
{% endblock %}