{% extends 'layout.html' %}

{% from "components/input/macro.njk" import govukInput %}

{% set pageTitle = "Accessibility statement for the Check your long term flood risk service" %}

{% block content %}
<div id="home-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      <p class="govuk-body">This accessibility statement applies to the Check your long term flood risk website.</p>
      <p class="govuk-body">This website is run by the Environment Agency. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 300% without the text spilling off the screen</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>

      <p class="govuk-body">
        We’ve also made the website text as simple as possible to understand.
      </p>

      <p class="govuk-body">
        <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.
      </p>

      <h2 class="govuk-heading-l">Feedback and contact information</h2>

      <p class="govuk-body">If you need information on this website in a different format like an accessible PDF, large print, easy read, audio recording or braille:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>email <a class="govuk-link" href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a></li>
        <li>call 03708 506 506 (Monday to Friday, 8am to 5pm)</li>
      </ul>

      <h3 class="govuk-heading-m">Reporting accessibility problems with this website</h3>

      <p class="govuk-body">
        We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>email <a class="govuk-link" href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a></li>
        <li>call 03708 506 506 (Monday to Friday, 8am to 5pm)</li>
      </ul>

      <h3 class="govuk-heading-m">Enforcement procedure</h3>

      <p class="govuk-body">
        The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
      </p>

      <p class="govuk-body">
        If you’re not happy with how we respond to your complaint, <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.
      </p>

      <h2 class="govuk-heading-l">Technical information about this website’s accessibility</h2>

      <p class="govuk-body">
        The Environment Agency is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
      </p>

      <h2 class="govuk-heading-l">Compliance status</h2>

      <p class="govuk-body">
        This website is partially compliant with the <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1 AA standard</a>, due to the following exemptions. 

      </p>

      <h2 class="govuk-heading-l">Content that’s not within the scope of the accessibility regulations</h2>

      <p class="govuk-body">
        The website has the following content which is out of scope of the accessibility regulations:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>maps</li>
        <li>third party content which is out of our control, for example a corporate logo on the map the website uses</li>
        <li>PDF content that was published before 23 September 2018</li>
      </ul>

      <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>

      <p class="govuk-body">
        This statement was prepared on 22 September 2020. It was last reviewed on 17 September 2020.
      </p>

      <p class="govuk-body">
        This website was last tested on 7 September 2020. The test was carried out internally by the Environment Agency.
      </p>
    </div>
  </div>
</div>
{% endblock %}