{% extends 'layout.html' %}

{% block content %}
<div id="confirmation-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Things you can do</h2>

      <p class="govuk-body">There are some actions you can take if you’re at risk of flooding. You can:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>plan how you'll respond by
          <a class="govuk-link" href="https://www.gov.uk/government/publications/personal-flood-plan">preparing for
            flooding
          </a>
        </li>
        <br>

        <li>receive a free call or message from the Environment Agency to warn you about flooding - check if your area
          is covered by
          <a class="govuk-link" href="https://www.gov.uk/sign-up-for-flood-warnings">signing up for
            flood
            warnings
          </a>
        </li>
        <br>

        <li>find out more detailed information about surface water and groundwater flooding from your
          Lead Local Flood Authority (LLFA)
        </li>
        <br>

        <li>understand your flood risk now and in the next few days by visiting the <a class="govuk-link"
            href="{{ floodWarningsUrl }}">national flood information service</a>,
          <a class="govuk-link" href="{{ floodWarningsUrl }}/river-and-sea-levels">monitoring river and sea levels for
            flooding</a> and checking the <a class="govuk-link" href="{{ floodWarningsUrl }}/5-day-flood-risk">5-day
            flood risk outlook</a>.
        </li>
        <br>

        <li>get evidence of your flood risk for your insurer by contacting the
          <a class="govuk-link" href="https://www.gov.uk/government/organisations/environment-agency">Environment Agency
          </a>
        </li>
        <br>

        <li>check if your community has a
          <a class="govuk-link"
            href="https://www.gov.uk/government/publications/flood-plan-guidance-for-communities-and-groups">flood
            action group
          </a>
        </li>
        <br>

        <li>tell your community how to check their flood risk on
          <a class="govuk-link" href="#">Facebook or Twitter</a>
        </li>
        <br>

        <li>find out which flood zone a location is in using the
          <a class="govuk-link" href="https://flood-map-for-planning.service.gov.uk">flood map for planning
            service
          </a>
        </li>
      </ul>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Read about what the Environment Agency is doing about flooding</span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>Spending over 2.6bn on flood and coastal erosion risk management between April 2015 and May 2021</li>
            <li>Constructed more than 500 new flood and coastal erosion schemes since 2015 - better protecting 142,800
              homes and thousands of businesses</li>
          </ul>
          <p>You can read about everything we’re doing about flooding in our <a class="govuk-link"
              href="https://www.gov.uk/government/publications/flood-and-coastal-risk-management-national-report">Flood
              and Coastal Risk Report</a></p>
        </div>
      </details>

      <div class="govuk-!-margin-top-8">
        <a href="/{{ mountPath }}/postcode" role="button" class="govuk-button govuk-!-margin-right-2">
          Check another area</a>
        <!-- <a href="#" class="govuk-button govuk-button--secondary">
        Save as PDF
      </a> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}