{% extends 'layout.html' %}

{% from "components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "components/radios/macro.njk" import govukRadios %}
{% from "components/back-link/macro.njk" import govukBackLink %}
{% from "components/table/macro.njk" import govukTable %}

{% set pageTitle = "Cookies" %}

{% block content %}
  <main>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if updated %}
          {% set html %}
            <p class="govuk-notification-banner__heading">
              You've set your cookie preferences.
            </p>
          {% endset %}
      
          {{ govukNotificationBanner({
            type: "success",
            html: html
          }) }}
        {% endif %}

        <h1 class="govuk-heading-l">Cookies</h1>
        <p class="govuk-body">
          Cookies are small files saved on your phone, tablet or computer when you visit a website.
        </p>
        <p class="govuk-body govuk-body">We use cookies to make Check your long term flood risk work and collect information about how you
          use our service.
        </p>
        <h2 class="govuk-heading-m">Essential cookies</h2>
        <p class="govuk-body">
          Essential cookies keep your information secure while you use Check your long term flood risk. We do not need to ask
          permission to use them.
        </p>
        {{ govukTable({
          caption: "Essential cookies",
          captionClasses: "govuk-visually-hidden",
          firstCellIsHeader: true,
          head: [
            { text: "Name" },
            { text: "Purpose" },
            { text: "Expires" }
          ],
          rows: [
            [
              { text: "session" },
              { text: "Used to store page state" },
              { text: "When you close your browser" }
            ],
            [
              { text: "cookies_policy" },
              { text: "Saves your cookie consent settings" },
              { text: "1 year" }
            ],
            [
              { text: "cookies_preferences_set" },
              { text: "Stores your cookie preferences and lets us know you’ve set them" },
              { text: "1 year" }
            ]
          ]
        }) }}

        <h2 class="govuk-heading-m">Analytics cookies (optional)</h2>
        <p class="govuk-body">
          With your permission, we use Google Analytics to collect data about how you use Check your long term flood risk. This
          information helps us to improve our service.
        </p>
        <p class="govuk-body">
          Google is not allowed to use or share our analytics data with anyone.
        </p>
        <p class="govuk-body">
          Google Analytics stores anonymised information about:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>how you got to Check your long term flood risk</li>
          <li>the pages you visit on Check your long term flood risk and how long you spend on them</li>
          <li>any errors you see while using Check your long term flood risk</li>
        </ul>

        {{ govukTable({
          firstCellIsHeader: true,
          head: [
            { text: "Name" },
            { text: "Purpose" },
            { text: "Expires" }
          ],
          rows: [
            [
              { text: "_ga" },
              { text: "Checks if you've visited Check your long term flood risk before. This helps us count how many people visit our site." },
              { text: "2 years" }
            ],
            [
              { text: "_gid" },
              { text: "Checks if you've visited Check your long term flood risk. This helps us count how many people visit our site." },
              { text: "24 hours" }
            ],
            [
              { text: "_gat" },
              { text: "Used to reduce the number of requests made to Google Analytics." },
              { text: "1 minute" }
            ],
            [
              { text: "_gat_govuk_shared" },
              { text: "This helps Google to manage the rate at which they track your site interactions (when high traffic occurs)." },
              { text: "1 minute" }
            ]
          ]
        }) }}
        <h2 class="govuk-heading-m">
          Third party cookies
        </h2>
        <h3 class="govuk-heading-s">
          Our feedback survey
        </h3>
        <p class="govuk-body">We use <a href="https://www.smartsurvey.co.uk/" class="govuk-link">Smart Survey</a> to collect feedback comments. You can find out more in the <a href="https://www.smartsurvey.co.uk/privacy-policy"   class="govuk-link">Smart Survey privacy policy</a>.
        </p>

        <form method="POST">
          {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "analytics",
            name: "analytics",
            fieldset: {
              legend: {
                text: "Do you want to accept analytics cookies?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                text: "Yes",
                value: "true",
                checked: cookiesPolicy.analytics === true
              },
              {
                text: "No",
                value: "false",
                checked: cookiesPolicy.analytics === false
              }
            ]
          }) }}
          <button class="govuk-button" type="submit">Save cookie settings</button>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
