{% extends 'layout.html' %}

{% set pageTitle = "How we talk about flooding" %}

{% block content %}
<div id="describe-risk-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
      <h3 class="govuk-heading-l">Types of flooding</h3>
      <p class="govuk-body">We will tell you the risk from 4 types of flooding:</p>
      <p class="govuk-body"><strong>Surface water</strong></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>sometimes called flash flooding</li>
        <li>happens when heavy rain cannot drain away</li>
        <li>the most common cause of flooding - over 3 million properties are at risk in the UK</li>
        <li>difficult to predict as it depends on rainfall volume and location</li>
      </ul>

      <p class="govuk-body"><strong>Rivers and the sea</strong></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>2.7 million properties are at risk in the UK</li>
        <li>easier to predict as we check river levels at least once a day</li>
      </ul>

      <p class="govuk-body"><strong>Reservoirs</strong></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an area is considered at risk if peoples' lives could be threatened by an uncontrolled release of water from a reservoir.</li>
        <li>extremely unlikely - there has been no loss of life in the UK from reservoir flooding since 1925.</li>
      </ul>

      <p class="govuk-body"><strong>Groundwater</strong></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>happens when water in the ground (the water table) rises.</li>
        <li>happens after heavy rainfall</li>
      </ul>

      <h3 class="govuk-heading-l">How we describe risk</h3>
      <p class="govuk-body">This is how we describe the risk for surface water (flash flooding), rivers and the sea.</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <h1>
              <th class="govuk-table__header" scope="col">Risk Level</th>
            </h1>
            <th class="govuk-table__header" scope="col">Chance each year </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">High</th>
            <td class="govuk-table__cell">Greater than 3.3% </td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Medium</th>
            <td class="govuk-table__cell">Between 1% and 3.3%</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Low</th>
            <td class="govuk-table__cell">Between 0.1% and 1%</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Very Low</th>
            <td class="govuk-table__cell"> Less than 0.1% </td>
          </tr>
        </tbody>
      </table>

      <p class="govuk-body">For groundwater and reservoirs, we will just tell you if there is a risk.</p>

      <a href="/{{ mountPath }}/postcode" role="button" class="govuk-button">Continue</a>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}