{% extends 'layout.html' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Check the flood risk for an area in England
    </h1>
    
    <p class="govuk-body">Use this service to:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>check the flood risk from surface water, reservoirs, rivers and the sea</li>
      <li>get evidence of the flood risk for insurance purposes</li>
      <li>get advice about flooding</li>
    </ul>
    
    <p class="govuk-body">
      It will not tell you if an individual property will flood. It does not include risk from things like blocked
      drains and burst pipes.
    </p>
    
    <p class="govuk-body">
      <a href="#">Check the flood risk for areas in Wales, Scotland and Northern Ireland.</a>
    </p>
    
    <a href="/describe-risk"
     class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Start</a>
  </div>
</div>
{% endblock %}