{% extends "template.njk" %}

{% from "components/footer/macro.njk" import govukFooter %}
{% from "components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block head %}
<meta property="fb:app_id" content="{{ fbAppId }}" />
<meta property="og:url" content="{{ fullUrl | safe }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:description" content="{{ ogDescription }}" />
<meta name="google-site-verification" content="HjuKUejT64a0rBdUxxtbnIKNB4_cZ3X3hlXOxk4_OX8" />
{% if noIndex %}<meta name="robots" content="noindex" />{% endif %}
<!--[if !IE 8]><!-->
<link href="{{ assetPath }}/stylesheets/application.css" rel="stylesheet" />
<!--<![endif]-->

{# For Internet Explorer 8, you need to compile specific stylesheet #}
{# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
<!--[if IE 8]>
    <link href="{{ assetPath }}/govuk-frontend/all-ie8.css" rel="stylesheet" />
  <![endif]-->

{# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
<!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->
<!-- Stage: {{appStage}} -->
<!-- Application version: {{appVersion}} -->
{% endblock %}

{% block header %}
{{ govukHeader({
    homepageUrl: "/",
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: serviceUrl
  }) 
}}

<div class="govuk-width-container">
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="/' + mountPath + '/feedback">feedback</a> will help us to improve it.'
  }) }}
</div>
{% endblock %}

{% block pageTitle %}
{{ pageTitle + " - GOV.UK" }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Default page template</h1>
{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
      {
        href: "https://www.gov.uk/help",
        text: "Help"
      },
      {
        href: floodWarningsUrl + "/cookies",
        text: "Cookies"
      },
      {
        href: floodWarningsUrl + "/privacy-notice",
        text: "Privacy notice"
      },
      {
        href: floodWarningsUrl + "/terms-conditions",
        text: "Terms and conditions"
      },
      {
        href: "https://www.gov.uk/contact",
        text: "Contact"
      },
      {
        href: "https://www.gov.uk/cymraeg",
        text: "Cymraeg"
      }
    ],
    html: 'Built by the <a href="https://www.gov.uk/government/organisations/environment-agency" class="govuk-footer__link">Environment Agency</a>
    <br><br><p class="govuk-body-s">© Crown copyright and database rights 2019 <a href="http://www.ordnancesurvey.co.uk" class="govuk-footer__link">OS</a> 100024198.
    <br>Use of the address and mapping data is subject to&nbsp;the <a href="/' + mountPath + '/os-terms" class="govuk-footer__link">terms and conditions</a>.</p>'
  }
}) }}
{% endblock %}

{% block bodyEnd %}
{# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
<script src="{{ assetPath }}/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>
{% endblock %}