{% extends "template.njk" %}

{% from "components/footer/macro.njk" import govukFooter %}
{% from "components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set pageOrErrorTitle = "Error: " + pageTitle if errorSummary else pageTitle %}

{% block head %}
<meta property="og:url" content="{{ fullUrl | safe }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:description" content="{{ ogDescription }}" />
{% if noIndex %}<meta name="robots" content="noindex" />{% endif %}
<link href="{{ assetPath }}/stylesheets/application.css" rel="stylesheet" />

{% if G4AnalyticsAccount %}
<!-- Google tag (gtag.js) -->
<script>

window.loadAnalytics = () => {
  const script = document.createElement("script")
  script.type = "text/javascript"
  script.async = true
  script.src = "https://www.googletagmanager.com/gtag/js?id={{G4AnalyticsAccount}}"
  document.getElementsByTagName("head")[0].appendChild(script)
  const stageprompt = document.createElement("script")
  stageprompt.type = "text/javascript"
  stageprompt.async = true
  stageprompt.src = "{{ assetPath }}/js/vendor/stageprompt.js"
  document.getElementsByTagName("head")[0].appendChild(stageprompt)
  
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  globalThis.gtag = gtag
  gtag('js', new Date());
  gtag('config', '{{G4AnalyticsAccount}}');
  {% if GTagManagerId %}
<!-- Google Tag Manager -->
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{GTagManagerId}}')
  {% endif %}

  window.addEventListener("load", () => {GOVUK.performance.stageprompt.setupForGoogleAnalytics()})

  window.loadAnalytics = () => { return false }
}
</script>
{% endif %}  
{% if G4AnalyticsAccount and cookiesPolicy.analytics %}
<script>loadAnalytics()</script>
{% endif %}
<!-- Stage: {{serviceRef}}-{{appStage}} -->
<!-- Application version: {{appVersion}} -->
{% endblock %}

{% block header %}
{% if G4AnalyticsAccount and cookiesPolicy.analytics %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TCRVQCCW"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% endif %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk",
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: serviceUrl
  }) 
}}

<div class="govuk-width-container">
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="/feedback">feedback</a> will help us to improve it.'
  }) }}
</div>
{% endblock %}

{% block pageTitle %}

{{ pageOrErrorTitle + " - " + serviceName + " - GOV.UK" }}

{% endblock %}

{% block bodyStart %}
  {% if not cookiesPolicy %}
    {% include "./partials/cookie-banner.html" %}
  {% endif %}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Default page template</h1>
{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
      {
        href: "/cookies",
        text: "Cookies"
      },
      {
        href: "/privacy-notice",
        text: "Privacy notice"
      },
      {
        href: "/terms-and-conditions",
        text: "Terms and conditions"
      },
      {
        href: "/accessibility-statement",
        text: "Accessibility statement"
      },
      {
        href: "/risk-data",
        text: "Get flood risk data"
      }
    ],
    html: 'Built by the <a href="https://www.gov.uk/government/organisations/environment-agency" class="govuk-footer__link">Environment Agency</a>
    <br><br><p class="govuk-body-s">© Crown Copyright and Database Rights 2024 <a href="http://www.ordnancesurvey.co.uk" class="govuk-link">Ordnance Survey (OS)</a> AC0000807064.
    <br>Use of the address and mapping data is subject to&nbsp;the <a href="/os-terms" class="govuk-link">Ordnance Survey terms and conditions</a>.</p>'
  }
}) }}
{% endblock %}

{% block bodyEnd %}
{# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
<script type="module" src="{{ assetPath }}/govuk-frontend.min.js"></script>
<script>
  if(window.location.pathname === "/postcode") {
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('error')) {
        urlParams.delete('error');
        const newParams = urlParams.toString();
        const newUrl = newParams ? `${window.location.protocol}//${window.location.host}${window.location.pathname}?${newParams}` : `${window.location.protocol}//${window.location.host}${window.location.pathname}`;
        window.history.replaceState({ path: newUrl }, '', newUrl);
    }
  }
</script>
<script type="module">
  import {
    initAll
  } from '{{ assetPath }}/govuk-frontend.min.js'
  initAll()
</script>
{% endblock %}
