{% extends 'layout.html' %}

{% block head %}
{{ super() }}
<link href="{{ assetPath }}/css/style.css" rel="stylesheet" />
{% endblock %}
{% set pageTitle = "Managing flood risk" %}
{% block content %}
<div id="managing-flood-risk-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      <div>
        <p class="govuk-body">
          Our climate is changing and one of the risks is an increase in flooding.
          Extreme weather events could happen more often.
        </p>

        <p class="govuk-body">
          You can still be at risk of flooding even if your area has not flooded in the past.
        </p>

        <h2 class="govuk-heading-m">Check flood warnings</h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>View <a class="govuk-link" href="https://check-for-flooding.service.gov.uk"
              data-journey-click="ltfri:manage:live-flood-warnings">live flood warnings</a>
          </li>
          <li>Sign up for <a class="govuk-link" href="https://www.gov.uk/sign-up-for-flood-warnings"
              data-journey-click="ltfri:manage:sign-up-for-flood-warnings">flood
              warnings</a></li>
        </ul>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h2 class="govuk-heading-m">Plan ahead</h2>

        <p class="govuk-body">
          Plan how you'll respond to a flood by making a:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="https://www.gov.uk/government/publications/personal-flood-plan"
              data-journey-click="ltfri:manage:personal-flood-plan">
              personal flood plan
            </a>
          </li>
          <li>
            <a class="govuk-link"
              href="https://www.gov.uk/government/publications/flood-plan-guidance-for-communities-and-groups"
              data-journey-click="ltfri:manage:community-or-group-flood-plan">
              community or group flood plan
            </a>
          </li>
          <li>
            <a class="govuk-link" href="https://www.gov.uk/government/publications/preparing-your-business-for-flooding"
              data-journey-click="ltfri:manage:business-flood-plan">
              business flood plan
            </a>
          </li>
        </ul>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      </div>

      <div>
        <h2 class="govuk-heading-m">Protect your property</h2>
        <p class="govuk-body">
          Take action to ensure your property has the best available protection against flooding:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>

            <a class="govuk-link"
              href="https://nationalfloodforum.org.uk/about-flooding/reducing-your-risk/property-protection-advisor/"
              data-journey-click="ltfri:manage:property-protection-tool">Get advice from The National Flood Forum</a>
            about how to protect your property and how much this will cost
          </li>

          <li>
            <a class="govuk-link" href="http://bluepages.org.uk/protecting-my-property"
              data-journey-click="ltfri:manage:blue-pages">Find flood protection products and services at Blue Pages</a>
          </li>

          <li>
            Find out about
            <a class="govuk-link"
              href="https://www.gov.uk/government/collections/flood-risk-management-current-schemes-and-strategies"
              data-journey-click="ltfri:manage:ea-flood-schemes">
              local schemes and strategies to manage flood risk in your area</a>
          </li>
          <li>
            <a class="govuk-link"
              href="https://www.gov.uk/guidance/use-nature-based-solutions-to-reduce-flooding-in-your-area"
              data-journey-click="ltfri:manage:ea-nature-based">
              Use nature-based solutions to reduce flooding in your area</a>
          </li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      </div>

      <div>
        <h2 class="govuk-heading-m">Get insurance</h2>

        <p class="govuk-body">Make sure you have insurance that covers you for flood risk.</p>

        <p class="govuk-body">You can:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li><a class="govuk-link"
              href="https://nationalfloodforum.org.uk/about-flooding/insurance/household-insurance/"
              data-journey-click="ltfri:manage:national-flood-forum">get insurance advice from the National Flood
              Forum</a>
          </li>

          <li>
            <a class="govuk-link" href="https://www.floodre.co.uk/can-flood-re-help-me/"
              data-journey-click="ltfri:manage:flood-re">find lower-cost home insurance at Flood Re</a> if you're
            in a flood-risk area
          </li>

          <li>
            <a class="govuk-link" href="https://www.biba.org.uk/contact/"
              data-journey-click="ltfri:manage:find-a-broker">find a broker at The British Insurance Broker's
              Association</a> that specialises in properties that are difficult to insure
          </li>

          <li>
            <a class="govuk-link" href="https://www.gov.uk/request-flooding-history"
              data-journey-click="ltfri:manage:flood-history-report">request a flooding history
              report</a> to find out if a property is in an area which has been flooded in the past
          </li>

          <li>
            <a class="govuk-link" href="https://www.gov.uk/prepare-for-flooding/get-insurance"
              data-journey-click="ltfri:manage:flood-insurance-report">request an insurance related report</a> for
            evidence of your flood risk for insurance purposes
          </li>

          <li>
            <a class="govuk-link"
              href="https://www.gov.uk/government/publications/property-flood-protection-flood-risk-report"
              data-journey-click="ltfri:manage:flood-risk-report">complete a flood risk report</a> to show how the work
            you have done on your property has reduced your flood risk
          </li>
        </ul>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      </div>

      <div>
        <div class="icons-buttons">
          {% set subject = "Check your long term flood risk" | urlencode %}
          {% set body = "I've just checked my long term flood risk. Check yours here: " | urlencode %}
          {% set url = "https://check-long-term-flood-risk.service.gov.uk" | urlencode %}

          <h2 class="govuk-heading-m">Share this service</h2>
          <ul>
            <li>
              <a class="govuk-link twitter" target="_blank" data-journey-click="ltfri:manage:twitter"
                href="https://twitter.com/intent/tweet?text={{ body }}&url={{ url }}">Twitter</a>
            </li>
            <li>
              <a class="govuk-link facebook" target="_blank" data-journey-click="ltfri:manage:facebook"
                href="https://www.facebook.com/sharer/sharer.php?u={{ url }}&quote={{ body }}">Facebook</a>
            </li>
            <li>
              <a class="govuk-link email" data-journey-click="ltfri:manage:email"
                href="mailto:?subject={{ subject }}&body={{ body }}{{ url }}">Email</a>
            </li>
          </ul>
        </div>
      </div>

      <div>
      </div>
      <div class="govuk-!-margin-top-8">
        <!-- <a rel="nofollow" href="javascript:window.print()" class="govuk-link pull-right nojs-hidden">Print</a> -->
        <a href="/postcode" role="button" class="govuk-button govuk-!-margin-right-2">
          Check another area</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
