{% extends 'layout.html' %}

{% set pageTitle = "See flood risk on a map" %}

{% block header %}
{% endblock %}


{% block head %}
{{ super() }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/ol/ol.css" type="text/css">
<link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon">
<link href="{{ assetPath }}/stylesheets/map-page.css" rel="stylesheet" />
{% endblock %}

{% block main %}
<div class="map-container">
  <div id="map" tabindex="0" aria-label="Use your arrows to navigate the map. To zoom in and out cycle back to the zoom buttons."></div>
  {% include 'partials/map-page/map-controls.html' %}
  <!-- Key -->
  <!-- map-key inline styling required for ability to click off key on devices -->
  <div id="map-key" class="defra-map-key" style="display: block;">
    <div class="defra-map-key__container" id="defra-map-key__container">
      <h2 id="mapKeyLabel" class="defra-map-key__title">
        <span role="text">Key<span class="govuk-visually-hidden">for map features</span></span>
        <button class="defra-map-key__close" id="close-key">
          <svg id="close-btn" aria-hidden="true" focusable="false" viewBox="0 0 20 20">
            <path d="M10,8.6L15.6,3L17,4.4L11.4,10L17,15.6L15.6,17L10,11.4L4.4,17L3,15.6L8.6,10L3,4.4L4.4,3L10,8.6Z"></path>
          </svg>
          <span class="govuk-visually-hidden">Close key</span>
        </button>
      </h2>

      <div class="defra-map-key__content">
        <div class="govuk-form-group" id="map-key__section">
          {% include 'partials/map-page/key/surface-water.html' %}
          {% include 'partials/map-page/key/rivers-and-sea.html' %}
          {% include 'partials/map-page/key/reservoirs.html' %}
          {% include 'partials/map-page/key/toggles.html' %}
          
          <div class="data-message">
            <h2 class="data-message">Pause to updates of flood risk data</h2>
            We have <a href="https://www.gov.uk/guidance/updates-to-national-flood-and-coastal-erosion-risk-information" data-journey-click="ltfri:map:datapause" rel="noopener">
              paused updates to information about flood risk</a>
            from rivers and the sea and surface water while we get ready for new data.
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div id="progress"></div>
</div>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src="{{ assetPath }}/nunjucks-slim.js"></script>
<script src="{{ assetPath }}/js/map.js"></script>
<script src="{{ assetPath }}/js/mapPage.js"></script>
<script>
  window.mapCategories = {{ maps | dump | safe }}
</script>

{% endblock %}

{% block footer %}
{% endblock %}