{% extends 'layout.html' %}

{% from "components/input/macro.njk" import govukInput %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = "Where do you want to check?" %}

{% block content %}
<div id="postcode-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      {% if errorSummary %}
        {{ govukErrorSummary(errorSummary) }}
      {% endif %}

      <div class="govuk-inset-text">
        <p>This service will tell you the flood risk of an area, not a specific property.</p>
      </div>

      <form id="postcode-form" method="post">
        {{ govukInput(postcodeInput) }}
        {% if captchaEnabled %}
          <button class="govuk-button g-recaptcha" 
            type="submit"
            data-sitekey={{ captchaSiteKey }}
            data-callback="onSubmit"
            data-action="submit">
            Continue
          </button>
        {% else %}
          <button type="submit" class="govuk-button">Continue</button>
        {% endif %}
      </form>

      <p class="govuk-body">or <a href="/map" class="govuk-link"
          data-journey-click="ltfri:postcode:map">
          view a map showing areas at risk of flooding</a>.
      </p>

      <p class="govuk-body">
        <a href="http://www.royalmail.com/find-a-postcode" class="govuk-link" target="_blank"
          data-journey-click="ltfri:postcode:royal-mail">
          Use the Royal Mail postcode finder
        </a>
      </p>
    </div>
  </div>
</div>
{% if captchaEnabled %}
  <script src="https://www.google.com/recaptcha/api.js?render={{ captchaSiteKey }}"></script>
  <script>
    function onSubmit (token) {
      document.getElementById('postcode-form').submit()
    }
  </script>
{% endif %}
{% endblock %}