{% extends 'layout.html' %}

{% from "components/input/macro.njk" import govukInput %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = "Where do you want to check?" %}

{% block content %}
<div id="postcode-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      {% if errorSummary %}
        {{ govukErrorSummary(errorSummary) }}
      {% endif %}
      {% if friendlyCaptchaEnabled %}
      <div id="timeout" data-timeout="{{timeout}}">
      </div>
      {% endif %}
      <div class="govuk-inset-text">
        <p>This service will tell you the flood risk of an area, not a specific property.</p>
      </div>

      <form id="postcode-form" method="post">
        {{ govukInput(postcodeInput) }}
        {% if friendlyCaptchaEnabled %}
          <div style="margin-bottom: 20px;" id="FriendlyCaptcha" class="govuk-body" data-sitekey={{friendlyCaptchaSiteKey}} data-start="manual" data-callback="captchaDone" data-callback-error="captchaError" role="status"></div>
          <div class="govuk-grid-column-two-thirds" style="display: none;" id="nc-browser">
            <p class="govuk-body">The anti-robot check works better and faster in modern browsers such as Edge, Firefox, or Chrome. Please consider updating your browser</p>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <p class="govuk-body" style="color: grey;">
                Friendly Captcha checks that you aren't a robot. Find out how to use it in our <a href="/privacy-notice" 
                class="govuk-link">privacy notice</a>
              </p>
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <button type="submit" id="post-code-button" class="govuk-button">Continue</button>
            </div>
          </div>
        {% else %}
          <button type="submit" class="govuk-button">Continue</button>
        {% endif %}
      </form>

      <p class="govuk-body">or <a href="/map" class="govuk-link"
          data-journey-click="ltfri:postcode:map">
          view a map showing areas at risk of flooding</a>.
      </p>
      <p class="govuk-body">
        <a href="http://www.royalmail.com/find-a-postcode" rel="noopener" class="govuk-link" target="_blank"
          data-journey-click="ltfri:postcode:royal-mail">
          Use the Royal Mail postcode finder
        </a>
      </p>
    </div>
  </div>
</div>
{% if friendlyCaptchaEnabled %}
<noscript>
  <style type="text/css">
    #postcode-page {display:none;}
</style>
<div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">You need Javascript to use this service</h1>
      <p class="govuk-body">
        Please turn on javascript in your browser to use this service
      </p>
      <p class="govuk-body">
        You can try again by <a href="/postcode">starting a new search</a>
      </p>
      <p class="govuk-body">
        You can call Floodline for advice about flooding to check your long term risk:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Telephone: 0345 988 1188</li>
        <li>Textphone: 0345 603 6340</li>
      </ul>
      <p class="govuk-body">
        24 hour service.
      </p>
      <p class="govuk-body">
        <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
      </p>
    </div>
  </div>
</div>
 </noscript>
 <script>
    let sessionTimeoutTimer
    function setupCaptcha() {
      if (document.readyState === "loading") {
        window.addEventListener("load", (event) => {
          afterLoad()
        })
      } else {
        afterLoad()
      }
    }

    function afterLoad() {
      const captchaElement = document.getElementById('FriendlyCaptcha')
      captchaElement.classList.add('frc-captcha')
      friendlyChallenge.autoWidget = new friendlyChallenge.WidgetInstance(captchaElement,{
        startedCallback: fixupFriendlyCaptcha,
        readyCallback:  fixupFriendlyCaptcha,
      })
      friendlyChallenge.autoWidget.start()
    }

    function enableTimeout(expiry) {
      if (sessionTimeoutTimer) {
        clearTimeout(sessionTimeoutTimer)
        sessionTimeoutTimer = null
      }
      if (expiry > 0) {
        sessionTimeoutTimer = setTimeout(() => friendlyCaptchaExpire(), expiry);
      }  
    }
    function friendlyCaptchaExpire() {
      friendlyChallenge.autoWidget.expire()
      fixupFriendlyCaptcha()
    }
    function fixupFriendlyCaptcha() {
      // Accessibility edits to the FriendlyCaptcha widget.
      // Remove the Unicode character that causes screen readers to say ‘northeast double arrow’
      // Stop the FriendlyCaptcha link opening in a new window
      // Change the "I am Human" text to announce that the Check is complete
      const link = document.querySelector("span.frc-banner > a")
      if (link) {
        link.innerHTML = '<b>Friendly</b>Captcha'
        link.target = ''
        link.className += ' govuk-link'
      }
      const success = document.querySelectorAll(".frc-container > div > span.frc-text")
      if (success.length > 0) {
        success.forEach((el) => {if (el.textContent === 'I am human') el.textContent = 'Check complete. I am human'})
      }
      const button = document.querySelectorAll(".frc-container > div > button.frc-button")
      if (button.length > 0) {
        button.forEach((bt) => {bt.remove()})
      }
    }
    function captchaDone(solutionPayload) {
      enableTimeout(friendlyChallenge.autoWidget.puzzle.expiry)
      fixupFriendlyCaptcha()
    }
    function captchaError() {
      enableTimeout(0)
    }
  </script>
  <script type="module" src="{{ assetPath }}/js/widget.module.min.js" async defer onload="setupCaptcha()">
  </script>
  <script nomodule src="{{ assetPath }}/js/widget.polyfilled.min.js" async defer onload="setupCaptcha()">
  </script>
  <script src="{{ assetPath }}/js/captcha-refresh.js"></script>
{% endif %}
{% endblock %}
