{% extends 'layout.html' %}

{% set pageTitle = "Privacy notice" %}

{% block content %}
<div id="privacy-notice-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <h1 class="govuk-heading-m">Who we are</h1>

      <p class="govuk-body">
        The Environment Agency is the data controller for Check your long term flood risk. Our <a href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter" class="govuk-link">personal information charter</a> explains your rights and how we deal with your personal information.
      </p>

      <p class="govuk-body">
        Our contact details are available on <a href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter#contact-our-data-protection-officer" class="govuk-link">GOV.UK.</a>
      </p>

      <h2 class="govuk-heading-m">What personal data we collect</h2>

      <p class="govuk-body">
        We collect several pieces of personal data from you. The lawful basis we rely on for processing your personal data is article 6 of the UK General Data Protection Regulation (UK GDPR) and the <a href="https://www.gov.uk/data-protection" class="govuk-link">Data Protection Act 2018</a> (DPA 2018).
      </p>
      <h3 class="govuk-heading-s">Cookies</h3>
      <p class="govuk-body">Read our <a href="/cookies" class="govuk-link">cookies notice</a> to find out how we use cookies.</p>
      <h3 class="govuk-heading-s">Feedback form</h3>
      <p class="govuk-body">We use SmartSurvey to gather feedback on our service. The service is anonymous so we cannot identify you. You can find out more in the <a href="https://www.smartsurvey.co.uk/privacy-policy" class="govuk-link">SmartSurvey privacy policy.</a></p>
      <p class="govuk-body">If you submit feedback through our service, we collect your email address, if you include it.</p>
      
      <h3 class="govuk-heading-s">Friendly Captcha</h3>
      <p class="govuk-body">When you use our GOV.UK service, we use Friendly Captcha to check that you’re not a robot. For more information about the information Friendly Captcha collects, view the <a href="https://friendlycaptcha.com/legal/privacy-end-users/" class="govuk-link">Friendly Captcha privacy policy</a>.</p>

      <h2 class="govuk-heading-m">What we do with your personal data</h2>
      <p class="govuk-body">We may use your personal data to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>improve the service by monitoring how it's used and analysing feedback</li>
        <li>respond to any feedback you provide or invite you to take part in user research, if you ask us to</li>
        <li>protect the service from spam and abuse</li>
      </ul>

      <h2 class="govuk-heading-m">Where your personal data is processed and stored</h2>
      <p class="govuk-body">
        We design, build and run our systems to make sure your data is as safe as possible at all stages, both while it’s processed and when it’s stored.
      </p>
      <p class="govuk-body">Your personal data is stored and processes securely on servers in the UK and Ireland.</p>

      <h2 class="govuk-heading-m">Who your data might be shared with</h2>
      <p class="govuk-body">We may share your data or disclose information because of a law, regulation or court order, and to protect our interests and legal rights.</p>


      <h2 class="govuk-heading-m">Links to other websites</h2>


      <p class="govuk-body">
        Where we provide links to websites of other organisations, this privacy notice does not cover how that organisation processes personal information. We encourage you to read the privacy notices on the other websites you visit.
      </p>

      <h2 class="govuk-heading-m">How long we keep your personal data</h2>

      <p class="govuk-body">
        We will keep your personal data for 24 months. We may keep anonymised feedback for longer than this.
      </p>
      <h2 class="govuk-heading-m">Changes to this notice</h2>

      <p class="govuk-body">
        We may change this privacy notice. In that case, the 'last updated' date at the bottom of this page will also change. Any changes to this privacy notice will apply to you and your personal data immediately.
      </p>
      <p class="govuk-body">
        We encourage you to review this privacy notice regularly to find out how we are protecting your personal data.
      </p>
      <p class="govuk-body">Last updated: 9 January 2023.</p>
    </div>
  </div>
</div>
{% endblock %}
