{% extends 'layout.html' %}

{% set pageTitle = "Your long term flood risk assessment" %}

{% block beforeContent %}
<div class="top-page-links">
  <a href="/search" class="govuk-back-link" data-id="risk-address">Back to select an address</a>
</div>
{% endblock %}

{% block head %}
{{ super() }}
<link href="{{ assetPath }}/stylesheets/risk-page.css" rel="stylesheet" />
<link href="{{ assetPath }}/stylesheets/rivers-and-sea.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="risk-page" data-test-info="{{ testInfo }}">
  <!-- Page summary -->
  <div class="page-summary ">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-padding-top-0">
          {{ fullAddress }}
        </h1>
        {% include highestRisk %}
        <p class="govuk-body">This information tells you the flood risk of an area, not a specific property.</p>
        <p class="govuk-body">We have <a href="https://www.gov.uk/guidance/updates-to-national-flood-and-coastal-erosion-risk-information" class="govuk-link" data-journey-click="ltfri:risk:datapause">
          paused updates to information about flood risk</a>
        from rivers and the sea and surface water while we get ready for new data.</p>

        <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How we assess an area's flood risk
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">We use computer models to estimate flood risk, based on the best data we have available.</p>
            <p class="govuk-body">The models do not include every local feature like kerbs, fences and walls. That means we can only tell you the flood risk of the area around a building, not the building itself.</p>
            <p class="govuk-body">Neighbouring houses in a street may have different levels of flood risk. This could be because one is on higher land or is nearer water, for example.</p>
            <p class="govuk-body">An area can still be at risk of flooding even if it has not flooded before.</p>
            <p class="govuk-body">Any future flooding might not cover the same area as past flooding in the same location.</p>
            <p class="govuk-body">Flooding is hard to predict, especially further into the future. Flood risks could be bigger or smaller than what we show, and could change over time.</p>
           </div>
        </details>

        <!-- Holding Comments -->
        {% if hasHoldingComments %}
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            {% for comment in holdingComments %}
            <div class="{{ 'govuk-!-margin-bottom-4' if not loop.last }}">{{ comment }}</div>
            {% endfor %}
          </strong>
        </div>
        {% endif %}
      </div>

    <!-- Start of cards -->
<div class="govuk-grid-column-two-thirds summary-grid-width">

    {% include firstSource %}
    {% include secondSource %}

    <!-- Groundwater & Reservoir -->

    {% include additionalInformation %}

  </div>
  <!-- end of two-thirds -->
</div>

  <!-- Print summary -->
  <div class="print-summary">
    <table class="govuk-table">
      <caption class="govuk-table__caption">{{ address.address }}</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Rivers and sea risk</th>
          <td class="govuk-table__cell"><b>{{ riversAndSeaTitle }}</b><br>
            {% if riversAndSeaTextName %}
            {% include riversAndSeaTextName %}
            {% endif %}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Surface water risk</th>
          <td class="govuk-table__cell">
            <p>
              <b>{{ surfaceWaterTitle }}</b><br>
              {% if surfaceWaterTextName %}
              {% include surfaceWaterTextName %}
              {% endif %}
            </p>
            <p class="govuk-body">
              Lead local flood authorities (LLFA) manage the risk from surface water flooding and may hold more
              detailed information.
              {% if leadLocalFloodAuthority %}Your LLFA is <b>{{leadLocalFloodAuthority}}</b>.{% endif %}
            </p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Reservoir risk</th>
          <td class="govuk-table__cell">
            {% if reservoirRisk %}
            There is a risk of flooding from reservoirs in this area, reservoirs that can affect this area are:
            <ul class="govuk-list govuk-list--bullet">
              {% for reservoir in reservoirs %}
              <li>{{reservoir.name}}</li>
              {% endfor %}
            </ul>
            {% else %}
            Flooding from reservoirs is unlikely in this area
            {% endif %}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Groundwater risk</th>
          <td class="govuk-table__cell">
            {{ "Flooding is possible in the local area when groundwater levels are high" if isGroundwaterArea else
            "Flooding from groundwater is unlikely in this area" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
{% endblock %}