{% extends 'layout.html' %}

{% set pageTitle = "Get flood risk data" %}

{% block head %}
{{ super() }}
<link href="{{ assetPath }}/stylesheets/risk-data.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="risk-data-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Get flood risk data</h1>
      <nav data-module="gem-track-click" aria-label="Contents" class="gem-c-contents-list" role="navigation">
        <h2 class="gem-c-contents-list__title">
          Contents
        </h2>
        <ol class="gem-c-contents-list__list">
          <ol class="gem-c-contents-list__nested-list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#how-to-access"
              data-journey-click="ltfri:risk-data:contents-how-to-access">
                How to access flood risk data
              </a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#rs-data"
              data-journey-click="ltfri:risk-data:contents-rivers-and-the-sea">
                Rivers and the sea data
              </a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#sw-data"
              data-journey-click="ltfri:risk-data:contents-surface-water">
                Surface water data
              </a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                href="#reservoir-data" data-journey-click="ltfri:risk-data:contents-reservoir">
                Reservoir data
              </a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                href="#groundwater-data" data-journey-click="ltfri:risk-data:contents-groundwater">
                Groundwater data
              </a>
            </li>
          </ol>

        </ol>
      </nav>
      <h2 class="govuk-heading-l" id="how-to-access">How to access flood risk data</h2>
      <p class="govuk-body">
        We use a range of datasets to produce flood risk results in the <a class="govuk-link"
          href="https://www.gov.uk/check-long-term-flood-risk" previewlistener="true" data-journey-click="ltfri:risk-data:check-long-term-flood-risk">
          "check your long term flood risk"</a> service.
      </p>
      <p class="govuk-body">
        Technical users can find and download the datasets and put them into their own GIS or internal systems by following the links on this page.
      </p>

      <p class="govuk-body">
        You can also search for the datasets on the 
        <a class="govuk-link" href="https://environment.data.gov.uk/"
          previewlistener="true">Data Services Platform (DSP)
        </a>.
      </p>
      <p class="govuk-body">
        Once you’ve chosen a dataset you can select an area on the map and download the whole dataset or an area of interest. 
      </p>

      <h3 class="govuk-heading-m">What data you can get</h3>

      <p class="govuk-body">
        You can find and access data on flood risk from:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>rivers and the sea</li>
        <li>surface water</li>
        <li>reservoirs</li>
      </ul>

      <p class="govuk-body">
        The datasets are not suitable for identifying whether an individual property will flood.
      </p>

      <h2 class="govuk-heading-l" id="rs-data">Rivers and the sea data</h2>

      <p class="govuk-body">
        The following dataset shows the chance of flooding from rivers and the sea, presented as 4 likelihood
        categories:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="https://environment.data.gov.uk/dataset/8d57464f-d465-11e4-8790-f0def148f590"
            previewlistener="true" data-journey-click="ltfri:risk-data:rivers-and-the-sea-risk-data">
            risk of flooding from rivers and sea
          </a>
        </li>
      </ul>

      <h2 class="govuk-heading-l" id="sw-data">Surface water data</h2>
      <p class="govuk-body">
        There are a series of surface water datasets available, including:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>extent of flooding</li>
        <li>velocity (including speed, direction and depth of flooding)</li>
      </ul>

      <p class="govuk-body">
        The surface water datasets on the DSP do not include the 15 metre marker used on the "check your long term flood
        risk" service.
      </p>

      <h3 class="govuk-heading-m">Extent of flooding</h3>
      <p class="govuk-body">
        The following datasets show the extent of flooding from surface water that could result from a flood in low,
        medium and high risk scenarios:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>low – 
          <a class="govuk-link"
            href="https://environment.data.gov.uk/dataset/90abef91-d465-11e4-b63a-f0def148f590"
            previewlistener="true" data-journey-click="ltfri:risk-data:surface-water-extent-low">
            risk of flooding from surface water extent: 0.1% annual chance
          </a>
        </li>
        <li>medium – 
          <a class="govuk-link"
            href="https://environment.data.gov.uk/dataset/9089254f-d465-11e4-9265-f0def148f590"
            previewlistener="true" data-journey-click="ltfri:risk-data:surface-water-extent-medium">
            risk of flooding from surface water extent: 1% annual chance
          </a>
        </li>
        <li>high - 
          <a class="govuk-link"
            href="https://environment.data.gov.uk/dataset/90d2ff8f-d465-11e4-8cb5-f0def148f590"
            previewlistener="true" data-journey-click="ltfri:risk-data:surface-water-extent-high">
            risk of flooding from surface water extent: 3.3% annual chance
          </a>
        </li>
      </ul>

      <h3 class="govuk-heading-m">Direction of flood water</h3>
      <p class="govuk-body">
        The following datasets are based on a 25m grid. They show the direction of flooding from surface water that
        could result from a flood in low, medium and high risk scenarios:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>low – 
          <a class="govuk-link"
            href="https://environment.data.gov.uk/dataset/9122cd40-d465-11e4-beb6-f0def148f590"
            previewlistener="true" data-journey-click="ltfri:risk-data:surface-water-direction-low-25m">
            risk of flooding from surface water direction (25m): 0.1% annual chance
          </a>
        </li>
        <li>medium – 
          <a class="govuk-link"
            href="https://environment.data.gov.uk/dataset/90f9e880-d465-11e4-91be-f0def148f590"
            previewlistener="true" data-journey-click="ltfri:risk-data:surface-water-direction-medium-25m">
            risk of flooding from surface water direction (25m): 1% annual chance
          </a>
        </li>
        <li>high – 
          <a class="govuk-link"
            href="https://environment.data.gov.uk/dataset/9145be8f-d465-11e4-b257-f0def148f590"
            previewlistener="true" data-journey-click="ltfri:risk-data:surface-water-direction-high-25m">
            risk of flooding from surface water direction (25m): 3.3% annual chance
          </a>
        </li>
      </ul>

      <p class="govuk-body">
        You can also use the following datasets, which are based on a 2m grid:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>low – 
          <a class="govuk-link"
            href="https://environment.data.gov.uk/dataset/cbbde090-c5d4-42b6-bc66-572eedf80908"
            previewlistener="true" data-journey-click="ltfri:risk-data:surface-water-direction-low-2m">
            risk of flooding from surface water direction (2m): 0.1% annual chance
          </a>
        </li>
        <li>medium – 
          <a class="govuk-link"
            href="https://environment.data.gov.uk/dataset/1d2e758f-d615-4a65-83a7-4c4b9d5ac1e5"
            previewlistener="true" data-journey-click="ltfri:risk-data:surface-water-direction-medium-2m">
            risk of flooding from surface water direction (2m): 1% annual chance
          </a>
        </li>
        <li>high – 
          <a class="govuk-link"
            href="https://environment.data.gov.uk/dataset/4df3a0ce-f4a7-4b96-a0c9-c0160a1ecc83"
            previewlistener="true" data-journey-click="ltfri:risk-data:surface-water-direction-high-2m">
            risk of flooding from surface water direction (2m): 3.3% annual chance
          </a>
        </li>
      </ul>

      <h3 class="govuk-heading-m">Speed of flood water</h3>
      <p class="govuk-body">
        The following datasets show the speed of flooding from surface water that could result from a flood in low,
        medium and high risk scenarios:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>low – 
          <a class="govuk-link"
            href="https://environment.data.gov.uk/dataset/930792cf-d465-11e4-8a33-f0def148f590"
            previewlistener="true" data-journey-click="ltfri:risk-data:surface-water-speed-low">
            risk of flooding from surface water speed: 0.1% annual chance
          </a>
        </li>
        <li>medium – 
          <a class="govuk-link"
            href="https://environment.data.gov.uk/dataset/92b6dac0-d465-11e4-a94a-f0def148f590"
            previewlistener="true" data-journey-click="ltfri:risk-data:surface-water-speed-medium">
            risk of flooding from surface water speed: 1% annual chance
          </a>
        </li>
        <li>high – 
          <a class="govuk-link"
            href="https://environment.data.gov.uk/dataset/932aab30-d465-11e4-9aa5-f0def148f590"
            previewlistener="true" data-journey-click="ltfri:risk-data:surface-water-speed-high">
            risk of flooding from surface water speed: 3.3% annual chance
          </a>
        </li>
      </ul>

      <h3 class="govuk-heading-m">Depth of flood water</h3>
      <p class="govuk-body">
        The following datasets show the depth of flooding from surface water that could result from a flood in low,
        medium and high risk scenarios:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>low – 
          <a class="govuk-link"
            href="https://environment.data.gov.uk/dataset/90342780-d465-11e4-b1ec-f0def148f590"
            previewlistener="true" data-journey-click="ltfri:risk-data:surface-water-depth-low">
            risk of flooding from surface water depth: 0.1% annual chance
          </a>
        </li>
        <li>medium – 
          <a class="govuk-link"
            href="https://environment.data.gov.uk/dataset/90110f1e-d465-11e4-b325-f0def148f590"
            previewlistener="true" data-journey-click="ltfri:risk-data:surface-water-depth-medium">
            risk of flooding from surface water depth: 1% annual chance
          </a>
        </li>
        <li>high – 
          <a class="govuk-link"
            href="https://environment.data.gov.uk/dataset/905c9711-d465-11e4-a6e0-f0def148f590"
            previewlistener="true" data-journey-click="ltfri:risk-data:surface-water-depth-high">
            risk of flooding from surface water depth: 3.3% annual chance
          </a>
        </li>
      </ul>

      <h3 class="govuk-heading-m">About the data modelling</h3>
      <p class="govuk-body">
        The following dataset shows information about the computer modelling used in an area:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="https://environment.data.gov.uk/dataset/926e600f-d465-11e4-95fe-f0def148f590"
            previewlistener="true" data-journey-click="ltfri:risk-data:computer-modelling">
            risk of flooding from surface water input model details
          </a>
        </li>
      </ul>

      <h3 class="govuk-heading-m">Scale and suitability of the data</h3>
      <p class="govuk-body">
        The following dataset gives a suitability rating, which tells you what scale the information should be used at:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="https://environment.data.gov.uk/dataset/92912a4f-d465-11e4-8687-f0def148f590"
            previewlistener="true" data-journey-click="ltfri:risk-data:suitability">
            risk of flooding from surface water suitability
          </a>
        </li>
      </ul>

      <h3 class="govuk-heading-l" id="reservoir-data">Reservoir data</h3>
      <p class="govuk-body">
        The following datasets show the predicted extent of flooding if reservoirs fail when nearby rivers:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>are at normal levels – 
          <a class="govuk-link"
            href="https://environment.data.gov.uk/dataset/c66ee97f-49d2-454e-9a19-d48a47bd22ad"
            previewlistener="true" data-journey-click="ltfri:risk-data:predicted-extent-reservoir-dry">
            reservoir flood extents - dry day (national)
          </a>
        </li>
        <li>have burst their banks – 
          <a class="govuk-link"
            href="https://environment.data.gov.uk/dataset/d81646cf-37e5-4e71-bbcf-b7d5b9ca3a1c"
            previewlistener="true" data-journey-click="ltfri:risk-data:predicted-extent-reservoir-wet">
            reservoir flood extents - wet day (national)
          </a>
        </li>
      </ul>
      <h3 class="govuk-heading-l" id="groundwater-data">Groundwater data</h3>
      <p class="govuk-body">
        We do not have modelled data for groundwater flooding.
      </p>
      <p class="govuk-body">
        We use 
        <a class="govuk-link" href="https://environment.data.gov.uk/dataset/864c72de-d465-11e4-855f-f0def148f590">
          flood alert data
        </a> to check the risk of flooding from groundwater.
      </p>
    </div>
  </div>
</div>
{% endblock %}