{% extends 'layout.html' %}

{% from "components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "components/radios/macro.njk" import govukRadios %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/back-link/macro.njk" import govukBackLink %}
{% from "components/table/macro.njk" import govukTable %}

{% set pageTitle = "Sandpit Login" %}

{% block content %}
  <main>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Sandpit Login</h1>
        <p class="govuk-body">
          You must be an authorised user to access the sandpit environment.
        </p>

        <form method="POST">
          {{ govukInput({
            label: {
              text: 'Username'
            },
            id: 'username',
            value: "",
            name: 'username',
            classes: 'govuk-input--width-10'
          }) }}
          {{ govukInput({
            label: {
              text: 'Password'
            },
            id: 'password',
            value: "",
            name: 'password',
            classes: 'govuk-input--width-10'
          }) }}
          <button class="govuk-button" type="submit">Login</button>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
