{% from "components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "components/radios/macro.njk" import govukRadios %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/password-input/macro.njk" import govukPasswordInput %}
{% from "components/back-link/macro.njk" import govukBackLink %}
{% from "components/table/macro.njk" import govukTable %}

{% set pageTitle = "Sandpit Login" %}

<body>
  <style>
    body {
      font-family: 'Courier New', Courier, monospace;
    }

    form {
      width: 250px;
    }

    .govuk-form-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    #error-message {
      font-weight: 700;
    }
  </style>
  <main>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">Sandpit Login</h1>
        
        <p class="govuk-body">
          You must be an authorised user to access the sandpit environment.
        </p>

        <p id="error-message">{{ errorMessage.text }}</p>

        <form method="POST">
          {{ govukInput({
            label: {
              text: 'Username'
            },
            id: 'username',
            value: "",
            name: 'username',
            classes: 'govuk-input--width-10'
          }) }}
          {{ govukPasswordInput({
            label: {
              text: 'Password'
            },
            id: 'password-input',
            value: "",
            name: 'password',
            classes: 'govuk-input--width-10'
          }) }}
          <button class="govuk-button" type="submit">Login</button>
        </form>
      </div>
    </div>
  </main>
</body>
