{% extends 'layout.html' %}

{% block content %}
<div id="things-you-can-do-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Manage your flood risk</h2>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Prepare for flooding
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-1">
            <p class="govuk-body">Use these services to get prepared:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>check your <a class="govuk-link" href="https://www.metoffice.gov.uk/">local weather</a></li>
              <li>sign up for <a class="govuk-link" href="https://www.gov.uk/sign-up-for-flood-warnings">flood
                  warnings</a></li>
              <li>view a <a class="govuk-link"
                  href="https://flood-warning-information.service.gov.uk/5-day-flood-risk">5-day flood forecast</a></li>
              <li>monitor local <a class="govuk-link"
                  href="https://flood-warning-information.service.gov.uk/river-and-sea-levels">rivers and the sea</a>
              </li>
            </ul>

            <p class="govuk-body">
              If you are about to be flooded think about those around you, such as:
            </p>

            <ul class="govuk-list govuk-list--bullet">
              <li>babies and children</li>
              <li>the elderly</li>
              <li>disabled people</li>
              <li>neighbours</li>
              <li>your pets</li>
            </ul>

            <p class="govuk-body">
              Plan how you’ll respond to a flood by making a:
            </p>

            <ul class="govuk-list govuk-list--bullet">
              <li><a class="govuk-link" href="https://www.gov.uk/government/publications/personal-flood-plan">personal
                  flood plan</a></li>
              <li><a class="govuk-link"
                  href="https://www.gov.uk/government/publications/flood-plan-guidance-for-communities-and-groups"></a>community
                or group flood plan</a></li>
              <li><a class="govuk-link"
                  href="https://www.gov.uk/government/publications/preparing-your-business-for-flooding"></a>business
                flood plan</a></li>
            </ul>

            <p class="govuk-body">
              For further advice about flooding check the <a class="govuk-link"
                href="https://nationalfloodforum.org.uk/">National flood forum</a>.
            </p>

            <p class="govuk-body">
              The Lead Local Flood Authority (LLFA) for the area you checked is
              Sefton. Sefton LLFA manages the flood risk from surface water and may
              hold more detailed information.
            </p>

            <p class="govuk-body">
              Get help <a class="govuk-link" href="https://www.gov.uk/help-during-flood">during a flood</a>
            </p>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Protect your property
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-2">
            <p class="govuk-body">
              To protect your property and find out how much it will cost
              <a class="govuk-link"
                href="https://nationalfloodforum.org.uk/about-flooding/reducing-your-risk/property-protection-advisor/">use
                the
                National Flood Forum‘s property protection tool</a>.
            </p>

            <p class="govuk-body">
              Read about what the
              <a class="govuk-link"
                href="https://www.gov.uk/government/collections/flood-risk-management-current-schemes-and-strategies">
                Environment Agency is doing about flooding</a>.
            </p>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Get insurance advice
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-3">
            <p class="govuk-body">You can:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>find lower-cost home insurance through <a class="govuk-link"
                  href="https://www.floodre.co.uk/homeowner/find-an-insurer/">Flood Re</a> if you’re in a
                flood-risk area</li>
              <li>get insurance advice from the <a class="govuk-link"
                  href="https://nationalfloodforum.org.uk/about-flooding/insurance/household-insurance/">National Flood
                  Forum</a></li>
              <li><a class="govuk-link" href="https://www.biba.org.uk/contact/">find a broker</a> that specialises in
                properties that are difficult to
                insure</li>
            </ul>

            <h4 class="govuk-heading-s">Get evidence of flood risk</h4>

            <p class="govuk-body">
              Contact the Environment Agency if your insurer asks for evidence of your flood risk.
              <a class="govuk-link"
                href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
            </p>
            <p class="govuk-body">
              You will receive a letter within 20 days - free for individuals and businesses
            </p>

            <h4 class="govuk-heading-s">If you’ve done work on your property</h4>

            <p class="govuk-body">
              Show insurers or buyers how the work has reduced your flood risk. You or your surveyor can complete a
              Flood Risk Report
            </p>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Planning permission
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-4">
            <p class="govuk-body">
              If you want to build a new extension, property or development find out if
              you need a <a class="govuk-link" href="https://flood-map-for-planning.service.gov.uk/">Flood Risk
                Assessment (FRA)</a>
            </p>
          </div>
        </div>
      </div>

      <div class="govuk-!-margin-top-8">
        <a href="/{{ mountPath }}/postcode" role="button" class="govuk-button govuk-!-margin-right-2">
          Check another area</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}