{% extends 'layout.html' %}

{% block content %}
<div id="things-you-can-do-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Managing flood risk</h1>

      <div>
        <h2 class="govuk-heading-m">Prepare for flooding</h2>

        <p class="govuk-body">
          Our climate is changing and one of the risks is an increase in flooding.
          Extreme weather events could happen more often.
        </p>

        <p class="govuk-body">
          You can still be at risk of flooding even if your area has not flooded in the past.
        </p>

        <p class="govuk-body">Use these services to get prepared:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>check your <a class="govuk-link" href="https://www.metoffice.gov.uk">local weather</a></li>
          <li>sign up for <a class="govuk-link" href="https://www.gov.uk/sign-up-for-flood-warnings">flood
              warnings</a></li>
          <li>view a <a class="govuk-link"
              href="https://flood-warning-information.service.gov.uk/5-day-flood-risk">5-day flood forecast</a></li>
          <li>monitor <a class="govuk-link"
              href="https://flood-warning-information.service.gov.uk/river-and-sea-levels">local rivers and the sea</a>
          </li>
        </ul>

        <p class="govuk-body">
          If you are about to be flooded think about those around you, such as:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>babies and children</li>
          <li>older people</li>
          <li>disabled people</li>
          <li>neighbours</li>
          <li>your pets</li>
        </ul>

        <p class="govuk-body">
          It can affect your gas, water and electricity supplies and disrupt your travel plans.
        </p>

        <p class="govuk-body">
          Plan how you’ll respond to a flood by making a:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="https://www.gov.uk/government/publications/personal-flood-plan">
              personal flood plan
            </a>
          </li>
          <li>
            <a class="govuk-link"
              href="https://www.gov.uk/government/publications/flood-plan-guidance-for-communities-and-groups">
              community or group flood plan
            </a>
          </li>
          <li>
            <a class="govuk-link"
              href="https://www.gov.uk/government/publications/preparing-your-business-for-flooding">
              business flood plan
            </a>
          </li>
        </ul>

        <p class="govuk-body">
          For further advice about flooding check the <a class="govuk-link"
            href="https://nationalfloodforum.org.uk">National flood forum</a>.
        </p>
        <!-- 
        <p class="govuk-body">
          The Lead Local Flood Authority (LLFA) for the area you checked is
          Sefton. Sefton LLFA manages the flood risk from surface water and may
          hold more detailed information.
        </p> -->
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      </div>

      <div>
        <h2 class="govuk-heading-m">Protect your property</h2>
        <p class="govuk-body">
          To protect your property and find out how much it will cost
          <a class="govuk-link"
            href="https://nationalfloodforum.org.uk/about-flooding/reducing-your-risk/property-protection-advisor/">use
            the
            National Flood Forum‘s property protection tool</a>.
        </p>

        <p class="govuk-body">
          Find out about flood protection products and services at <a class="govuk-link"
            href="http://bluepages.org.uk/protecting-my-property">Blue Pages</a>.
        </p>

        <p class="govuk-body">
          Read about what the
          <a class="govuk-link"
            href="https://www.gov.uk/government/collections/flood-risk-management-current-schemes-and-strategies">
            Environment Agency is doing about flooding</a>.
        </p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      </div>

      <div>
        <h2 class="govuk-heading-m">Insurance and moving house</h2>
        <p class="govuk-body">
          Insurance companies use a wide range of flood information to calculate premiums.
        </p>

        <p class="govuk-body">Make sure you have insurance that covers you for flood risk.</p>

        <p class="govuk-body">You can:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            ask your insurance broker about the <a class="govuk-link"
              href="https://www.floodre.co.uk/homeowner/find-an-insurer/">Flood Re</a> scheme to get cover for
            properties at risk of flooding</li>
          <li>
            <a class="govuk-link" href="https://www.biba.org.uk/contact/">find a broker</a> that specialises in
            properties that are difficult to insure
          </li>
          <li>get insurance advice from the <a class="govuk-link"
              href="https://nationalfloodforum.org.uk/about-flooding/insurance/household-insurance/">National Flood
              Forum</a>
          </li>
        </ul>

        <p class="govuk-body">
          To find out if the area a property is in has flooded in the past <a class="govuk-link"
            href="mailto:enquiries@environment-agency.gov.uk?subject=Flood history report">get a flood
            report</a>.
        </p>

        <h4 class="govuk-heading-s">Get evidence of flood risk</h4>

        <p class="govuk-body">
          For evidence of your flood risk
          <a class="govuk-link" href="mailto:enquiries@environment-agency.gov.uk?subject=Flood insurance report">contact
            the Environment Agency</a>.
        </p>

        <p class="govuk-body">
          You will receive a letter within 20 days.
        </p>

        <h4 class="govuk-heading-s">If you’ve done work on your property</h4>

        <p class="govuk-body">
          Show insurers or buyers how the work has reduced your flood risk. You or your surveyor can complete a
          <a class="govuk-link" href="https://www.gov.uk/government/publications/property-flood-protection-flood-risk-report">Flood Risk Report</a>.
        </p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      </div>

      <div>
        <h2 class="govuk-heading-m">Planning permission</h2>
        <p class="govuk-body">
          This information is not suitable for use in land-use planning.
        </p>
        <p class="govuk-body">
          Use the
          <a class="govuk-link" href="https://flood-map-for-planning.service.gov.uk">flood map for planning
            service</a>.
        </p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      </div>

      <div class="govuk-!-margin-top-8">
        <!-- <a rel="nofollow" href="javascript:window.print()" class="govuk-link pull-right nojs-hidden">Print</a> -->
        <a href="/{{ mountPath }}/postcode" role="button" class="govuk-button govuk-!-margin-right-2">
          Check another area</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}