.at-risk-detail {
  @media print {
    // Make the graphics in the lefthand gutter smaller
    // Only do this for mobile viewport.
    // NOTE: As of Chrome v32 and regardless of margin settings, 
    // Chrome uses a viewport width significantly narrower than 
    // the physical paper size when resolving media queries while 
    // printing a webpage. This can result in gov.uk mobile layouts
    // and grids being unexpectedly activated when printing.
    @include media(mobile) {
      .column-quarter {
        position: relative;

        img {
          width: 47px;
          position: absolute;
        }
      }
      .column-three-quarters {
        margin-left: 50px;
      }
    }
  }
}
