{{#extend "layout"}}

  {{#content "head"}}
    <link rel="stylesheet" type="text/css" href="{{{ assetPath }}}stylesheets/home/index.css">
  <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.11.2/ol-debug.js"></script>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.10.1/ol.css">
  {{/content}}

  {{#content "content"}}
    <h1 class="heading-xlarge">Risk of flooding - all sources</h1>
    <h2 class="heading-medium">Floods destroy. Be prepared.</h2>
    <h3 class="lede">Risk of flooding from Surface Water - Extent of flood:</h3>
    <div class="map-container">
      <div class="visible-mobile">
        {{> map/selector }}
      </div>
      <div class="grid-row">
        <div class="column-third hidden-mobile">
          {{> map/sidebar }}
        </div>
        <div class="column-two-thirds">
          <div id="map" class="map"></div>
        </div>
      </div>
    </div>
    <div class="legend"></div>
    <div class="feature"></div>
    <div class="feature-popup">
      <a href="#"class="feature-popup-closer"></a>
      <div class="feature-popup-content"></div>
    </div>

  {{/content}}

  {{#content "bodyEnd"}}
    <script src="{{{ assetPath }}}javascripts/index.js"></script>

    <style>
    .feature-popup {
      position: absolute;
      background-color: rgba(255,255,255,0.8);
      -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
      filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
      padding: 15px;
      border-radius: 10px;
      border: 1px solid #cccccc;
      bottom: 12px;
      left: -50px;
      min-width: 280px;
    }
    .feature-popup:after, .feature-popup:before {
      top: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    .feature-popup:after {
      border-top-color: white;
      border-width: 10px;
      left: 48px;
      margin-left: -10px;
    }
    .feature-popup:before {
      border-top-color: #cccccc;
      border-width: 11px;
      left: 48px;
      margin-left: -11px;
    }
    .feature-popup-closer {
      text-decoration: none;
      position: absolute;
      top: 2px;
      right: 8px;
    }
    .feature-popup-closer:after {
      content: "✖";
    }
    </style>

  {{/content}}

{{/extend}}
