{{#extend "layout"}}

  {{#content "head"}}
    <link rel="stylesheet" type="text/css" href="{{{ assetPath }}}stylesheets/home/index.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.11.2/ol-debug.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.10.1/ol.css">
  {{/content}}

  {{#content "content"}}
    <h1 class="heading-xlarge">Risk of flooding - all sources</h1>
    <h2 class="heading-medium">Floods destroy. Be prepared.</h2>
    <h3 class="lede">Risk of flooding from Surface Water - Extent of flood:</h3>
    <div class="map-container">
      <div class="visible-mobile">
        {{> map/selector }}
      </div>
      <div class="grid-row">
        <div class="column-third hidden-mobile">
          {{> map/sidebar }}
        </div>
        <div class="column-two-thirds">
          <div id="map" class="map" style="width: 100%; height:100%"></div>
          <!--<img src="{{{ assetPath }}}images/map.png" style="width: 100%"/>-->
        </div>
      </div>
    </div>
    <div class="legend"></div>
    <div class="feature"></div>
  {{/content}}

  {{#content "bodyEnd"}}
    <script src="{{{ assetPath }}}javascripts/index.js"></script>

  {{/content}}

{{/extend}}
