{{#extend "layout"}}

  {{#content "head"}}
    <link rel="stylesheet" type="text/css" href="{{{ assetPath }}}stylesheets/home/index.css">
  {{/content}}

  {{#content "content"}}
    <h1 class="heading-xlarge">Risk of flooding - all sources</h1>
    <h2 class="heading-medium">Floods destroy. Be prepared.</h2>
    <h3 class="lede">Risk of flooding from Surface Water - Extent of flood:</h3>
    <div class="map-container">
      <div class="visible-mobile">
        {{> map/selector }}
      </div>
      <div class="grid-row">
        <div class="column-third hidden-mobile">
          {{> map/sidebar }}
        </div>
        <div class="column-two-thirds">
          <img src="{{{ assetPath }}}images/map.png" style="width: 100%">
        </div>
      </div>
    </div>
  {{/content}}

  {{#content "bodyEnd"}}
    <script src="{{{ assetPath }}}javascripts/index.js"></script>
  {{/content}}

{{/extend}}
