{{#extend "layout"}}

  {{#content "head"}}
    <link rel="stylesheet" type="text/css" href="{{{ assetPath }}}stylesheets/risk/index.css">
  {{/content}}

  {{#content "content"}}
    <h1 class="heading-xlarge">Long term flood risk for:</h1>
    <h2 class="heading-medium">{{ fullAddress }}</h2>
    <span class="severity {{ severityClass }}">{{ severityText }}</span>
    <a href="#">What does this mean</a>
    <h3 class="lede">Floods Destroy. Be prepared.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet tortor in nisl iaculis, at pretium nulla feugiat. Mauris ac massa quis ligula rhoncus fermentum. Proin gravida ornare placerat. Vivamus efficitur elit ipsum, nec cursus arcu consectetur et. Sed sed nibh sed massa malesuada mattis in eu elit. Pellentesque turpis nisi, sagittis et auctor eu, pharetra vel ex. Fusce eleifend rhoncus neque, non feugiat mi tincidunt in. Phasellus nec nunc nec nulla rhoncus eleifend. Mauris diam nisi, iaculis in posuere ut, laoreet in purus. Etiam ac consectetur arcu, ac porta neque. Cras ac sem quis mi molestie posuere in id lacus. Donec in vestibulum enim.</p>
    <p>Proin sed cursus nunc. Nulla auctor malesuada odio, nec porttitor tellus consectetur pretium. Vivamus in aliquam lorem, eu elementum purus. Suspendisse ornare, lorem vitae accumsan imperdiet, ipsum mi commodo dolor, sed ornare risus turpis vel ipsum. Maecenas molestie augue et turpis pharetra iaculis. Maecenas id est ac dolor feugiat lacinia at eu ligula. Donec rhoncus vulputate nisl. Fusce pellentesque nulla egestas nulla congue, ac pellentesque dui interdum. Phasellus elementum urna sit amet diam malesuada rutrum.</p>
    <ol class="list-number">
      <li>Nulla non est quis libero congue convallis.</li>
      <li>Duis pellentesque turpis in lectus auctor pharetra.</li>
      <li>Vivamus eget eros mollis, cursus eros accumsan, gravida urna.</li>
      <li>Nulla a nisi ultrices, ornare ante a, consequat nisl.</li>
    </ol>
    <a href="/">Search again in a different area</a>
    <a href="/map?easting={{easting}}&northing={{northing}}">View this information on a map</a>
  {{/content}}

  {{#content "bodyEnd"}}
    <script src="{{{ assetPath }}}javascripts/risk.js"></script>
  {{/content}}

{{/extend}}
