<details>
  <summary aria-expanded="false" role="button">
    <span class="summary">Other ways of getting this information</span>
  </summary>
  <div class="panel panel-border-narrow" aria-hidden="true">
    <ul class="contact-numbers">
      <li><span class="contact-type">Call Floodline:</span> 0345 988 1188</li>
      <li><span class="contact-type">Type talk:</span> 0345 602 6340 <em>(for the hard of hearing)</em></li>
    </ul>
    <br>
    <div class="call-charges">
      <p>
        <a href="https://www.gov.uk/call-charges" rel="external" title="Find out more about call charges">Find out more about call charges</a>
      </p>
  </div>
</details>
