<div class="govuk-body-s govuk-!-margin-bottom-1">{{ title }}</div>

<!-- {% if legend.title %}
<p class="govuk-body-s">{{ legend.title }}</p>
{% endif %} -->
<!-- <br> -->
<!-- <h3 class="govuk-heading-s">Legend</h3> -->
{% if legend.subTitle %}
<p class="govuk-body-s govuk-!-margin-bottom-1">{{ legend.subTitle }}</p>
{% endif %}

<ul class="govuk-list">
  {% for key in legend.keys %}
  <li>
    {% if key.id %}
    <div class="legend-item round {{ key.icon }}">
      <a class="govuk-link" aria-label="{{ key.desc }}" href="risk-types#{{ key.id }}" data-id="{{ key.id }}">
        {{ key.text }}
      </a>
    </div>
    {% else %}
    <div class="legend-item round {{ key.icon }}">
      <span>{{ key.text }}</span>
    </div>
    {% endif %}
  </li>
  {% endfor %}
  {% if hasLocation %}
  <li>
    <div class="legend-item crosshair">
      <span>Location you selected</span>
    </div>
  </li>
  {% endif %}
</ul>