{% if isMonitoringStation %}
<h3 class="govuk-heading-m govuk-!-padding-right-8">
  {% if isRiverLevelStation %}Depth{% else %}Water level{% endif %} and flow estimates for the monitoring station at
  {{ stationName }}
</h3>
<p class="govuk-body-s">
  The Environment Agency uses 3 risk scenarios to estimate the
  {% if isRiverLevelStation %}depth{% else %}level{% endif %} and flow of water that could occur at this location in any
  given year.
</p>

<h4 class="govuk-heading-s">
  {% if isRiverLevelStation %}Depth{% else %}Level{% endif %} estimates at this monitoring station
</h4>

<h5 class="govuk-heading-s">
  High chance scenario
</h5>
<p class="govuk-body-s">
  There's a high chance (over 3.3%) that {% if isRiverLevelStation %}water depth{% else %}the water level{% endif %}
  will reach {{ depth30 }}m
</p>

<h5 class="govuk-heading-s">
  Medium chance scenario
</h5>
<p class="govuk-body-s">
  There's a medium chance (over 1%) that {% if isRiverLevelStation %}water depth{% else %}the water level{% endif %}
  will reach {{ depth100 }}m
</p>

<h5 class="govuk-heading-s">
  Low chance scenario
</h5>
<p class="govuk-body-s">
  There's a low chance (under 1%) that {% if isRiverLevelStation %}water depth{% else %}the water level{% endif %} will
  reach {{ depth1000 }}m
</p>

{% if isRiverLevelStation %}
<h4 class="govuk-heading-m govuk-!-padding-right-8">
  Flow estimates at this monitoring station
</h4>

<h5 class="govuk-heading-s">
  High chance scenario
</h5>
<p class="govuk-body-s">There's a high chance (over 3.3%) that the flow will reach {{ flow30 }} cubic metres per second.
</p>

<h5 class="govuk-heading-s">
  Medium chance scenario
</h5>
<p class="govuk-body-s">
  There's a medium chance (over 1%) that the flow will reach {{ flow100 }} cubic metres per second.
</p>

<h5 class="govuk-heading-s">
  Low chance scenario
</h5>
<p class="govuk-body-s">There's a low chance (under 1%) that the flow will reach {{ flow1000 }} cubic metres per second.
</p>
{% endif %}
{% elseif isRiskDescription %}
{% if isRiversOrSeas %}
<div class="rivers-seas {{ id }}">
  <h2 class="govuk-heading-m govuk-!-padding-right-8" aria-live="polite">Flood risk from rivers or the sea</h2>
  <p id="rivers-seas-high" class="high govuk-body-s" aria-live="polite">
    <strong>High risk</strong> means that this area has a chance of flooding of greater than 3.3% <strong>each year</strong>.
    This takes into account the effect of any flood defences in the area. These defences reduce but do not
    completely stop the chance of flooding as they can be overtopped, or fail.
  </p>
  <p id="rivers-seas-medium" class="medium govuk-body-s" aria-live="polite">
    <strong>Medium risk</strong> means that this area has a chance of flooding of between 1% and 3.3% <strong>each year</strong>.
    This takes into account the effect of any flood defences in the area. These defences reduce but do not
    completely stop the chance of flooding as they can be overtopped, or fail.
  </p>
  <p id="rivers-seas-low" class="low govuk-body-s" aria-live="polite">
    <strong>Low risk</strong> means that this area has a chance of flooding of between 0.1% and 1% <strong>each year</strong>.
    This takes into account the effect of any flood defences in the area. These defences reduce but do not
    completely stop the chance of flooding as they can be overtopped, or fail.
  </p>
  <p id="rivers-seas-very-low" class="very-low govuk-body-s" aria-live="polite">
    <strong>Very low risk</strong> means that this area has a chance of flooding of less than 0.1% <strong>each year</strong>.
    This takes into account the effect of any flood defences in the area. These defences reduce but do not
    completely stop the chance of flooding as they can be overtopped, or fail.
  </p>
</div>
{% elseif isSurfaceWater %}
<div class="surface-water {{ id }}">
  <h2 class="govuk-heading-m govuk-!-padding-right-8" aria-live="polite">Flood risk from surface water</h2>
  <p id="surface-water-high" class="high govuk-body-s" aria-live="polite">
    <strong>High risk</strong> means that this area has a chance of flooding of greater than 3.3% <strong>each year</strong>.
    Flooding from surface water is difficult to predict as rainfall location and volume are difficult to forecast.
    In addition, local features can greatly affect the chance and severity of flooding.
  </p>
  <p id="surface-water-medium" class="medium govuk-body-s" aria-live="polite">
    <strong>Medium risk</strong> means that this area has a chance of flooding of between 1% and 3.3% <strong>each year</strong>.
    Flooding from surface water is difficult to predict as rainfall location and volume are difficult to forecast.
    In addition, local features can greatly affect the chance and severity of flooding.
  </p>
  <p id="surface-water-low" class="low govuk-body-s" aria-live="polite">
    <strong>Low risk</strong> means that this area has a chance of flooding of between 0.1% and 1% <strong>each year</strong>.
    Flooding from surface water is difficult to predict as rainfall location and volume are difficult to forecast.
    In addition, local features can greatly affect the chance and severity of flooding.
  </p>
  <p id="surface-water-very-low" class="very-low govuk-body-s" aria-live="polite">
    <strong>Very low risk</strong> means that this area has a chance of flooding of less than 0.1% <strong>each year</strong>.
    Flooding from surface water is difficult to predict as rainfall location and volume are difficult to forecast.
    In addition, local features can greatly affect the chance and severity of flooding.
  </p>
</div>
{% endif %}
{% endif %}
<a href="#" class="govuk-link map-overlay-close-link">Back to map</a>