<meta http-equiv="refresh" content="{{pageRefreshTime}}"/>
<!-- <link rel="stylesheet" href="{{{ assetPath }}}ol3/css/ol.css" type="text/css">
<link rel="stylesheet" type="text/css" href="{{{ assetPath }}}font-awesome/css/font-awesome.css"> -->
<link rel="stylesheet" type="text/css" href="{{{ assetPath }}}stylesheets/application.css">
<!--[if IE 6]><link href="{{{ assetPath }}}stylesheets/application-ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 7]><link href="{{{ assetPath }}}stylesheets/application-ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 8]><link href="{{{ assetPath }}}stylesheets/application-ie8.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
