// **** Panels ****
// .govuk-width-container {
//   max-width: 1280px;
// }

.govuk-template {
  background-color: white;
}

.govuk-template__body.internal.js-enabled {
  margin: 0;
  background-color: #f3f3f3;
  font-family: Arial, Helvetica, sans-serif;
}

.internal {
  .govuk-header {
    color: #454a4c;
    background: #ffffff;
    border-bottom: 3px solid #029e42;
    padding-bottom: 15px;
  }

  .govuk-header__link:link,
  .govuk-header__link:visited {
    color: #000;
  }

  .govuk-header__container {
    border-bottom: none;
  }

  .govuk-footer {
    border-top: 2px solid #029e42;
    color: #454a4c;
    background: #ffffff;
  }

  .govuk-tabs__panel {
    background: #ffffff;
  }

  .govuk-inset-text {
    border-color: #029e42;
  }

  .divider {
    color: #029e42;
    font-weight: bold;
  }

  .govuk-tabs__tab {
    background-color: inherit;
  }

  .govuk-tabs__tab--selected {
    background-color: white;
  }

  .govuk-tabs__tab--selected:focus {
    background-color: white;
  }

  .govuk-header__logotype-text {
    display: none;
  }
}

// *** header ***
.login-section {
  float: right;
  display: block;
  position: relative;
  width: 300px;
  height: 60px;
  clear: none;
  text-align: right;
  line-height: 60px;
}

.ea-logo {
  background-image: url("../images/ealogo.png");
  width: 200px;
  height: 60px;
  background-size: contain;
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
}

.govuk-footer {
  display: none;
}

.govuk-button.danger {
  background-color: $govuk-error-colour;
}

.govuk-button.warning {
  background-color: $govuk-link-visited-colour;
}

.error-text {
  color: $govuk-error-colour;
}

.risk-option-radios {
  margin-left: 5px;
  border-left: 6px solid grey;
}
