<h2 class="heading-medium">Flood risk from rivers or the sea</h2>
<p id="rivers-seas-high" class="high">
  <strong class="bold-small">High risk</strong> means that each year this area has a chance of flooding of greater than
  3.3%. This takes into account the effect of any flood defences in the area. These defences reduce but do not completely
  stop the chance of flooding as they can be overtopped, or fail.
</p>
<p id="rivers-seas-medium" class="medium">
  <strong class="bold-small">Medium risk</strong> means that each year this area has a chance of flooding of between
  1% and 3.3%. This takes into account the effect of any flood defences in the area. These defences reduce but do not
  completely stop the chance of flooding as they can be overtopped, or fail.
</p>
<p id="rivers-seas-low" class="low">
  <strong class="bold-small">Low risk</strong> means that each year this area has a chance of flooding of between 0.1%
  and 1%. This takes into account the effect of any flood defences in the area. These defences reduce but do not completely
  stop the chance of flooding as they can be overtopped, or fail.
</p>
<p id="rivers-seas-very-low" class="very-low">
  <strong class="bold-small">Very low risk</strong> means that each year this area has a chance of flooding of less than
  0.1%. This takes into account the effect of any flood defences in the area. These defences reduce but do not completely
  stop the chance of flooding as they can be overtopped, or fail.
</p>
