<h2 class="heading-medium">Flood risk from surface water</h2>
<p id="surface-water-high" class="high">
  <strong class="bold-small">High risk</strong> means that each year this area has a chance of flooding of greater than 3.3%. {{> risk-types/sw-caveat}}
</p>
<p id="surface-water-medium" class="medium">
  <strong class="bold-small">Medium risk</strong> means that each year this area has a chance of flooding of between 1% and
  3.3%. {{> risk-types/sw-caveat}}
</p>
<p id="surface-water-low" class="low">
  <strong class="bold-small">Low risk</strong> means that each year this area has a chance of flooding of between 0.1% and
  1%. {{> risk-types/sw-caveat}}
</p>
<p id="surface-water-very-low" class="very-low">
  <strong class="bold-small">Very low risk</strong> means that each year this area has a chance of flooding of less than
  0.1%. {{> risk-types/sw-caveat}}
</p>