@import "colours";
@import "typography";
@import "css3";

.risk {
  header {
    padding: 10px;

    address {
      font-style: normal;
    }

    img {
      float: right;
      height: 100px;
      max-width: 50%;
    }
  }

  &.at-risk header {
    background-color: #FFBF47;

    address {
      color: #000;
      font-style: normal;
    }
  }

  &.low-risk {
    header {
      background-color: #28A197;

      address {
        color: #fff;
        font-style: normal;
      }
    }

    article {
      padding: 20px 20px 30px 20px;
    }

    .list-bullet {
      margin-left: 15px;
    }
  }

  article {
    padding: 10px;
    border: solid 5px #000;

    .heading-large {
      margin-top: 0.75em;
    }

    .heading-medium {
      margin-top: 0.75em;
    }

    .column-three-quarters {
      .panel.panel-border-wide {
        margin-bottom: 45px;
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
  }
}
