@import 'govuk-elements';
@import 'branding';
@import 'util';
@import 'grids';

.mission {
  ul.list-bullet {
    margin-left: 20px;
  }
}

select {
  @include core-19;
  width: 100%;
  @include box-sizing(border-box);
  padding: 4px;
  background-color: $white;
  border: 1px solid $border-colour;
  border-radius: 0;
  margin-bottom: 2px;
}

.error-message {
  color: $red;
  margin-top: 10px;
  padding-left: 10px;
  border-left: solid 3px $red;
}

.phone-number {
  margin: 0;
  font-weight: normal;
}

.date {
  display: block;
  margin-top: 10px;
  font-size: medium;
  color: $secondary-text-colour;
}

details {
  .panel-border-narrow {
    margin-left: 4px;
  }
  .panel.panel-border-wide {
    margin-left: 1px;
  }
}

strong {
  font-weight: 700;
}
