{% extends "layout.html" %}

{% set bodyClasses = "internal" %}
{% set pageTitle = "Edit comment" %}

{% block head %}
{{ super() }}
<link href="{{ assetPath }}/vendor/risk-page.css" rel="stylesheet" />
{% endblock %}

{% block body %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div id="map">
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
    </div>
    <div class="govuk-grid-column-two-thirds">
      <div id="root">
        <form class="rjsf">
          <div class="form-group field field-object">
            <fieldset id="root">
              <legend id="root__title">A geojson form</legend>
              <div class="form-group field field-string  govuk-form-group name"><label class="control-label"
                  for="root_name">Description<span class="required">*</span></label>
                <p id="root_name__description" class="field-description">For internal use, to describe the comments that you
                  are uploading. This will not be displayed to public users.</p><input type="text" id="root_name"
                  class="govuk-input govuk-input--width-2{{ features.indexOf(feature) }}" autocomplete="off" required="" maxlength="75"
                  value="{{ comment.description }}">
              </div>
              <div class="form-group field field-string  govuk-form-group boundary"><label class="control-label"
                  for="root_boundary">Boundary<span class="required">*</span></label>
                <p id="root_boundary__description" class="field-description">For internal use, choose the boundary to which
                  this comment applies. This will not be displayed to public users.</p><input rows="5" id="root_boundary"
                  required="" autocomplete="off" list="options" class="govuk-input"
                  value="{{ comment.boundary }}"><datalist id="options">
                  <option>Cumbria and Lancashire (CLA)</option>
                  <option>Devon, Cornwall and the Isles of Scilly (DCS)</option>
                  <option>East Anglia (EAN)</option>
                  <option>East Midlands (EMD)</option>
                  <option>Greater Manchester, Merseyside and Cheshire (GMC)</option>
                  <option>Hertfordshire and North London (HNL)</option>
                  <option>Kent, South London and East Sussex (KSL)</option>
                  <option>Lincolnshire and Northamptonshire (LNA)</option>
                  <option>North East (NEA)</option>
                  <option>Solent and South Downs (SSD)</option>
                  <option>Thames (THM)</option>
                  <option>Wessex (WSX)</option>
                  <option>West Midlands (WMD)</option>
                  <option>Yorkshire (YOR)</option>
                </datalist>
              </div>

              {% for feature in features %}

              <div class="form-group field field-array">
                <div>
                  <div id="item_{{ features.indexOf(feature) }}" class="array-item">
                    <div class="form-group field field-object">
                      <fieldset id="root_features_{{ features.indexOf(feature) }}">
                        <div class="form-group field field-object">
                          <fieldset id="root_features_{{ features.indexOf(feature) }}_properties">
                            <legend id="root_features_{{ features.indexOf(feature) }}_properties__title">properties</legend>
                            <div class="hidden"><input type="hidden" id="root_features_{{ features.indexOf(feature) }}_properties_apply" value="holding">
                            </div>
                            <div id="map_{{ features.indexOf(feature) }}" class="comment-map">
                            </div>
                            <div class="form-group field field-string  govuk-form-group riskOverride"><label
                                class="control-label" for="root_features_{{ features.indexOf(feature) }}_properties_riskOverride">Override surface water
                                risk</label>
                              <p id="root_features_{{ features.indexOf(feature) }}_properties_riskOverride__description" class="field-description">Choose if
                                the risk for surface water flooding should be overriden for points inside this area</p>
                              <ul class="field-radio-group" id="root_features_{{ features.indexOf(feature) }}_properties_riskOverride">
                                <li><input class="radio " type="radio" id="map_{{ features.indexOf(feature) }}-no-override" name="override_{{ features.indexOf(feature) }}" value="Do not override" checked="">
                                <label for="map_{{ features.indexOf(feature) }}-no-override">Do not override</label></li>
                                <li><input class="radio " type="radio" id="map_{{ features.indexOf(feature) }}-override" name="override_{{ features.indexOf(feature) }}" value="Override">
                                <label for="map_{{ features.indexOf(feature) }}-override">Override</label></li>
                                <ul class="risk-options">
                                  <li><input class="radio risk-option" type="radio" id="map_{{ features.indexOf(feature) }}-override-very-low" name="override_{{ features.indexOf(feature) }}-risk" value="Very low">
                                  <label for="map_{{ features.indexOf(feature) }}-override-very-low">Very low</label></li>
                                  <li><input class="radio risk-option" type="radio" id="map_{{ features.indexOf(feature) }}-override-low" name="override_{{ features.indexOf(feature) }}-risk" value="Low">
                                  <label for="map_{{ features.indexOf(feature) }}-override-low">Low</label></li>
                                  <li><input class="radio risk-option" type="radio" id="map_{{ features.indexOf(feature) }}-override-medium" name="override_{{ features.indexOf(feature) }}-risk" value="Medium">
                                  <label for="map_{{ features.indexOf(feature) }}-override-medium">Medium</label></li>
                                  <li><input class="radio risk-option" type="radio" id="map_{{ features.indexOf(feature) }}-override-high" name="override_{{ features.indexOf(feature) }}-risk" value="High">
                                  <label for="map_{{ features.indexOf(feature) }}-override-high">High</label></li>
                                </ul>
                              </ul>
                            </div>
                            <div class="form-group field field-string  govuk-form-group info"><label class="control-label"
                                for="root_features_{{ features.indexOf(feature) }}_properties_info">Info</label>
                              <div id="root_features_{{ features.indexOf(feature) }}_properties_info__description" class="field-description">
                                <p>The info text will display to public users in this geometry. Read <a
                                    href="/comment-guidance" target="_blank" previewlistener="true">comment guidance</a>
                                  before writing or pasting anything. The maximum number of characters is 150.</p>
                              </div>
                              <div><textarea rows="5" id="root_features_{{ features.indexOf(feature) }}_properties_info" maxlength="150"
                                  class="govuk-textarea">{{ feature.properties.info }}</textarea>
                                <p class="govuk-hint govuk-character-count__message">You have <span class="remaining-chars-text"></span> characters remaining</p>
                              </div>
                            </div>
                            <div class="form-group field field-string  govuk-form-group start"><label class="control-label"
                                for="root_features_{{ features.indexOf(feature) }}_properties_start">Valid from<span class="required">*</span></label>
                              <p id="root_features_{{ features.indexOf(feature) }}_properties_start__description" class="field-description">For your
                                reference and will not be displayed to public users. Your comments will not be uploaded
                                automatically on this date. Your comments will go live once they’re approved. If a date picker
                                is not available, use YYYY-MM-DD.</p><input type="date" id="root_features_{{ features.indexOf(feature) }}_properties_start"
                                class="govuk-input govuk-input--width-2{{ features.indexOf(feature) }}" autocomplete="off" required="" value="{{ feature.properties.start }}">
                            </div>
                            <div class="form-group field field-string  govuk-form-group end"><label class="control-label"
                                for="root_features_{{ features.indexOf(feature) }}_properties_end">Valid to<span class="required">*</span></label>
                              <p id="root_features_{{ features.indexOf(feature) }}_properties_end__description" class="field-description">For your reference
                                and will not be displayed to public users. Your comments will not be removed automatically. It
                                is your responsibility to remove them on the ‘valid to’ date. If a date picker is not
                                available, use YYYY-MM-DD.</p><input type="date" id="root_features_{{ features.indexOf(feature) }}_properties_end"
                                class="govuk-input govuk-input--width-2{{ features.indexOf(feature) }}" autocomplete="off" required="" value="{{ feature.properties.end }}">
                            </div>
                          </fieldset>
                        </div>
                      </fieldset>
                    </div>
                  </div>

                  {% endfor %}
                </div>
              </div>
            </fieldset>
          </div><button type="submit" class="govuk-button">Save</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script>
    window.LTFMGMT.comment = {{ comment | dump | safe }}
    window.LTFMGMT.geometry = {{ geometry | dump | safe }}
    window.LTFMGMT.capabilities = {{ capabilities | dump | safe }}
  </script>
  <script src="/assets/js/edit-comment.js"></script>
{% endblock %}

