{% extends "layout.html" %}

{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% set bodyClasses = "internal" %}
{% set pageTitle = "Create comment" %}

{% block body %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div id="file">
        <p class="govuk-body"><strong>Shapefile guidance</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Your shapefile must be zipped. You can have multiple polygons within the same shapefile.</li>
          <li>Shapefiles will not be displayed in map view - they are only used to capture the area in which to display the information.</li>
          <li>Your comment will only appear when somebody searches for an address that falls within your shapefile extent.</li>
          <li>Your shapefile should cover both the area impacted directly by the information as well as any receptors affected by the change to the area.</li>
          <li>Attributes will be auto populated if they match directly with those on the service. If they do not you can manually fill them in.</li>
        </ul>
        <hr />
        {{ govukFileUpload({
          id: "geometry",
          name: "geometry",
          label: {
            text: "Choose a shapefile (.ZIP)"
          },
          attributes: {
            accept: "application/zip",
            required: "required"
          }
        }) }}
        <img id="spinner" class="loader" alt="loading" src="/assets/images/loading.gif" style="display: none;" />
      </div>
      <div id="map"></div>
      <div id="root">
        <form id="comment-form" style="display: none;" action="/comment/create/{{type}}" method="POST">
          <div class="form-group field field-object">
            <fieldset id="root">
              <legend id="root__title">A geojson form</legend>

              <div class="form-group field field-string  govuk-form-group name"><label class="control-label"
                  for="root_name">Description<span class="required">*</span></label>
                <p id="root_name__description" class="field-description">For internal use, to describe the comments that you are
                  uploading. This will not be displayed to public users.</p><input type="text" id="data_name"
                  class="govuk-input govuk-input--width-20" autocomplete="off" required="" maxlength="75"
                  value="">
              </div>
              <div class="form-group field field-string  govuk-form-group boundary"><label class="control-label"
                  for="root_boundary">Boundary<span class="required">*</span></label>
                <p id="root_boundary__description" class="field-description">For internal use, choose the boundary to which this
                  comment applies. This will not be displayed to public users.</p>
                  <input rows="5" id="root_boundary" required=""
                    autocomplete="off" list="options" class="govuk-input" value=""><datalist id="options">
                  <option>Cumbria and Lancashire (CLA)</option>
                  <option>Devon, Cornwall and the Isles of Scilly (DCS)</option>
                  <option>East Anglia (EAN)</option>
                  <option>East Midlands (EMD)</option>
                  <option>Greater Manchester, Merseyside and Cheshire (GMC)</option>
                  <option>Hertfordshire and North London (HNL)</option>
                  <option>Kent, South London and East Sussex (KSL)</option>
                  <option>Lincolnshire and Northamptonshire (LNA)</option>
                  <option>North East (NEA)</option>
                  <option>Solent and South Downs (SSD)</option>
                  <option>Thames (THM)</option>
                  <option>Wessex (WSX)</option>
                  <option>West Midlands (WMD)</option>
                  <option>Yorkshire (YOR)</option>
                </datalist>
              </div>
              <div class="form-group field field-array">
                <div id="feature-form">
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button">Save</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
<script>
  window.LTFMGMT.type = '{{ type }}'
  window.LTFMGMT.capabilities = {{ capabilities | dump | safe }}
</script>
<script src="/assets/js/partials/addFeature.js"></script>
<script src="/assets/js/create-comment.js"></script>
{% endblock %}