{% extends "layout.html" %}

{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% set bodyClasses = "internal" %}
{% set pageTitle = "Create comment" %}

{% block body %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div id="file">
        <p class="govuk-body"><strong>Shapefile guidance</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Your shapefile must be zipped. You can have multiple polygons within the same shapefile.</li>
          <li>Shapefiles will not be displayed in map view - they are only used to capture the area in which to display the information.</li>
          <li>Your comment will only appear when somebody searches for an address that falls within your shapefile extent.</li>
          <li>Your shapefile should cover both the area impacted directly by the information as well as any receptors affected by the change to the area.</li>
          <li>Attributes will be auto populated if they match directly with those on the service. If they do not you can manually fill them in.</li>
        </ul>
        <hr />
        {{ govukFileUpload({
          id: "geometry",
          name: "geometry",
          label: {
            text: "Choose a shapefile (.ZIP)"
          },
          attributes: {
            accept: "application/zip",
            required: "required"
          }
        }) }}
        <img id="spinner" class="loader" alt="loading" src="/assets/images/loading.gif" style="display: none;" />
      </div>
      <div id="map"></div>
      <div id="root"></div>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
<script>
  window.LTFMGMT.type = '{{ type }}'
  window.LTFMGMT.capabilities = {{ capabilities | dump | safe }}
</script>
<script src="/assets/js/create-comment.js"></script>
{% endblock %}