{% extends "layout.html" %}

{% from "components/warning-text/macro.njk" import govukWarningText %}

{% set bodyClasses = "internal" %}
{% set pageTitle = "Holding comment guidance" %}

{% block body %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">We recommend that you use the Chrome browser for uploading holding comments.</p>
    <p class="govuk-body">The holding comment functionality should:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Not include any personal information</li>
      <li>Include a shapefile that covers a specific geographic area</li>
      <li>Provide additional information not yet included in the mapping</li>
      <li>Not include any hyperlinks within the text - they will not work</li>
      <li>Be temporary - and removed when they are no longer valid</li>
    </ul>
    {{ govukWarningText({
        text: "It is your responsibility to remove the holding comment when it is no longer valid. You will not be prompted to do this - set a reminder for the expiry date.",
        iconFallbackText: "Warning"
      }) }}
    <p class="govuk-body">
      The information you provide is yours to own via your normal custodianship for local flood information.
    </p>
    <hr />
    <p class="govuk-body"><strong>Shapefile guidance</strong></p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Your shapefile must be zipped. You can have multiple polygons within the same shapefile.</li>
      <li>Shapefiles will not be displayed in map view - they are only used to capture the area in which to display the information.</li>
      <li>Your comment will only appear when somebody searches for an address that falls within your shapefile extent.</li>
      <li>Your shapefile should cover both the area impacted directly by the information as well as any receptors affected by the change to the area.</li>
      <li>Attributes will be auto populated if they match directly with those on the service. If they do not you can manually fill them in.</li>
    </ul>
    <hr />
    <p class="govuk-body"><strong>Guidance for writing content on GOV.UK</strong></p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Use plain English. Read words to <a class="govuk-link" rel="noopener" target="_blank"
          href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#words-to-avoid">avoid</a></li>
      <li>Write short clear sentences</li>
      <li>You can use technical terms but you must explain them</li>
      <li>Avoid abbreviations and acronyms</li>
      <li>Do not write blocks of text in capitals</li>
      <li>Write dates like this: 4 June 2017</li>
      <li>Use ‘to’ in date ranges rather than -</li>
      <li>Avoid negative contractions like don’t - use do not</li>
      <li>Avoid ampersands, use ‘and’</li>
      <li>Numbers: generally use numerals but there are <a class="govuk-link" rel="noopener" target="_blank"
          href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style">exceptions</a></li>
    </ul>
    <p class="govuk-body">For further guidance read:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" target="_blank" rel="noopener" href="http://intranet.ea.gov/policies/7769.aspx">Environment Agency Data
          Protection</li>
      <li><a class="govuk-link" target="_blank" rel="noopener"
          href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk#contractions">Writing for GOV.UK</a></li>
      <li><a class="govuk-link" target="_blank" rel="noopener"
          href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style">Government Digital Service style
          guide</a></li>
    </ul>
  </div>
</div>
{% endblock %}