{% extends "layout.html" %}

{% from "components/table/macro.njk" import govukTable %}

{% set bodyClasses = "internal" %}
{% set pageTitle = "Comments" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ assetPath }}/vendor/tablesort-5.1.0/tablesort.css" type="text/css">
  <script src="{{ assetPath }}/vendor/tablesort-5.1.0/tablesort.min.js"></script>
  <script src="{{ assetPath }}/vendor/tablesort-5.1.0/sorts/tablesort.number.min.js"></script>
  <script src="{{ assetPath }}/vendor/tablesort-5.1.0/sorts/tablesort.date.min.js"></script>
{% endblock %}

{% block body %}
  <div class="govuk-body">
    {{ govukTable(table) }}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">PSO users (area teams)</h3>
    <ul class="govuk-list govuk-list--spaced">
      <li>Select this option to add local information</li>
      <li><a class="govuk-button govuk-!-margin-bottom-3" href="/comment/create/holding">Create holding comment</a></li>
    </ul>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">National teams</h3>
    <ul class="govuk-list govuk-list--spaced">
      <li>Select this option to add non-modelled surface water information</li>
      <li><a class="govuk-button" href="/comment/create/llfa" >Create LLFA comment</a></li>
    </ul>
    <p class="govuk-body"><a href="/comments.csv" download>Download all comments</a></p>
  </div>

  <script>
    new window.Tablesort(document.querySelector('.govuk-table'))
  </script>
{% endblock %}