{% extends "govuk/template.njk" %}

{% set bodyClasses = "internal" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block headIcons %}
<link rel="shortcut icon" href="{{ assetPath }}/images/icons/favicon.ico?0.18.3" type="image/x-icon" />
<link rel="apple-touch-icon-precomposed" sizes="152x152"
  href="{{ assetPath }}/images/icons/apple-icon-152x152.png?0.18.3">
<link rel="apple-touch-icon-precomposed" sizes="120x120"
  href="{{ assetPath }}/images/icons/apple-icon-120x120.png?0.18.3">
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ assetPath }}/images/icons/apple-icon-76x76.png?0.18.3">
<link rel="apple-touch-icon-precomposed" href="{{ assetPath }}/images/icons/apple-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ assetPath }}/stylesheets/unbranded.css" media="all" type="text/css">
<link rel="stylesheet" href="{{ assetPath }}/css/ol.css"
  type="text/css">
<link rel="stylesheet" href="{{ assetPath }}/css/comment-map.css" type="text/css">
<link rel="stylesheet" href="{{ assetPath }}/css/comment-schema.css" type="text/css">
<script src="{{ assetPath }}/js/vendor/ol.js"></script>
<script src="{{ assetPath }}/js/vendor/proj4-2.5.0.js"></script>
<script src="{{ assetPath }}/js/vendor/react.production-16.10.2.min.js"></script>
<script src="{{ assetPath }}/js/vendor/react-dom.production-16.10.2.min.js"></script>
<script src="{{ assetPath }}/js/vendor/react-jsonschema-form-1.8.1.js"></script>
<script
  src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,Object.assign,Element.prototype.placeholder,fetch,Element.prototype.remove"></script>
<script>
  window.LTFMGMT = {}
</script>
<script src="{{ assetPath }}/js/comment-map.js"></script>
<script src="{{ assetPath }}/js/comment-schema.js"></script>
<!-- Stage: {{serviceRef}}-{{appStage}} -->
<!-- Application version: {{appVersion}} -->
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <div class="ea-logo"></div>
      </a>
    </div>
    <span class="login-section">
      {% if auth %}
      {% if auth.isAuthenticated %}
      <span>
        <b title="{{auth.credentials.profile.email}}">
          {{auth.credentials.profile.displayName}}
          {% if (auth.credentials.isApprover) %}(Approver){% endif %}
        </b>
        <span class="divider">|</span>
        <a href="/logout">Logout</a>
      </span>
      {% else %}
      <a href="/login">Login</a>
      {% endif %}
      {% endif %}
    </span>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<a href="/comment-guidance" style="float: right;" target="ltf-admin-guidance">Comment guidance</a>
<span class="govuk-caption-l">LTFRI Management Console</span>
<h1 class="govuk-heading-l">{{pageTitle}}</h1>
{% block body %}{% endblock %}
<div>For help and information please contact: <a
    href="mailto:FCRM_risk_assessment@environment-agency.gov.uk">FCRM_risk_assessment@environment-agency.gov.uk</a>
</div>
{% endblock %}

{% block bodyEnd %}
{# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
{% endblock %}