{% extends "layout.html" %}

{% from "components/button/macro.njk" import govukButton %}

{% set bodyClasses = "internal" %}
{% set pageTitle = "Process" %}

{% block head %}
  {{super()}}
  <style>
    #loader {
      border: 4px solid #DEE0E2;
      border-radius: 50%;
      border-top-color: #005EA5;
      width: 20px;
      height: 20px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
      margin-top: 6px;
      display: none;
    }

    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  </style>
{% endblock %}

{% block body %}
  <div class="govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if run %}
        <pre>{{result | dump | safe}}</pre>
        <pre>{{output}}</pre>
        {% else %}
        <form id="form" method="post">
          {{ govukButton({
            text: "Process now",
            attributes: {
              id: "submitButton"
            }
          }) }}
          <div id="loader"></div>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script>
    const form = document.getElementById('form')

    if (form) {
      const submitButton = document.getElementById('submitButton')
      const loader = document.getElementById('loader')

      form.addEventListener('submit', function (e) {
        setTimeout(() => {
          submitButton.setAttribute('disabled', 'disabled')
        }, 10)
        loader.style.display = 'inline-block'
      }, false)
    }
  </script>
{% endblock %}