#legend {
  .subtitle {
    font-size: 14px;
  }

  ul {
    font-size: 14px;
    display: inline-block;

    @include govuk-media-query($from: tablet) {
      li {
        display: inline-block;
      }
    }

    .legend-item {
      display: block;
    }

    .legend-item::before {
      width: 50px;
      height: 50px;
      content: "";
      display: inline-block;
      margin-right: 2px;
    }

    .legend-item.round::before {
      border-radius: 50%;
    }

    .legend-item.purple::before {
      background-color: #3d4489;
    }

    .legend-item.dark-blue::before {
      background-color: #6699cd;
    }

    .legend-item.blue::before {
      background-color: #a2cfff;
    }

    .legend-item.light-blue::before {
      background-color: #c4e1ff;
    }

    .legend-item.green::before {
      background-color: #00ff21;
    }

    .legend-item.red::before {
      background-color: #ce0000;
    }

    .legend-item.redhatch::before {
      border: solid 1px red;
      background-image: repeating-linear-gradient(-45deg, transparent, transparent 2px, red 2px, red 3px);
    }

    .legend-item.white::before {
      background-color: #fff;
      border: solid 2px #b9b9b9;
    }

    .legend-item.arrow::before {
      content: "\003C";
      font-size: x-large;
      -webkit-transform: rotate(30deg);
      -moz-transform: rotate(30deg);
      -o-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      transform: rotate(30deg);

      @include govuk-media-query($from: mobile) {
        line-height: 1;
      }
      @include govuk-media-query($from: tablet) {
        line-height: 1;
      }
    }

    .legend-item.crosshair {
      margin-top: 20px;

      &::before {
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-image: url('#{$govuk-images-path}crosshair.png');

        @include govuk-media-query($from: mobile) {
          line-height: 20px;
        }
        @include govuk-media-query($from: tablet) {
          line-height: 65px;
        }
      }
    }

    @include govuk-media-query($from: tablet) {
      .legend-item {
        margin-bottom: 10px;
      }
    }

   @include govuk-media-query($from: mobile) {
      .legend-item {
        margin-right: 10px;
        margin-bottom: 5px;
        display: inline-block;

        &::before {
          width: 20px;
          height: 20px;
          vertical-align: middle;
        }

        span {
          vertical-align: middle;
        }
      }
    }

    a.legend-item {
      text-decoration: none;
      div {
        text-decoration: underline;
      }
    }
  }

 @include govuk-media-query($from: mobile) {
    strong {
      margin-right: 10px;
    }
  }
}
