$tablet-width: 768px;
$desktop-width: 769px;

$gov-font: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

#map-key {
  display: block;
  z-index: 25;
  position: absolute;
  height: 100%;
  width: 290px;
  background-color: white;

  #mapKeyLabel {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    position:fixed;
    background-color: white;
    line-height: 2.125;
    height: 40px;
    width: 100%;
    padding: 0px 18px 0 20px;
    font-size: 19px;
    margin: 0;
    z-index: 15;

    @media screen and (max-width: $tablet-width) {
      width: 236px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    display: block !important;
  }
}

.defra-map-key label {
  font-family: $gov-font;
  font-size: 16px;
}

.defra-map-key__section-title {
  position: relative;
  font-family: $gov-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px !important;
  line-height: 1.1428571429;
  display: block;
  margin-top: 45px;
  margin-bottom: 0;
  padding: 10px 15px 0px 0px;
  box-sizing: border-box;
  width: 260px;

  &::before {
    position: absolute;
    content: "";
    height: 1px;
    top: 0px;
    left: 0px;
    right: 0px;
    border-top: 1px solid #b1b4b6;
  }
}

#reservoir-title {
  margin-top: 5px;
}

.defra-map-key__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 0 20px;
  width: 270px;
  height: 100%;
  position: fixed; 
  overflow-y: auto;
}

.govuk-fieldset__legend {
  margin-bottom: 10px;
}

.govuk-radios--small .govuk-radios__item {
  min-height: 0;
  margin-bottom: 0;
  padding-left: 34px;
}

.defra-map-key__symbol-container-v3 {
  position: relative;
  display: block;
  margin-left: 0px;
  white-space: normal;
  width: 200px;
}

#radius-circle {
  fill: #ede72e;
}

#pointer-icon {
  height: 28px;
  width: 28px;
}

.risk-square-svg {
  width: 32px;
  height: 32px;
}

.risk-colour-square {
  width: 22px;
  height: 22px;
}

.high-symbol {
  fill: #555C9D;
}
.medium-symbol {
  fill: #9AA0DE;
}
.low-symbol {
  fill: #C4E1FF;
}
.very-low-symbol {
  fill: #c9f8ff;
}

#map-display-toggles-title {
  margin-top: 5px;
}

#rs-title {
  margin-top: 5px;
}

.govuk-checkboxes__label:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 11px;
  left: 9px;
  width: 23px;
  height: 12px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border: solid;
  border-width: 0 0 5px 5px;
  border-top-color: transparent;
  opacity: 0;
  background: transparent;
}

.defra-map-key__symbol-container {
  position: relative;
  display: block;
  margin-left: 34px;
}

.defra-map-key__symbol {
  position: absolute;
  top: -6px;
  left: 0;
  width: 28px;
  height: 28px;
  margin-left: -35px;
  text-indent: -5000px;
  background-size: 25px;
  background-repeat: no-repeat;
  border: 0;
}

.defra-map-key__symbol svg {
  display: block; 
  box-sizing: border-box;
  top: 10px;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

#surface-water-extent-heading {
  padding-left: 34px;
}

.risk-context {
  display: block;
  white-space: normal;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 0;
  height: 35px;
  width: 210px;
}

.data-message {
  font-family: $gov-font;
  font-size: 12px;
  width: 210px;
}

.defra-map-key__symbol-container--multi {
  margin-top: 19px;

}

.sw-depth-container {
  margin-left: 34px;
}

.sw--container {
  margin-left: 34px;
}

.sw-velocity-container {
  margin-left: 34px;
}

#sw-velocity-less {
  margin-top: 0;
}

.arrow-symbol {
  padding-top: 5px;
  padding-left: 6px;
  height: 18px;
  width: 18px;
}

#sw-velocity-arrow {
  margin-top: 25px;
}

#direction-desc {
  background-image: url('#{$govuk-images-path}arrow.png');
  background-size: 12px;
  margin-left: -25px;
  margin-top: 6px;
}

.extent-desc-container {
  display: none;
}

.scenarios {
  display: flex;
  justify-content: flex-end;
}

.key-container {
  display: block;
  margin-top: 40px;
}

.key-adv-options-container {
  display: block;
  margin-top: 0px;
}