$small-mobile-width: 400px;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 769px;
$scenarioWidthCap1: 1090px;
$scenarioWidthCap2: 920px;
$scenarioArrowPoint: 640px;
$focusBorder: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
$gov-font: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

.map-container {
  @media screen and (max-width: $tablet-width) {
    justify-content: start;
  }

  .defra-map-controls-bottom {
    position: absolute;
    left: 10px;
    bottom: 0;
    right: 0;
    pointer-events: none;
    padding-right: 10px;

    @media screen and (max-width: $tablet-width) {
      display: grid;
      justify-items: end;
      left: 0px;
      padding-right: 0;
    }
  }

  .defra-map-controls-bottom * {
    pointer-events: auto;
  }

  .defra-map__open-key {
    float: right;
    position: relative;
    display: block;
    margin-left: 0px;
    margin-top: 0px;
    height: 40px;
    width: 80px;
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color: white;
    font-family: $gov-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1428571429;
    line-height: 40px;
    color: #0b0c0c;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: auto;

    &:hover {
      background-color: #f3f2f1;
    }

    &:focus-visible {
      outline: 3px solid transparent;
      box-shadow: $focusBorder;
    }

    &::-moz-focus-inner {
      border: 0;
    }

    svg {
      display: block;
      margin: 10px;
    }

    #open-btn {
      width: 20px;
      height: 20px;
    }

    .button-content {
      display: flex;
      align-items: center;
    }

    .open-button-text {
      margin-left: 2px;
    }

    @media screen and (min-width: $desktop-width) {
      display: none !important;
    }

    @media screen and (max-width: $tablet-width) {
      margin: 0 10px 10px 0;
    }
  }


  .defra-map-key__close {
    display: none;

    @media screen and (max-width: $tablet-width) {
      z-index: 25;
      display: block;
      position: absolute;
      right: 16px;
      top: 0;
      width: 40px;
      height: 40px;
      margin: 0;
      border: 0;
      padding: 0;
      cursor: pointer;
      background-color: #ffffff;
      color: #0b0c0c;

      &:hover {
        background-color: #f3f2f1;
      }

      svg {
        margin: 10px;
      }
    }

  }

  #open-key-button {
    display: none;
    position: relative;
    z-index: 25;
    float: right;
    top: calc(100vh - 60px);
    left: 30px;
    margin-left: 0px;
    margin-top: 0px;
    height: 40px;
    width: 80px;
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color: white;
    font-family: $gov-font;
    align-items: center;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1428571429;
    line-height: 40px;
    color: #0b0c0c;

    &:hover {
      background-color: #f3f2f1;
      cursor: pointer;
    }

    &:focus-visible {
      outline: 3px solid transparent;
      box-shadow: $focusBorder;
    }

    svg {
      margin: 10px;
    }

    @media screen and (max-width: $tablet-width) {
      display: block;
    }
  }

  #defra-map-controls {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    pointer-events: none;
    height: 100dvh;

    @media (min-width: 48.0625em) {
      right: 290px;
    }
  }

  // As the zoom buttons are part of the map's script they
  // only generate after the JS imports the map and are contained
  // within the map element.
  #map {
    height: 99%;
    border: 5px solid transparent;

    @media screen and (max-width: $tablet-width) {
      height: 100dvh;
      width: 100dvw;
    }

    &:focus-visible {
      outline: 0;
      border: 5px solid #ffdd00;
    }

    .ol-control {
      padding: 0;
      border-radius: 0;
      background-color: white;

      button {
        display: block;
        position: relative;
        border: 0;
        height: 40px;
        width: 40px;
        padding: 0;
        cursor: pointer;
        background-color: white;
        color: #0b0c0c;
        border-radius: 0;

        @media screen and (max-width: $tablet-width) {
          display: none;
        }
      }

      button:hover {
        background-color: #f3f2f1;
      }

      button:focus-visible {
        outline: 3px solid transparent;
        box-shadow: $focusBorder;
      }
    }
  }

  .defra-map-info__container {
    display: none;
  }

  .defra-map__exit {
    float: left;
    position: relative;
    margin: 10px 0px 0px 10px;
    border: 0;
    padding: 0;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-color: white;
    color: #0b0c0c;
    font-size: 16px;
    line-height: 40px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: auto;

    @media (min-width: 48.0625em) {
      width: auto;
      padding-right: 11px;
    }
  }

  .defra-map__exit svg {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
  }

  .defra-map__exit span {
    vertical-align: top;

    @media (max-width: 48.0525em) {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
  }

  .defra-map__exit:hover {
    background-color: #f3f2f1;
  }

  .defra-map__exit:focus-visible {
    outline: 3px solid transparent;
    box-shadow: $focusBorder;
  }

  .defra-map__exit:focus[keyboard-focus]:after {
    position: absolute;
    content: "";
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    box-shadow: $focusBorder;
    outline: 3px solid transparent;
    pointer-events: none;
    z-index: 99;
  }

  .defra-map__exit::-moz-focus-inner {
    border: 0;
  }

  #exit-btn {
    width: 20px;
    height: 20px;
  }

  #advanced-btn {
    width: 24px;
    height: 24px;
  }

  .defra-map__advanced {
    float: right;
    position: relative;
    margin: 10px 10px 0px 10px;
    border: 0;
    padding: 0;
    height: 40px;
    cursor: pointer;
    background-color: white;
    color: #0b0c0c;
    font-size: 16px;
    line-height: 40px;
    width: auto;
    padding-right: 11px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: auto;
  }

  .defra-map__advanced svg {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
  }

  .defra-map__advanced span {
    vertical-align: top;

    @media (max-width: 48.0525em) {
      font-size: 14px;
      padding-left: 0;
    }
  }

  .defra-map__advanced:hover {
    background-color: #f3f2f1;
  }

  .defra-map__advanced:focus-visible {
    outline: 3px solid transparent;
    box-shadow: $focusBorder;
  }

  .defra-map__advanced::-moz-focus-inner {
    border: 0;
  }

  .key-adv-button-display {
    display: block;
  }

  .ol-zoom {
    float: right;
    /* As the zoom buttons are within the map they are not as easily positioned, which is why I
      have used the calculation as seen below. */
    top: calc(100% - 105px);
    left: calc(100% - 50px);
  }

  .zoom-disabled {
    fill: #c7c7c7;
    pointer-events: none;
    cursor: auto;
    outline: none;
    box-shadow: none;
  }

  .ol-zoom .ol-zoom-in:focus {
    /* Ensures the focus boarder overlaps the other zoom button rather than hides behind */
    z-index: 12;
  }
}

.ol-zoom.ol-zoom-checked {
  top: calc(100% - 200px);
}

.zoom-disabled {
  fill: #c7c7c7;
  pointer-events: none;
  cursor: auto;
  outline: none;
  box-shadow: none;
}