$govuk-assets-path: '/assets/';

$tablet-width: 768px;
$scenarioWidthCap1: 1090px;
$scenarioWidthCap2: 920px;
$scenarioArrowPoint: 640px;
$scenarioArrowBackground: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), white);

$gov-font: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

@mixin scenario-right-arrow {
  height: 100px;
  width: 60px;
  position: absolute;
  z-index: 20;
  right: 0;
  background: $scenarioArrowBackground;
}

@mixin scenario-left-arrow {
  height: 88px;
  position: absolute;
  z-index: 20;
  left: 0px;
  background: $scenarioArrowBackground;
  transform-origin: center;
  transform: rotate(180deg);
}

#scenario-container-depth {
  display: block;
  align-self: flex-end;

  .scenario-arrows {
    display: none;
  }

  @media screen and (max-width: $scenarioArrowPoint) {
    .scenario-arrows {
      display: block;

      .arrow-svg {
        width: 60px;
        height: 100px;
      }
    }
    
    .right-scenario-arrow {
      @include scenario-right-arrow()
    }
    
    .left-scenario-arrow {
      @include scenario-left-arrow()
    }
  }
}

#scenario-container-velocity {
  display: block;
  justify-content: flex-end;

  .scenario-arrows {
    display: none;
  }

  @media screen and (max-width: $scenarioArrowPoint) {
    .scenario-arrows {
      display: block;

      .arrow-svg {
        width: 60px;
        height: 100px;
      }
    }
    
    .right-scenario-arrow {
      @include scenario-right-arrow()
    }
    
    .left-scenario-arrow {
      @include scenario-left-arrow()
    }
  }
}

#scenario-selection-depth {
  display:flex;
}

#scenario-selection-velocity {
  display:flex;
}

@media (max-width: 820px) {
  .horizontal-overflow {
    overflow-x: auto;
    display: block;
    scroll-behavior: smooth;
  }
  .search-container-v3 {
    display: none !important;
  }
  .defra-map-scenarios-depth-v4.dragging {
    scroll-behavior: unset;
  }
  .defra-map-scenarios-depth-v4::-webkit-scrollbar {
    display: none;
  }
  .defra-map-scenarios-depth-v4 .govuk-radios {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: white;
    padding: 5px 0px 0px 0px;
    width: 800px;
  }
}

@media screen and (min-width: 821px) {
  .right-btn {
    display: none;
  }
}

.scenario-float-right {
  right: 0;
  left: auto;
}

.v6-width-fix-depth {
  max-width: 660px;

  @media screen and (max-width: $tablet-width) {
    max-width: 100vw;
  }
}
.v6-width-fix-depth .govuk-radios {
  width: 660px;
}

.defra-map-scenarios .govuk-radios{
  z-index: 15;
  position: relative;
  display: flex;
  width: 660px;
  height: 82px;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: white;
  padding: 5px 0px 0px 0px;
  float: right;

  @media screen and (max-width: $scenarioWidthCap1) {
    width: 55vw;
    text-wrap: nowrap;
    overflow-x: auto;
  }
  @media screen and (max-width: $scenarioWidthCap2) {
    width: 45vw;
    text-wrap: nowrap;
    overflow-x: auto;
  }

  @media screen and (max-width: $tablet-width) {
    width: 100vw;
  }
}

.defra-map-scenarios .govuk-radios__item {
  flex: 1 1 auto;
  font-family: $gov-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.25;
  font-size: 14px;
  padding-left: 54px;
}

.selected-scenario {
  border-bottom: 7px solid rgb(29, 112, 184)
}

.govuk-radios__label {
  display: inline-block;
  text-wrap: nowrap;
  font-size: 16px;
  margin-bottom: 0;
  padding: 8px 15px 5px;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.govuk-radios__input {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: -2px;
  left: -2px;
  width: 44px;
  height: 44px;
  margin: 0;
  opacity: 0;
}

.defra-map-scenarios .risk-context-v3 {
  display: block;
  font-size: 14px;
  padding-top: 2px;
  padding-bottom: 0;
}

.govuk-radios--small .govuk-radios__label {
  margin-top: -2px;
  padding: 13px 15px 10px 1px;
  float: left;
  font-family: $gov-font;
}

// Below is for the radio ring circle
.defra-map-scenarios .govuk-radios--small .govuk-radios__label:before {
  margin-left: 15px;
  margin-top: 8px;
  height: 28px;
  width: 28px;
}

// Below is for the radio dots position
.defra-map-scenarios .govuk-radios--small .govuk-radios__label:after {
  margin-left: 15px;
  margin-top: 8px;
  border-width: 7px;
}
