.icons-buttons ul {
  margin: 0;
  padding-left: 0;
}

.icons-buttons li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0;
}

.icons-buttons li a {
  display: block;
  font-size: 16px;
  line-height: 1.25
}

.icons-buttons li a:before {
  background: #2e3191;
  padding: 5px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  margin-right: 5px;
  text-decoration: none;
}

.icons-buttons li a:hover:before, .icons-buttons li a:focus:before {
  background: #22246a;
}

.icons-buttons li a.twitter:before {
  content: "\ea96";
}

.icons-buttons li a.facebook:before {
  content: "\ea90";
}

.icons-buttons li a.email:before {
  content: "\e945";
}
