$govuk-assets-path: '/long-term-flood-risk/assets/';

@import "node_modules/govuk-frontend/govuk/all";
@import "./legend";
@import "./overlay";

.nojs-hidden {
  display: none;
}

.js-enabled .nojs-hidden {
  display: block;
}

.noscript-iframe {
  display: block;
  margin-top: 30px;
}
.js-enabled .noscript-iframe {
  display: none;
}

.govuk-link--white {
  color: govuk-colour("white")!important;
}

.map-container {
  position: relative;
}

// risk page
#risk-page {
  .govuk-inset-text {
    h3 {
      font-size: 1.5em;
    }
  }

  .govuk-inset-text.high {
    border-left-color: #E3000E
  }
  
  .govuk-inset-text.medium {
    border-left-color: #F18604
  }
}

//  map page
#map-page {
  #progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background: rgba(0, 94, 165, 0.9);
    width: 0;
    transition: width 250ms;
    z-index: 1;
  }
}