$govuk-assets-path: '/assets/';

@import "govuk-frontend/dist/govuk/all";
@import "./legend";
@import "./overlay";
@import "./social";

.nojs-hidden {
  display: none;
}

.js-enabled .nojs-hidden {
  display: block;
}

.noscript-iframe {
  display: block;
  margin-top: 30px;
}

.js-enabled .noscript-iframe {
  display: none;
}

.govuk-link--white {
  color: govuk-colour("white")!important;
}

.map-container {
  margin: 10px 0;
  position: relative;
}

.pull-right {
  float: right;
}

#postcode > dd {
  margin-inline-start: 0;
}

@media print {
  header.govuk-header, footer.govuk-footer, .govuk-phase-banner , .govuk-button {
    display: none;
  }
}