$govuk-assets-path: '/assets/';

@import "node_modules/govuk-frontend/govuk/settings/all";
@import "node_modules/govuk-frontend/govuk/helpers/all";
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro);

.map-container {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: end;
  flex-basis: 100%;
  flex-wrap: wrap;

  .defra-map-key {
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 290px;
    background-color: white;

    #mapKeyLabel {
      font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    }
  }

  #map {
    height: 100%;
    width: 100vw;
  }

  .defra-map-controls {
    position: absolute;
    z-index: 11;
    justify-self: center;
    width: 100%;

    .defra-map__exit {
      width: auto;
      padding: 0 11px 0 0;
      float: left;
      position: absolute;
      margin: 10px 0px 0px 10px;
      border: 0;
      height: 40px;
      background-color: white;
      color: #0b0c0c;
      font-size: 16px;
      line-height: 40px;

      svg {
        display: inline-block;
        margin: 10px;
        vertical-align: top;
      }
    }
  }
  .defra-map__exit:hover {
    background: #f3f2f1;
    cursor: pointer;
  }

  .defra-map__exit:focus {
    outline: 3px solid transparent;
    box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
  }

  #progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background: rgba(0, 94, 165, 0.9);
    width: 0;
    transition: width 250ms;
    z-index: 1;
  }
}

#mapKeyLabel {
  position:fixed;
  background-color: white;
  line-height: 2.125;
  height: 40px;
  width: 100%;
  padding: 0px 18px 0 20px;
  font-size: 19px;
  margin: 0;
  z-index: 15;
}

.defra-map-key__content {
  padding: 0 18px 0 20px;
  width: 270px;
  height: 100%;
  position: fixed; 
  overflow-y: auto;
}

.govuk-fieldset__legend {
  margin-bottom: 10px;
}

.defra-map-key label {
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.defra-map-key__section-title {
  position: relative;
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px !important;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  display: block;
  margin-top: 45px;
  margin-bottom: 0;
  padding: 10px 15px 0px 0px;
  box-sizing: border-box;
  width: 260px;
}

.defra-map-key__section-title::before {
  position: absolute;
  content: "";
  height: 1px;
  top: 0px;
  left: 0px;
  right: 0px;
  border-top: 1px solid #b1b4b6;
}

.govuk-radios__label {
  padding-top: 0;
}

.govuk-radios--small .govuk-radios__item {
  min-height: 0;
  margin-bottom: 0;
  padding-left: 34px;
  float: left;
}

.defra-map-key__symbol-container-v3 {
  position: relative;
  display: block;
  margin-left: 34px;
  margin-left: 0px;
}

.defra-map-key__symbol {
  position: absolute;
  top: -6px;
  left: 0;
  width: 28px;
  height: 28px;
  margin-left: -35px;
  text-indent: -5000px;
  background-size: 25px;
  background-repeat: no-repeat;
  border: 0;
}

.defra-map-key__symbol svg {
  display: block; 
  box-sizing: border-box;
  top: 10px;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

#surface-water-extent-heading {
  padding-left: 34px;
}

.govuk-radios__label {
  font-size: 16px;
}

.risk-context {
  display: block;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 0;
  height: 35px;
  width: 210px;
}

.defra-map-key__symbol-container--multi {
  margin-top: 19px;
}

.defra-map-key__symbol-container-v3 {
  font-size: 16px;
}

.ol-attribution li {
  font-family: "GDS Transport", Arial, sans-serif;
  font-size: 10px
}

.ol-control {
  button:focus {
  outline: 3px solid black;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  }
}

label[for=location] {
  @include govuk-media-query ($until: tablet) {
    margin-top: 10px;
  }
}

.os-api-branding {
  position: absolute;
  bottom: 0;
  margin: 0;
  display: block;
  z-index: 1000;
  pointer-events: none;
}

.os-api-branding.logo {
  left: 0;
  padding: 8px;
  width: 90px;
  height: 24px;
  
  background-image: url('#{$govuk-images-path}os-logo-maps.svg');
  background-size: 90px 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.os-api-branding.copyright {
  right: 0;
  padding: 0 4px;
  font: 10px 'Source Sans Pro', Arial, sans-serif;
  line-height: 16px;
  background: rgba(255, 255, 255, 0.7);
}
.os-api-branding.copyright span {
  margin: 0 4px;
}
.os-api-branding.copyright a:link,
.os-api-branding.copyright a:visited,
.os-api-branding.copyright a:hover,
.os-api-branding.copyright a:active {
  color: #0071bc;
  text-decoration: none;
  pointer-events: all;
  cursor: pointer;
}
.os-api-branding.copyright a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 420px) {
  /* max-width 420px, mobile-only styles */
  .os-api-branding.copyright {
    display: none;
  }
}
