@import "node_modules/govuk-frontend/govuk/settings/colours-applied";

#map-page {
  #progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background: rgba(0, 94, 165, 0.9);
    width: 0;
    transition: width 250ms;
    z-index: 1;
  }

  #error-message {
    color: $govuk-error-colour;
  }

  .ol-attribution li {
    font-family: "GDS Transport", Arial, sans-serif;
    font-size: 10px;
  }
}