#risk-page {
  .govuk-inset-text {
    h3 {
      font-size: 1.5em;
    }
  }

  .no-margin {
    margin: 0 0 10px 0 !important;
  }

  .govuk-inset-text.high {
    border-left-color: #E3000E
  }
  
  .govuk-inset-text.medium {
    border-left-color: #F18604
  }

  .print-summary {
    display: none;
  }

  @media print {
    .print-summary {
      display: block;
    }
  }

  .page-summary {
    display: block;
  }

  @media print {
    .page-summary {
      display: none;
    }
  }
}
