.top-page-links {
  display: flex;
  justify-content: space-between;
}

#search-another-address::before {
  content: none;
}

#risk-page {
  .govuk-inset-text {
    h3 {
      font-size: 1.5em;
    }
  }


  #search-another-address {
    color: #E3000E;
  }

  .chance-content {
    padding-left: 10px;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #b1b4b6;
    font-weight: normal;
    margin-left: 10px;
}

  .govuk-inset-text.high {
    border-left-color: #E3000E;
  }
  
  .no-margin {
    margin: 0 0 10px 0 !important;
  }

  .high {
    border-left: 10px solid #E3000E;
  }
  
  .medium {
    border-left: 10px solid #F18604;
  }

  .low {
    border-left: 10px solid #808080;
  }

  .print-summary {
    display: none;
  }

  @media print {
    .print-summary {
      display: block;
    }
  }

  .page-summary {
    display: block;
  }

  @media print {
    .page-summary {
      display: none;
    }
  }
}
