.govuk-tag--High {
  color: #2a0b06;
  background-color: #f4cdc6;
}
.govuk-tag--Medium {
  background-color: #FFDEBF;
  color: #6e3619;
}
.govuk-tag--Low {
  color: #594d00;
  background-color: #fff7bf;
}
.govuk-tag--Very-Low {
  color: #0c2d4a;
  background-color: #CCE2D8;
}

.chance-content {
  padding-left: 10px;
  border-style: solid;
  border-width: 0 0 0 1px;
  border-color: #b1b4b6;
  font-weight: normal;
  margin-left: 10px;
}

.label-border {
  outline: solid 3px #0b0c0c;
}
.label-mod {
  padding: 8px 12px 8px 12px;
  white-space: nowrap;
}
.risk-label-group {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
.card-title__font-size {
  font-size: 22px;
}
