.govuk-tag--High {
  background-color: #f4cdc6;
}
.govuk-tag--Medium {
  background-color: #fcd6c3;
}
.govuk-tag--Low {
  background-color: #fff7bf;
}
.govuk-tag--Very-Low {
  background-color: #bbd4ea;
}

.chance-content {
  padding-left: 10px;
  border-style: solid;
  border-width: 0 0 0 1px;
  border-color: #b1b4b6;
  font-weight: normal;
  margin-left: 10px;
}
