.govuk-tag--High {
  background-color: #f4cdc6;
}
.govuk-tag--Medium {
  background-color: #fcd6c3;
}
.govuk-tag--Low {
  background-color: #fff7bf;
}
.govuk-tag--Very-Low {
  background-color: #bbd4ea;
}
