<ul class="nav">
  {{#each categories}}
    <li id="{{ref}}" title="{{title}}" class="category">
      <h3>
        <img src="/public/images/icon-{{icon}}.png" alt="icon" class="icon">
        <!-- <img src="/public/images/icon-{{icon}}-selected.png" alt="icon" class="icon-selected"> -->
        <span>{{name}}</span>
      </h3>
      <ul>
        {{#each maps}}
          <li id="{{ref}}" title="{{title}}">
            <span>{{name}}</span>
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
