<!-- Reservoirs -->
<div class="key-item-container" id="reservoirs-section-container">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h3 class="defra-map-key__section-title" id="reservoir-title" ontoken="this.onscrolling = false">
        Reservoirs</h3>
    </legend>

    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="risk-radio govuk-radios__input govuk-radios__inputs extent-radio risk-measurement" id="reservoirs-radio"
          value="{{maps.categories[2].maps[0].ref}}" title="Extent of flooding from reservoirs" name="measurements" 
          type="radio">
        <label class="govuk-label govuk-radios__label" for="reservoirs-radio">
          <span class="bulletpoint__heading" id="reservoirs-extent__heading">Extent</span>
          <div class="extent-desc-container" id="reservoirs-extent-desc-container">
            <span
              class=" defra-map-key__symbol-container-v3 defra-map-key__symbol-container--multi extent-container"
              id="reservoirs-extent-med">
              <span class="defra-map-key__symbol">
                <svg class="risk-square-svg" aria-hidden="true" focusable="false" viewBox="0 0 32 32">
                  <rect class="high-symbol risk-colour-square" x="5" y="5"></rect>
                </svg>
              </span>
              When river levels are normal
            </span>

            <span
              class="defra-map-key__symbol-container-v3 defra-map-key__symbol-container--multi extent-container"
              id="reservoirs-extent-low">
              <span class="defra-map-key__symbol">
                <svg class="risk-square-svg" aria-hidden="true" focusable="false" viewBox="0 0 32 32">
                  <rect class="low-symbol risk-colour-square" x="5" y="5"></rect>
                </svg>
              </span>
              When there is also flooding from rivers
            </span>
          </div>
        </label>
      </div>
    </div>
  </fieldset>
</div>