<!-- Surface water -->
<div id="sw-section-container">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h3 class="defra-map-key__section-title" ontoken="this.onscrolling = false">Surface water</h3>
    </legend>

    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="risk-radio govuk-radios__input govuk-radios__inputs extent-radio risk-measurement" id="sw-extent-radio"
          value="{{maps.categories[1].maps[0].ref}}"
          title="Extent of flooding from surface water" name="measurements" type="radio" checked="">
        <label class="govuk-label govuk-radios__label" for="sw-extent-radio">
          <span class="surface-water-bulletpoint__heading" id="surface-water-extent__heading">Extent</span>

          <div id="sw-extent-desc-container">
            <span
              class="defra-map-key__symbol-container-v3 defra-map-key__symbol-container--multi sw-extent-container"
              id="sw-extent-high">
              <span class="defra-map-key__symbol">
                <svg class="risk-square-svg" aria-hidden="true" focusable="false" viewBox="0 0 32 32">
                  <rect class="high-symbol risk-colour-square" x="5" y="5"></rect>
                </svg>
              </span>
              <span id="risk-severity">High</span>
              <span class="risk-context">More than 3.3% chance each year</span>
            </span>

            <span
              class="defra-map-key__symbol-container-v3 defra-map-key__symbol-container--multi sw-extent-container"
              id="sw-extent-med">
              <span class="defra-map-key__symbol">
                <svg class="risk-square-svg" aria-hidden="true" focusable="false" viewBox="0 0 32 32">
                  <rect class="medium-symbol risk-colour-square" x="5" y="5"></rect>
                </svg>
              </span>
              Medium
              <span class="risk-context">Between 1% and 3.3% chance each year</span>
            </span>

            <span
              class="defra-map-key__symbol-container-v3 defra-map-key__symbol-container--multi sw-extent-container"
              id="sw-extent-low">
              <span class="defra-map-key__symbol">
                <svg class="risk-square-svg" aria-hidden="true" focusable="false" viewBox="0 0 32 32">
                  <rect class="low-symbol risk-colour-square" x="5" y="5"></rect>
                </svg>
              </span>
              Low
              <span class="risk-context">Between 0.1% and 1% chance each year</span>
            </span>

          </div>
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="risk-radio govuk-radios__input govuk-radios__inputs risk-measurement" id="sw-depth-radio"
          value="{{maps.categories[1].maps[1].ref}}" name="measurements"
          title="Surface water flood risk: water depth in a high risk scenario" type="radio">
        <label class="govuk-label govuk-radios__label" for="sw-depth-radio">
          <span class="surface-water-bulletpoint__heading" id="surface-water-depth__heading">Depth</span>

          <div id="sw-depth-desc-container" class="hide">
            <span
              class="defra-map-key__symbol-container-v3 defra-map-key__symbol-container--multi sw-depth-container"
              id="sw-depth-above-90">
              <span class="defra-map-key__symbol">
                <svg class="risk-square-svg" aria-hidden="true" focusable="false" viewBox="0 0 32 32">
                  <rect class="high-symbol risk-colour-square" x="5" y="5"></rect>
                </svg>
              </span>
              <span id="surfacewater-depth-above-90">Above 90cm</span>
            </span>

            <span
              class="defra-map-key__symbol-container-v3 defra-map-key__symbol-container--multi sw-depth-container"
              id="w-depth-30-90">
              <span class="defra-map-key__symbol">
                <svg class="risk-square-svg" aria-hidden="true" focusable="false" viewBox="0 0 32 32">
                  <rect class="medium-symbol risk-colour-square" x="5" y="5"></rect>
                </svg>
              </span>
              <span id="surfacewater-depth-30-90">30cm to 90cm</span>
            </span>

            <span
              class="defra-map-key__symbol-container-v3 defra-map-key__symbol-container--multi sw-depth-container"
              id="sw-depth-below-30">
              <span class="defra-map-key__symbol">
                <svg class="risk-square-svg" aria-hidden="true" focusable="false" viewBox="0 0 32 32">
                  <rect class="low-symbol risk-colour-square" x="5" y="5"></rect>
                </svg>
              </span>
              <span class="surfacewater-depth-below-30">Below 30cm</span>
            </span>
          </div>
        </label>
      </div>

      <div class="govuk-radios__item showing advanced-map-option" id="sw-velocity-section-container">
        <input class="risk-radio govuk-radios__input govuk-radios__inputs risk-measurement" id="sw-velocity-radio"
          value="{{maps.categories[1].maps[2].ref}}" name="measurements"
          title="Surface water flood risk: water velocity in a high risk scenario" type="radio">
        <label class="govuk-label govuk-radios__label" for="sw-velocity-radio">
          <span class="surface-water-bulletpoint__heading" id="surface-water-velocity__heading">Velocity</span>

          <div id="sw-velocity-desc-container" class="hide">
            <span
              class="defra-map-key__symbol-container-v3 defra-map-key__symbol-container--multi sw-velocity-container"
              id="sw-velocity-more">
              <span class="defra-map-key__symbol">
                <svg class="risk-square-svg" aria-hidden="true" focusable="false" viewBox="0 0 32 32">
                  <rect class="high-symbol risk-colour-square" x="5" y="5"></rect>
                </svg>
              </span>
              <span id="risk-severity">More than 0.25 m/s</span>
              <span class="risk-context">Metres per second</span>
            </span>

            <span
              class="defra-map-key__symbol-container-v3 defra-map-key__symbol-container--multi sw-velocity-container"
              id="sw-velocity-less">
              <span class="defra-map-key__symbol">
                <svg class="risk-square-svg" aria-hidden="true" focusable="false" viewBox="0 0 32 32">
                  <rect class="low-symbol risk-colour-square" x="5" y="5"></rect>
                </svg>
              </span>
              <span class="surfacewater-depth-below-30">Less than 0.25 m/s</span>
            </span>

            <span
              class="defra-map-key__symbol-container-v3 defra-map-key__symbol-container--multi sw-velocity-container"
              id="sw-velocity-arrow">
              
              <div id="direction-desc" class="defra-map-key__symbol arrow-symbol"></div>
              <span id="velocity-text">Direction</span>
            </span>
          </div>
        </label>
      </div>

    </div>
  </fieldset>
</div>