ol {
  margin-left: -20px;
  list-style-type: none;
}
.feature {
  margin-left:-20px;
  margin-bottom: 35px;
  padding: 10px;
  border-left: 20px solid grey;
}
.nested-list {
  display: none;
  border-left: 10px solid grey;
  margin-left: 5px;
  padding-left: 5px;
}
.end-date.div {
  margin-bottom: 5px;
}
.govuk-form-group.info {
  width: 100%;
}
.govuk-textarea {
  margin-bottom: 5px;
}

