.array-item {
  margin-bottom: 27px;
  border-left: 20px solid grey;
  padding-left: 10px;
  display: list-item;
  list-style: none;
}

legend {
  display: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.govuk-form-group {
  float: left;
}

.govuk-form-group.name, .govuk-form-group.boundary {
  float: none;
}

.govuk-form-group.info {
  width: 100%;
}

.govuk-form-group.info .govuk-textarea {
  margin-bottom: 0;
}

.govuk-form-group.start {
  margin-right: 1%;
}

.govuk-form-group.end {
  margin-right: 1%;
}

label.control-label {
  font-weight: bold;
}

#error-message {
  display: none;
  clear: both;
}
