@import 'conditionals';
@import "../branding";
@import "../message";

#search-page {
  #banner {
    display: none;
  }

  h1.heading-xlarge {
    margin-bottom: 30px;
  }

  .postcode-display {
    display: inline-block;
    margin: 0 10px 20px 0;
    text-transform: uppercase;
  }

  .button {
    @include media(mobile) {
      width: 100%;
    }
  }

  .error-message {
    display: none;
  }

  form.invalid {
    .error-message {
      display: block;
    }
  }
}
